<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 448 277.4" style="enable-background:new 0 0 448 277.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;stroke:#E7E9ED;stroke-miterlimit:10;}
	.st1{fill:#FAE9EB;stroke:#F78DA2;stroke-miterlimit:10;}
	.st2{fill:#F1EDF7;stroke:#A989E8;stroke-miterlimit:10;}
	.st3{fill:#E2F4F3;stroke:#7AE5DD;stroke-miterlimit:10;}
</style>
<path class="st0" d="M241,134.8c0-0.3-0.1-0.6-0.1-0.9c0,0,0,0,0,0c0,0,0,0,0,0c-0.1-0.3-0.2-0.5-0.3-0.8c0,0-0.1,0-0.1,0
	c-1-1.7-3.1-2.8-2.9-5.2c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0.1-0.1l0,0c0.1-0.6,0-1.1-0.4-1.6c-0.5-1-1.6-1.6-2.6-2.3
	c-0.2-0.1-0.4-0.1-0.5,0c0,0,0-0.1,0-0.1c-0.4,0.3-1,0.3-1.8,0.3c-16.7-0.5-33.3-1.1-50-1.6c-0.6,0-1-0.1-1.2-0.3c0,0-0.1,0-0.1,0
	c-0.4,0.2-0.7,0.4-0.9,0.8c-0.5,7.5-0.9,14.9-1.3,22.4c0,0.3-0.2,0.7-0.1,1.1c0,0.6,0,1.3-0.1,1.9c-0.1,0.7-0.2,1.4-0.1,2.2
	c-0.1,1.1-0.2,2.2-0.2,3.3c0,0.5-0.1,0.9-0.3,1.1c0.1,0.2,0.1,0.3,0.3,0.5c0,0,0.1,0.1,0.1,0.1c3.2,0.1,6.3,0.2,9.5,0.3
	c0.5,0.1,0.9,0.2,1.4,0.2c0.4,0,0.7,0,1,0l1.5,0c0.7,0,1.5-0.1,2.2-0.1c15.2,0.3,30.4,0.6,45.6,0.8c0.4,0,0.7,0.1,0.9,0.2
	c0-0.2,0-0.5,0-0.7c0.3-0.2,0.5-0.5,0.5-1.2C240.9,148.2,240.9,141.5,241,134.8z"/>
<path class="st0" d="M299.8,133.4c-0.2-0.5-0.4-1.1-0.7-1.6c-0.2-2.9,0-5.7-0.3-8.6c-0.7-6-0.9-12-1.4-18c0-0.5-0.1-1,0.1-1.3
	c-0.1-0.3-0.2-0.6-0.3-0.9c-0.4-1.2-0.8-2.3-1.2-3.4c-0.6-1.5-1.2-3-1.5-4.5c-0.1-0.4-0.3-0.6-0.5-0.8c-0.1,0.1-0.1,0.2-0.2,0.3
	c-0.1,0.1-0.3,0.2-0.4,0.3c-0.2,0-0.5,0-0.7,0c-6.3,0.4-12.7,0.8-19,1.1c-0.4,0-0.7,0.1-0.8,0.3c-0.1,0.1-0.2,0.3-0.2,0.6
	c0.4-0.1,0.7,0.1,0.8,0.4c0.6,0.3,0.5,0.8,0.4,1.2c0.6,0,1.1,0.1,1.2,0.9c1.4,0.8,1.5,1.5,0.4,2.9c0.1,0.4,0,0.7-0.4,0.9
	c0,0.3-0.2,0.4-0.4,0.5c-0.1,0.6-0.2,1.1-0.3,1.7c0,0,0,0,0,0c-0.5,0.5-0.8,1.4-1.8,1.2c0.1,0.4-0.2,0.4-0.5,0.4c0,0,0,0,0,0
	c-0.9,0.7-1.8,0.8-2.9,0.8c0.1,0.3-0.1,0.5-0.4,0.4c0,0.7,0,1.4,0,2.1c1.6,0.9,1.5,2,0.4,3.3c0.1,0.6-0.1,1.1-0.8,1.3
	c0.3,0.5-0.1,0.7-0.4,1c-0.2,0.1-0.4,0.3-0.6,0.4l0,0.1l0-0.1c-0.1,0-0.1,0.1-0.2,0.1c-0.3,0.2-0.5,0.6-0.6,1l0,0
	c0.4,0.4,0.7,0.8,0.5,1.5c0,0.1-0.1,0.2-0.1,0.3c-0.2,0.3-0.6,0.4-0.9,0.4c0,0,0,0,0,0c0.1,0.3,0.1,0.6,0.1,0.9c0,0,0,0.1,0,0.1
	c0,0,0,0,0,0c-0.1,0.2-0.2,0.5-0.1,0.7c0,0.2,0,0.3,0,0.5c0,0.3,0,0.7,0.1,1c0.1,1,0.3,1.9,0.8,2.8c0,0,0,0,0,0.1
	c0.3,0.5,0.6,1,1,1.5c1.9,2,3.4,4.3,5.1,6.4c0.1,0.3,0.2,0.6,0.3,0.8c0,0,0,0,0,0.1c0.2,0.1,0.4,0.2,0.7,0.2
	c1.1,0.7,2.3-0.4,3.1,0.3c0.2,0.2,0.4,0.5,0.5,0.7c0.2,0.5,0.4,1.4,0.5,2.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3
	c0,1.3-0.3,2.6,0,3.9c-0.3,1.1,0.9,2,1.8,2.5c0.9,0.5,2,0.7,2.9,1.2c0.1,0,0.1,0.1,0.2,0.1c0.1,0.1,0.1,0.1,0.2,0.1
	c0.2,0.2,0.4,0.4,0.5,0.6c0.1,0.6,0.3,1.2,0.6,1.8c0.1,1.1,0.2,2.3,0.4,3.2c0,0.1-0.1,0.2,0,0.3c0.3,0.6,0.4,1.2,1,1.7
	c0.1,0.1,0.4,0.2,0.6,0.1c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.3,0c-0.1-0.3-0.1-0.6-0.1-0.9
	c0.2-0.2,0.4-0.5,0.5-0.8c0.2-0.5,0.4-0.8,0.6-1c1.6-0.7,2.6,1.4,4.2,1.3h0.2c0,0,0,0,0,0c0.2-0.1,0.3-0.2,0.3-0.4
	c0.3-0.4,0.4-0.8,0.2-1.3c-0.8-1.8-0.1-2.6,1.7-2.8c0.7-0.1,1.1-0.5,1-1.2c-0.1,0-0.1-0.1-0.1-0.1c0.5-1,0.9-2.1,1-3.2c0,0,0,0,0,0
	c0,0,0,0,0,0c0-0.1,0-0.2,0-0.3c0.1-1.1,0.1-2.1,0.1-3.1c0.5-0.7,1.2-1.1,1.6-1.9c0.8-1.4,1.4-2.8,1.6-4.4
	C300,133.9,299.9,133.6,299.8,133.4z"/>
<g>
	<path class="st0" d="M328,70.7c0,0-1,2.1-1,3.1c0-7.2,1-13.4-5.4-18.5c-0.1-0.1-0.2-0.1-0.3-0.2c0.4,0,0.8-0.1,1.1-0.5
		c0.3-0.3,0.4-0.7,0.3-1.2c-0.1-0.7-0.6-1.2-1.4-1.2c-0.2,0-0.5,0.1-0.7,0.1c-0.3,0.1-0.6,0.2-0.9,0.2c-0.8,0-1.4-0.5-2.2-1.5
		c-0.8-1.1-1.8-1.7-3.2-1.7c-0.4,0-0.8,0-1.3,0.1c-0.7,0.1-1.3,0.2-1.6,0.2c-0.3,0-0.4,0-0.8-1.8c-0.1-0.4-0.3-1.4-1.3-1.4
		c-0.2,0-0.5,0.1-0.8,0.2c-1.3,0.7-2.7,1-4.2,1.3c-1.1,0.2-2.2,0.5-3.2,0.9c-1.3,0.5-2.4,1.3-3.1,2.4c-0.9-0.5-1.8-0.7-2.6-0.7
		c-0.5,0-1,0.1-1.4,0.2c-0.2,0.1-0.4,0.1-0.5,0.1c-0.2,0-0.5,0-0.8-0.6c-0.9-1.4-2.2-2-3.4-2.6c-0.1-0.1-0.3-0.1-0.4-0.2
		c-0.5-0.2-0.9-0.3-1.4-0.3c-0.8,0-1.5,0.4-2.2,0.9c0.4-1.4,1.4-2.4,2.5-3.4c0.7-0.7,1.4-1.4,1.9-2.2c0.2-0.2,0.2-0.6,0.1-0.8
		c-0.1-0.3-0.4-0.4-0.7-0.5c-0.2,0-0.4,0-0.5,0c-2.2,0-3.5,1.2-4.8,2.3c-0.3,0.3-0.6,0.5-0.9,0.8c-3.5,2.8-7.5,5-12,7.3
		c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.1,0.2-0.1,0.3c-0.1,0.2,0,0.4,0.1,0.6c0,0,0,0,0,0c0.6,0.3,1.2,0.4,1.8,0.3
		c-0.1,0.4-0.1,0.7,0.4,0.8c-0.1,1,0.6,1.2,1.3,1.3c1.1,0.2,2.3,0.4,3.4,0.6c1.3,0.2,2.6,0.4,3.9,0.6c0.1,0.2,0.2,0.5,0.5,0.4
		c-0.1,0.4,0.1,0.7,0.5,0.8l0,0l0,0c0,0,0,0,0,0c2.1,0.9,4.8-0.3,6.6,2.3c0.6,0.9,1.4,1.3,1.1,2.5c-0.1,0.5-0.4,1.5-0.1,1.5
		c0.4,0,0.6,0.1,0.8,0.2c-4.5,3.9-7.2,10.8-6.7,16.8c0,0.1,0,0.2,0,0.4c6,2.8,10.2,6.8,10.2,13.8c0,2.2,2.7,8,2.7,8
		c3.3,0,6.5,1,9.2,2.7c9.5-1.3,21.1-0.6,24.7-9.6c0.5-1.1,0.8-2.4,1-3.9c0.9-0.8,1.6-1.7,2.1-2.5c0.5-0.9,0.9-1.8,1.1-2.7
		C335.3,81,335.3,71.7,328,70.7z"/>
	<path class="st0" d="M394.6,139.6C394.6,139.6,394.6,139.6,394.6,139.6c0.1-0.1,0.2-0.1,0.3-0.2
		C394.7,139.4,394.5,139.5,394.6,139.6C394.5,139.6,394.5,139.6,394.6,139.6z"/>
	<path class="st0" d="M287.7,226.7c-0.3,0-0.5-0.1-0.8-0.1c0,0,0,0.1,0,0.1c0,0.3,0.1,0.6,0.4,0.8c0.1,0,0.1,0.1,0.2,0.1
		c0,0,0,0,0,0c0.4,0.4,0.5,1,0.4,2c0,0,0.1,0,0.1-0.1c0.8-0.7,1.5-1.3,2.3-1.8c-0.3,0.1-0.5,0.2-0.8,0.2c-0.4,0-0.8-0.1-1.1-0.3
		c0.2-0.1,0.5-0.3,0.6-0.6c-0.2-0.1-0.5-0.3-0.7-0.5l0,0l0,0C288.1,226.6,287.9,226.7,287.7,226.7z"/>
	<path class="st0" d="M404.1,98.2c-0.1,0.1-0.1,0.4,0,0.5c0,0,0,0,0.1,0c0.1,0,0.3-0.1,0.5-0.2c0.3-0.2,0.6-0.3,0.8-0.4
		c-0.4-0.1-0.7-0.2-0.9-0.4C404.4,97.9,404.3,98,404.1,98.2z"/>
	<path class="st0" d="M282.9,228.5c0,0,0.1,0,0.2,0c0.4-0.1,0.9-0.3,1.3-0.4c0.2-0.1,0.3-0.1,0.5-0.2c0.2-0.1,0.3-0.1,0.5-0.2
		c0.3-0.1,0.5-0.3,0.8-0.3c-0.7-0.2-1.4-0.4-2.1-0.7c-0.2-0.1-0.4-0.1-0.6-0.1c-0.3,0-0.7,0.1-1.3,1.2c-0.1,0.1-0.1,0.3,0,0.5
		C282.3,228.3,282.6,228.5,282.9,228.5z"/>
	<path class="st0" d="M168.7,68.4c0,0.2,0,0.5-0.1,0.7c-0.5,6.1-0.9,12.1-1.5,18.2c-0.1,0.8,0,1.2,0.3,1.5c0.2,0.2,0.6,0.3,1.2,0.3
		c3.1,0,6.2,0.3,9.3,0.4c0.3,0,0.5,0,0.9,0.1c1.4,0.1,2.8,0.2,4.3,0.3l0,0c2.9,0.2,5.9,0.3,8.8,0.5c0,0,0.1,0,0.1,0
		c2.3,0,4.6,0.3,6.9,0.3c1.2,0,2.4,0,3.7,0l3.2,0.2c1.1,0.1,2.2,0.4,3.3,0.5c0.5,0,1.1,0.1,1.5,0.5c0.2,0.3,0.3,0.6,0.4,0.9
		c0.1,0.4,0.4,0.5,0.6,0.5c0.4-0.1,0.9-0.3,1.3-0.3c0.5-0.1,0.9-0.1,1.3,0.2c0.4,0.2,0.5,0.7,0.7,1.1c0.2,0.2,0.4,0.4,0.7,0.6
		c0.1,0,0.2,0,0.2,0c0.6,0,1.1-0.2,1.6-0.4c0.1,0,0.1-0.1,0.2-0.1c0.2-0.1,0.3-0.1,0.5-0.1c0,0,0.1,0,0.1,0c0.5-0.4,1-0.4,1.6,0
		c0.8,0.1,1.5,0.5,2.1,0.9c0.9,0.1,1.7,0.1,2.6,0.1c0.1,0,0.2,0,0.3,0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3c2-1.2,0.9-1.2,0.4-2.8
		c0-0.1,0.1-0.2,0.2-0.2c0,0,0.1-0.1,0.2-0.1c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.2,0-0.2c0-0.2,0.1-0.7,0-1.2c0-0.1,0-0.1,0-0.2
		c0.1-1.2,0.1-2.3,0.1-3.1c0-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.2-0.1-0.3c0.3-1.6,0.5-3.1,0.4-4.7c-0.2-3.9-0.1-7.8-0.1-11.8
		c0-0.8,0.1-1.5-0.4-2.2c-0.6-0.6-1.1-1.2-1.5-1.8c-0.5-1-0.5-2.1,0.7-3.4l0,0c0.1-0.5,0-0.8-0.2-0.9c0,0,0-0.1,0-0.1
		c0,0-0.1,0.1-0.1,0.1c-0.3-0.1-0.6,0-0.9-0.1c-11.3-0.6-22.5-1.1-33.8-1.7c-5.4-0.3-10.8-0.6-16.1-0.9c-0.2,0-0.5-0.2-0.7-0.3
		c-0.5,0-0.9-0.1-1.4-0.1c0,0,0,0,0,0c-0.8-0.1-1.2,0-1.4,0.3c-0.2-0.2-0.4-0.4-0.6-0.6c-0.1,0.1-0.1,0.1-0.2,0.2c0,0.2,0,0.4,0,0.6
		c-0.1,0.8-0.3,1.7-0.4,2.6c0,0,0,0,0,0c0,0.4,0,0.7-0.1,1.1c0,0.7-0.1,1.3-0.2,2c-0.2,0.8-0.3,1.6-0.3,2.3c0,0.6-0.2,0.9-0.4,1.1
		c0,0,0,0.1,0,0.1C168.3,67.8,168.6,68,168.7,68.4z"/>
	<path class="st0" d="M290.3,227.7c-0.7,0.6-1.5,1.2-2.3,1.8c0,0-0.1,0.1-0.1,0.1c0.1-1,0-1.6-0.4-2c0,0,0,0,0,0
		c-0.1,0-0.1-0.1-0.2-0.1c-0.3-0.2-0.4-0.5-0.4-0.8c0,0,0-0.1,0-0.1c0.3,0.1,0.5,0.1,0.8,0.1c0.2-0.1,0.4-0.2,0.6-0.3l0,0
		c0-0.2,0-0.4-0.1-0.6c0-0.4-0.1-0.7-0.2-0.7c-1.3-0.3-1.6-1.1-1.6-1.9c0-0.1,0-0.1,0-0.2c0-0.2,0-0.3,0-0.5c0-0.2,0-0.5,0-0.7
		c0-0.1,0-0.1,0-0.2c0-0.4,0-0.9-0.3-1.2c0-0.1-0.1-0.1-0.1-0.2c0-0.4,0.7-0.7,0.8-1.1c-0.2,0-0.4,0.1-0.4-0.2
		c-1.8,0.1-3.6,0.2-5.4,0.3c-0.7,0-1.5,0.5-2-0.3l-3.3,0c-1.7,1.1-3.7,0.6-5.6,0.8c-0.3-0.2-0.5-0.5-0.6-0.8c0,0,0-0.1,0-0.1
		c0.1-2.6,0.7-5.1,2-7.4c0,0,0,0,0,0l0,0l0,0l0,0l0,0c0.1-0.9,0.3-1.7,1.3-2.1c0.2-1.1-0.2-2.4,1.3-2.9c0.8-0.5,0.3-1.3,0.4-2
		c-0.5-0.1-0.5-0.5-0.4-0.8c-0.1-0.1-0.3-0.2-0.4-0.3c-0.4-1.5-0.4-3.4-1.5-4.3c0-0.1,0-0.2-0.1-0.3c-0.1,0-0.1,0.1-0.2,0.1
		c-1.1-0.7-3-0.2-4.6-0.1c-2,0-4,0.1-6,0.2c-0.5,0.1-0.9,0.1-1.4,0.2c-0.1,0-0.3,0-0.4,0c-0.8,0-1.6-0.1-2.5-0.1
		c-0.9,0-1.7,0-2.5,0.1c-0.4,0-0.9,0-1.3,0c-1.6,0-3.3,0.1-4.9,0c-0.4,0-0.6,0-0.8,0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0
		l-0.9-0.1c0.1,2,0.6,5.2,0.7,7.2c0.1,0.8,0.2,1.6,0.4,2.4c0.3,1.4,1,2.6,1.4,4c0.2,0.7,0.5,1.4,0.8,2.1c0,0,0,0,0.1,0.1
		c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0.4,0.1,0.5,0.4,0.4,0.8c0,0,0,0-0.1,0c0,0.1,0.1,0.2,0.1,0.3c0-0.1,0-0.1,0-0.2
		c0.5,0.2,0.5,0.6,0.4,1c0.1,0.2,0.1,0.3,0.2,0.5c0,0.1,0.1,0.2,0.1,0.3c0.1,0.1,0.1,0.2,0.1,0.4c0.1,0.2,0.1,0.5,0.2,0.7
		c0.7,1.3,0.8,2.6,0.3,4c-0.3,1.1-0.9,2.2-0.9,3.3c-0.1,1.6,0.1,3.4-0.4,4.9c-0.3,1.1-1.4,3-1.4,3s-0.4,0.9-0.3,0.9
		c-0.1,0.2,0.2-0.1,0.1-0.1c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0.7-0.1,1.4-0.3,2.1-0.4c1.1-0.2,2.2-0.4,3.2-0.6
		c0.3-0.1,0.6-0.1,0.9-0.1c0.4,0,0.8,0.1,1.2,0.3c2.5,1.1,5.2,1.7,8.3,1.7c0.3,0,0.6,0,0.9,0c0.3,0,0.6-0.2,0.7-0.5
		c0.3-0.6,0-1.1-0.3-1.4c0.1-0.1,0.3-0.2,0.4-0.3c0.2-0.2,0.5-0.4,0.6-0.6c0.5,0.4,1.1,0.5,1.6,0.6c1,0.2,1.2,0.3,1.3,1
		c0.1,0.7,0.9,1.4,1.6,1.4c0,0,0,0,0.1,0c0.1,0,0.1,0,0.2,0c1,0,1.5,0.6,2.2,1.6c0.2,0.3,0.4,0.6,0.7,0.9c0.8,0.9,1.8,1.3,2.9,1.3
		c1,0,2-0.4,2.8-1.1c0.4-0.3,0.8-0.5,1.2-0.5c0.3,0,0.5,0.1,0.7,0.4c0.3,0.5,0.9,1.1,1.6,1.1c0.9,0,1.3-1,1.6-1.6
		c0.2-0.5,0.2-1,0.1-1.4c0-0.2,0-0.4,0-0.5c0-0.2,0.1-0.3,0.2-0.3c0.7,1,1.8,1.5,2.7,1.8c1.2,0.5,1.9,0.8,2.2,1.7
		c0.2,0.6,0.7,0.9,1.2,0.9c0.4,0,0.8-0.2,1-0.3c0.5-0.3,1-0.5,1.5-0.8l0.8-0.4c0.3-0.1,0.5-0.4,0.4-0.7c0-0.3-0.2-0.6-0.5-0.7
		c-0.6-0.3-1.3-0.6-1.9-0.8c-1.4-0.6-2.6-1.1-3.6-2c-0.5-0.5-0.5-0.7-0.5-0.7c0,0,0.1-0.2,0.4-0.3c0.7-0.4,1.1-0.9,1.5-1.4
		c0.4-0.5,0.8-0.9,1.3-1.2c1-0.4,1.2-1.3,0.7-2.5c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.7-0.6-1.1-1.3-1.1c-0.2,0-0.4,0-0.5,0.1
		c-0.1,0.1-0.2,0.1-0.3,0.2C290.9,227.4,290.6,227.6,290.3,227.7z M282.1,227.7c0.6-1.1,1-1.2,1.3-1.2c0.2,0,0.4,0,0.6,0.1
		c0.7,0.3,1.4,0.5,2.1,0.7c-0.3,0.1-0.6,0.2-0.8,0.3c-0.2,0.1-0.3,0.2-0.5,0.2c-0.2,0.1-0.3,0.1-0.5,0.2c-0.5,0.2-0.9,0.4-1.3,0.4
		c-0.1,0-0.1,0-0.2,0c-0.3,0-0.6-0.1-0.7-0.4C282.1,228,282.1,227.8,282.1,227.7z"/>
	<path class="st0" d="M226.6,192C226.6,192,226.6,192,226.6,192c0.3,0,0.3-0.2,0.2-0.4c-0.1,0-0.3,0-0.4,0
		C226.4,191.8,226.4,192,226.6,192z"/>
	<path class="st0" d="M241.8,191.8c0-0.1,0-0.1,0-0.2c0,0,0.1,0,0.1,0c0.2-0.1,0.3-0.3,0.3-0.7c0-1.4,0-2.9,0-4.3c0-0.3,0-0.5,0-0.8
		c0-0.1,0-0.2,0-0.3c0-0.3,0-0.5,0-0.8c0.4-4.4,0.4-8.8,0.2-13.2l0,0c-0.2-1.3-0.6-2.5-0.8-3.8c-0.2-1.1-0.2-2.3-0.4-3.5
		c0-0.2-0.1-0.5-0.1-0.7c0,0,0,0,0-0.1c0,0,0,0,0,0c-0.1-0.7-0.2-1.4-0.2-2.1c-0.1-1.1-0.1-2.2,0-3.3c0-0.7-0.1-1-0.5-1.2
		c-0.2-0.1-0.5-0.2-0.9-0.2c-15.2-0.2-30.4-0.5-45.6-0.8c-0.7,0-1.5,0.1-2.2,0.1l-1.5,0c-0.3,0-0.7,0-1,0c-0.5,0-0.9-0.1-1.4-0.2
		c-3.2-0.1-6.3-0.2-9.5-0.3c-1.5,0-2.9-0.1-4.4-0.1c-0.3,0-0.7,0.1-1,0c-1.2-0.5-1.9-0.4-2.4,0.1c-0.1,0-0.1,0-0.2,0
		c0,0.1,0,0.2,0,0.2c-0.3,0.5-0.4,1.2-0.5,1.9c-0.1,0.7-0.2,1.5,0.3,2c0,0.1,0,0.1,0,0.2c0,0.2-0.1,0.5-0.1,0.7c0,0,0,0,0.1,0
		c0.1-0.1,0.2-0.2,0.3-0.2c0.8,0,1.6,0.1,2.4,0.1c6.6,0.5,12.8,0.9,19,1.3c3.7,0.3,3.7,0.3,3,4c0,0.4,0,0.7,0,1.1
		c-0.1,3.9-0.3,7.9-0.4,11.8c0,0,0,0,0,0c-0.2,0.9-0.3,1.7-0.1,2.5c0,0.3,0,0.7,0.3,0.9c0.3,0.6,0.7,1.1,1.4,1.6
		c1.9,1.4,4.4,1.8,6.7,2.4c2.6,0.7,5.5,1.1,7.9,2.3c0.2,0.1,0.5,0.3,0.6,0.4c0.1,0.1,0.1,0.1,0.2,0.2c0.3,0.2,0.5,0.5,0.8,0.8
		c0.2,0.6,0.4,1.1,1.2,1.1c0.3,0,0.5-0.1,0.7-0.2c0.2-0.1,0.4-0.2,0.6-0.5c0.6-0.8,1.2-0.6,2-0.2c0.3,0.1,0.6,0.3,1,0.3
		c0.7,0.1,1,0.5,1.3,1c0,0.2,0,0.3,0,0.5c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1c0.1,0,0.1-0.1,0.2-0.1
		c0.1-0.2,0.2-0.4,0.2-0.8c0,0-0.1,0-0.1,0c0,0,0,0,0-0.1c0-0.1,0-0.1,0.1-0.2c0,0.1,0,0.1,0,0.2c0.1-0.1,0.2-0.3,0.4-0.4
		c0.4-0.1,1.1,0.2,1.4,0.3c0.1,0,0.2,0.1,0.2,0.1c0.2,0.1,0.4,0.2,0.6,0.1c0.1,0,0.1,0,0.2,0c0.5,0,1,0,1.5,0.1
		c0.4,0.2,0.8,0.4,1.2,0.5c0.4,0.1,0.8,0.2,1.2,0.1c0,0,0,0,0,0c0.4,0.1,0.8-0.1,1.1-0.3c0.7-0.2,1.5-0.4,2.3-0.5
		c0.3,0,0.6,0,0.8-0.1c0.1,0,0.2,0,0.3,0c1-0.1,2-0.1,3.1-0.2c0.2,0,0.4,0,0.6-0.1c0.9-0.5,1.6-0.5,2.3-0.3c0,0.1,0.1,0.2,0.2,0.2
		c0.4,0.1,0.9,0.3,1.3,0.4c0.5,0.2,1,0.5,1.5,0.7c0,0,0,0,0,0c0.4,0.2,0.7,0.5,1.2,0.7c0.1,0.2,0.3,0.4,0.6,0.4
        C241.9,192.2,241.8,192.1,241.8,191.8L241.8,191.8z"/>
        <g class="line">
            <path class="st1" id="st1" d="M133.7,206.8c-0.2-0.1-0.2-0.4-0.2-0.6c0.1-0.2,0.2-0.3,0.3-0.3c0.1-0.2,0.2-0.2,0.4-0.2c0.1,0,0.3,0,0.5,0
                c1.4,0,2.9-0.1,4.3,0.1c8.3,0.8,16.7,1.5,25,2.4c0.2,0,0.4,0,0.6,0c0.6-0.2,1-0.5,1.3-0.9c0-0.2,0.1-0.4,0.1-0.7
                c0.1-2.5,0.4-5,0.6-7.4c0-0.7,0-1.5,0-2.2c0.9-5.7,1.1-11.4,1.5-17.1c0-0.7,0.1-1.3,0.1-2c0.7-2.5,0.2-5.2,0.8-7.8v0
                c0.1-1.2,0.2-2.3,0.2-3.5c0.1-1,0.1-1.9,0.2-2.9c0.5-0.9-0.1-2.4,0.6-3.2c0,0,0-0.1,0-0.1c0-0.2,0.1-0.5,0.1-0.7c0-0.1,0-0.1,0-0.2
                c-0.5-0.4-0.4-1.3-0.3-2c0.1-0.7,0.2-1.4,0.5-1.9c0-0.1,0-0.2,0-0.2c-0.3,0-0.6,0-0.9,0c-0.2-0.4-0.6-0.6-1.5-0.5
                c-0.4,0-0.8-0.1-0.9-0.7c-0.5,0.1-1.1,0.2-1.6,0.2c-5.3-0.6-10.5-1.1-15.8-1.7c-4.6-0.5-9.2-1-13.8-1.6c-0.7-0.1-0.8-1.3-1.3-2.1
                c-0.4,0.1-1.6,1.6-2,1.6c-4-0.4-7.9-0.8-11.9-1.3c-0.5-0.1-1.3,0-1.5-0.1c0,0,0,0-0.1,0c0,0.1-0.1,1-0.2,1.4
                c-0.1,0.7-0.1,1.4-0.3,2.1c0,1.7-0.6,3.4-0.7,5.1c-0.1,1.8-0.5,3.6-0.8,5.3c0,0,0,0.1,0,0.1c-0.2,1.8-0.5,3.6-0.7,5.4
                c0,0,0,0-0.1,0c0,0.1,0,0.3-0.1,0.4c-0.3,1.4-0.3,2.9-0.5,4.3c0,0.1,0,0.2,0,0.3c-1.6,11.2-3.1,22.4-4.7,33.7
                c-0.1,0.5-0.1,0.9,0.1,1.1c-0.1,0.3-0.3,0.5-0.5,0.7c0.4,0.5,1,0.6,1.5,0.6c1.6,0.1,3.1,0.3,4.6,0.6c0.3,0,0.5,0.1,0.7,0.1
                c0.5,0,1-0.2,1.3-0.5c0.5-0.5,0.5-1.2,0.5-1.6c0-0.2,0-0.5,0.1-0.7c0.1-0.3,0.2-0.7,0.1-1.2c0-0.3,0-0.4,0-0.5c0,0,0.1,0,0.2,0
                c0.1,0,0.3,0,0.5,0c2.9,0.4,5.9,0.7,8.9,1l2.5,0.3c0.1,0,0.1,0,0.2,0c0.2,0,0.4,0.1,0.6,0.1c0.3,0,0.5-0.1,0.7-0.2
                C133.5,207.3,133.6,207,133.7,206.8z"/>        
                <text transform="translate(120,-80)" class="tooltipText" stroke-width="0" fill="white" style="text-anchor: middle;">text</text>
        </g>
	<path class="st0" d="M321.7,100.3c-1.2,0.1-1.9,0.2-2.3,0.4c-0.4,0-0.7-0.1-1.1-0.1c-0.1,0.1-0.1,0.2-0.1,0.3c0,1,0,2,0.4,3
		c0,0,0.1-0.1,0.1-0.1c0.2,1.2,0.4,2.4,0.5,3.6c0.1,0.9,0.1,1.8,0.2,2.6c-0.1,0-0.2,0-0.3,0c0.3,3,0.7,6.1,1,9.1h0
		c0,0.8,0,1.6,0,2.5c0,2.1,0.3,3.9,0.9,5.8c0,0.3,0.1,0.5,0.1,0.8c0.1,0.1,0.1,0.5,0.1,0.5c0.2-0.2,0.6-0.7,0.8-0.8
		c0.4,0.3,0.9,0.4,1.5,0.3c0.2,0,0.3-0.1,0.5-0.1c0-0.1,0.1-0.3,0.1-0.3c0.2-0.1,0.3,0.1,0.3,0.3c0.3,0,0.4,0.1,0.4,0.4
		c0.3,0,0.5,0,0.4,0.4c0.4-0.2,0.7,0.1,0.8,0.5l0,0c0.7,1.7,2.6,1.4,3.8,2.2c2.1,1.4,4.2,0.5,6-0.4c1.2-0.6,1.7-0.7,2.6,0.3
		c0.1,0.2,0.3,0.3,0.5,0.5c0.5,0.4,1.1,0.8,1.6,1.2l0,0c0.2,0,0.3-0.1,0.5-0.1c0.4-0.2,0.8-0.5,1.3-0.3c-0.1-0.7,0.2-1.1,0.8-1.2
		c0.4-1.4-0.3-2.9,0.4-4.3c0.4-0.8,0.7-1.6,1.7-0.6l0,0c0.7,0.3,1.2,0.4,1-0.6c-0.2-0.9,0-1.7,0.7-2.3c0-0.7,0.3-1.2,0.9-1.4
		l0.1-0.1l0,0v0c0.2-0.1,0.4-0.3,0.6-0.4c2-0.4,4.3-2.8,4.6-4.9c0-0.3,0.1-0.5,0.1-0.8c0.1-0.8,0.3-1.6,0.4-2.4
		c-0.7-0.9,0.2-2.3-0.8-3.1c0-0.6,0-1.1,0-1.6c0.1-0.1,0.2-0.3,0.2-0.4c0.1-0.5,0.2-1,0.3-1.5c0,0,0,0,0,0c0,0,0.8-0.2,0.8-0.2
		c0.1-1.8-1.1-3.4-1.3-5.2c-0.2-1-0.3-2-0.4-3c-0.1-0.5-0.1-0.9-0.2-1.4c-0.1-0.3-0.1-0.6-0.1-0.8c-0.1-0.5-0.2-1-0.2-1.5
		c-0.1-0.4-0.2-0.8-0.5-0.9c0-0.3,0-0.6,0.1-0.8c-0.1,0-0.1,0-0.2,0c-0.3,0-0.5,0.1-0.8,0.2c-0.6,0.3-1.2,0.6-1.8,0.9
		c-1.8,0.8-3.6,1.6-4.8,3.5c-0.7,1.1-1.9,1.3-3.3,1.5c-1.2,0.2-2.6,0.4-3.7,1.4c-0.5-0.2-1.1-0.4-1.6-0.5c-0.6-0.1-1.2-0.3-1.8-0.6
		c-0.8-0.5-1.8-1.1-3.1-1.1c-0.1,0-0.2,0-0.4,0C329.8,98.7,324,100.1,321.7,100.3z"/>
	<path class="st0" d="M407,92.8c-0.1,0-0.2,0-0.3,0c0.1-0.2,0.2-0.5,0.3-0.8c-0.1-0.1-0.3-0.3-0.2-0.3c0.5-0.5,0.7-1,0.8-1.5
		c0-0.2,0-0.4,0-0.6c0,0,0,0,0,0c0-0.9-0.4-1.8-0.6-2.7c-0.2-1.2-0.5-3-0.8-4.4c0-0.4,0.1-0.8,0.2-1.1c0,0,0,0,0,0c0,0,0,0,0,0
		c-0.1,0-0.2,0-0.3,0c-0.2-1.8-0.4-3.7-0.3-5.5c0-0.7,0.1-1.4-0.1-2.1c0,0,0,0,0-0.1c0,0,0,0-0.1,0c-0.1-0.4-0.2-0.8-0.3-1.2
		c-0.5-0.3-0.5-0.8-0.4-1.3c-1.4-1.6-0.7-3.6-1.2-5.4c-0.4-0.1-0.4-0.5-0.4-0.8c-1.6,0-1.2-1.2-1.2-2.1c-1.1-1.4-1.6-3-1.1-4.7
		c0.4-1.4-0.6-2.6-0.6-4c-0.7-0.5-1-1.4-1-2.1c0-0.8,0.1-1.3,0.4-1.8c0,0,0,0,0,0c-0.2-0.2-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2
		c-0.1,0-0.2,0-0.2,0.1c-0.7,0.2-1.4,0.4-2,0.6c-1.5,0.4-2.9,0.9-4.2,0.9c-3.6,0.1-5.3,2.3-7.1,4.5l-0.1,0.2c-0.8,1-1.3,2.2-1.8,3.4
		c-0.7,1.7-1.4,3.3-3,4.2c-0.5,0.3-0.7,0.8-0.7,1.4c0.1,0.5,0.4,0.9,0.8,1c0.6,0.2,0.6,0.4,0.6,1.3c0,0.5,0,1,0.3,1.5
		c0.1,0.2,0.2,0.6,0.1,0.8c-0.1,0.3-0.4,0.4-0.7,0.6c-0.7,0.3-1.3,0.8-1.8,1.5c-0.8,1.3-2.1,1.6-3.5,1.9c-1,0.2-2,0.5-2.9,1
		c-1.1-0.5-2.2-0.8-3.4-0.8c-2.4,0-4.6,1.1-6.4,2c-0.9,0.4-1.5,1.2-1.6,2.1c-0.1,0.9,0.2,1.7,0.9,2.3c1.1,1,1.1,1.9,0.1,3.2
		c-1.1,1.4-2.2,2.6-3.5,3.6c-0.4,0.3-0.8,0.7-1,1.2c0.1,0,0.1,0,0.2,0c0.2,0.1,0.4,0.2,0.5,0.4c-0.2,0.5-0.2,1,0,1.6
		c0.5,1.3,1.6,0.7,2.3,0.5c4.3-0.9,8.6-1.8,12.9-2.7c0.5-0.1,1.1-0.5,1.7-0.3c0.7-0.1,1.3-0.2,1.9-0.3c0,0,0-0.1,0-0.1l14.4-2.9
		c0,0,0,0,0.1,0c0.1,0,0.2,0,0.3-0.1c0,0.2,0,0.3,0.1,0.5c0.9,1.4,2.4,2.4,3.8,3.3c1,0.6,2.2,1.5,3.3,1.9c0,0,0,0,0.1,0
		c0.2,0.1,0.4,0.1,0.7,0.2c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.1,0.1,0.2,0.1c1.9,0.6,3.8,1.2,5.5,2.1c0.3,0.2,0.6,0.3,0.8,0.3
		c0.2,0.2,0.4,0.5,0.6,0.8c0,0,0,0,0,0c0.7-0.1,1-0.7,1.1-1.2C407.4,92.8,407.2,92.8,407,92.8C407,92.8,407,92.8,407,92.8z"/>
	<path class="st0" d="M395.1,107.7c0.2,0,0.3,0,0.5,0c0.1-0.1,0.3-0.2,0.4-0.3c0,0,0,0,0,0c0.2-0.1,0.3-0.2,0.5-0.3
		c0.5-0.3,1-0.7,1.3-1.1c0.1-0.5,0.2-0.8,0.6-1.1c0.4-1,0.3-2.2-0.4-3.2c-1-1.4-2.5-2.8-2.7-4.7c-0.1-0.7-0.1-1.4,0.2-2c0,0,0,0,0,0
		c0,0-0.1,0-0.1-0.1c-0.1-0.3,0.1-0.5,0.3-0.5c0,0.1,0,0.1,0,0.2c0-0.1,0.1-0.2,0.2-0.2c0,0-0.1,0-0.1,0c0.1-0.2,0.2-0.4,0.4-0.4
		c0.1-0.2,0.3-0.3,0.4-0.5c0-0.8,0.4-1.6,0.7-2.3c0-0.1,0.1-0.2,0.1-0.2c0.2-0.3,0.5-0.5,0.8-0.6c0,0,0,0-0.1,0
		c-1.2-0.5-2.3-1.3-3.3-1.9c-1.4-0.9-2.9-1.9-3.8-3.3c0-0.1-0.1-0.3-0.1-0.5c-0.1,0-0.2,0-0.3,0.1c0,0,0,0-0.1,0l-14.4,2.9
		c0,0,0,0.1,0,0.1c-0.6,0.1-1.3,0.2-1.9,0.3c-0.6-0.2-1.2,0.2-1.7,0.3c-4.3,0.8-8.6,1.8-12.9,2.7c-0.8,0.2-1.8,0.7-2.3-0.5
		c-0.3-0.6-0.3-1.1,0-1.6c-0.1-0.2-0.3-0.4-0.5-0.4c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.3,0-0.6,0.1-0.7,0.4c-0.4,0.7-1,1-1.7,1.3
		c-0.5,0.2-1,0.4-1.4,0.8c-0.1,0.1-0.2,0.2-0.3,0.3c-0.5,0.4-1.1,1-1.3,1.9c-0.1,0.3-0.1,0.5-0.1,0.8c0.3,0.1,0.4,0.5,0.5,0.9
		c0.1,0.5,0.2,1,0.2,1.5c0,0.3,0.1,0.6,0.1,0.8c0.1,0.5,0.2,0.9,0.2,1.4c0.1,1,0.2,2,0.4,3c0.2,1.8,0.9,5.1,1.1,5.1
		c0.1,0,0.1,0,0.2,0c0.4,2.7,0.9,5.3,1.3,8c0.2,1.1,0.6,1.6,1.9,1.4c2-0.4,4.1-0.7,6.2-1c0.1,0,0.1,0,0.2,0.1
		c0.1,0.1,0.2,0.1,0.3,0.2c0-0.1,0.1-0.2,0.2-0.3c0.4-0.1,0.8-0.1,1.2-0.2c3.1-0.3,6.1-0.9,9.1-1.6c0.6-0.1,1.2-0.3,1.8-0.4
		c1.2-0.3,2.4-0.5,3.6-0.8c1.7-0.3,3.3-0.7,5-1c2.4-0.9,4.9-0.7,7.4-1.2c0.3-0.1,0.7,0,1-0.2c0.2,0.1,0.5,0.3,0.7,0.5
		c0.2-0.2,0.4-0.5,0.4-0.9c0.1-0.5,0.2-0.7,0.9-0.7c0-0.1,0-0.2,0-0.3C395,108.1,395,107.9,395.1,107.7z"/>
	<path class="st0" d="M406.1,92.8c-0.6-0.5-0.6-0.5-1.5-0.2c-0.2-0.1-0.4-0.2-0.5-0.2c-1.4-0.6-2.9-1.2-4.5-1.6
		c0-0.1-0.1-0.1-0.2-0.1c-0.2,0-0.3-0.1-0.5-0.1c-0.2-0.1-0.4-0.1-0.7-0.2c-0.3,0.1-0.6,0.3-0.8,0.6c0,0.1-0.1,0.1-0.1,0.2
		c-0.3,0.7-0.7,1.5-0.7,2.3c-0.1,0.2-0.2,0.3-0.4,0.5c-0.2,0-0.3,0.2-0.4,0.4c0,0,0.1,0,0.1,0c-0.1,0.1-0.1,0.1-0.2,0.2
		c0-0.1,0-0.1,0-0.2c-0.3,0.1-0.4,0.2-0.3,0.5c0,0,0,0,0.1,0.1c0,0,0,0,0,0c-0.3,0.6-0.3,1.3-0.2,2c0.3,1.8,1.7,3.2,2.7,4.7
		c0.7,1.1,0.8,2.2,0.4,3.2c-0.4,0.2-0.6,0.6-0.6,1.1c-0.4,0.4-0.8,0.8-1.3,1.1c-0.2,0.1-0.4,0.2-0.5,0.3c0,0,0,0,0,0
		c-0.1,0.1-0.3,0.2-0.4,0.3c-0.2,0-0.3,0-0.5,0c-0.1,0.2-0.2,0.3-0.2,0.5c0,0.1,0,0.2,0,0.3c0.3,2.8,1.9,4.6,4.8,5.4
		c0.1,0,0.3,0.1,0.4,0.1c1.1,0.3,1.6,0.4,1.7,1.4c0,0.4,0.4,0.7,0.8,0.7c0,0,0,0,0,0c0.4,0,0.7-0.3,0.8-0.7c0.3-1.7,1.2-3,2.2-4.3
		c0.3-0.5,0.7-1,1-1.5c0.6-0.9,0.9-1.9,1.1-2.9c0-0.2,0-0.3,0-0.5c0.7-2.5,1.8-4.5,2.8-6.5c0.1-0.2,0.2-0.4,0.4-0.6
		c1-1.4,2.1-2.9,3.1-4.4c0.1-0.1,0.3-0.3,0.4-0.4c1-1,2-2,2.9-3c0.2-0.1,0.3-0.2,0.5-0.3c2-0.6,4-2.7,4-5.8c-2.1,0-4.1,2.1-6.7,2.5
		c-0.2,0.1-0.4,0.2-0.5,0.3c-0.9,0.5-1.8,1-2.8,1.4c-0.1,0.1-0.3,0.2-0.4,0.3c-1,0.8-1.9,1.7-3.2,2.4c-0.1,0.1-0.3,0.1-0.4,0.2
		c-0.2,0.1-0.4,0.2-0.6,0.3c-0.4,0.2-0.7,0.4-1,0.5C406.3,92.9,406.2,92.9,406.1,92.8z"/>
	<path class="st0" d="M224.9,56.6c0-0.1,0-0.2-0.1-0.3c-0.3-0.9-0.8-1.7-0.9-2.7c-0.3-0.7-0.5-1.5-0.7-2.3c-0.4-2.7-0.2-5.5-0.6-8.3
		c0-0.3-0.1-0.5-0.2-0.8c0,0,0-0.1,0-0.1l-0.1-0.3c-0.1-0.4-0.2-0.5-0.2-0.5c0,0-0.1,0-0.1,0c-0.2-0.4-0.3-0.7-0.5-1.1
		c-0.2-0.3-0.3-0.6-0.3-1c-0.3-1.2-0.7-2.3-0.7-3.5c-0.1-2.6,0.7-5,1-7.6c-0.1,0-0.3,0-0.4,0c0,0,0-0.1,0-0.1c0-0.3,0.3-0.6,0.6-0.7
		c-0.1,0-0.1,0-0.2,0h0c-0.4,0-0.8,0-1.2,0c-0.4,0-0.9,0-1.3,0c-3.5-0.1-7.1-0.2-10.5-0.2c-6.3-0.1-12.7-0.2-19.2-0.5
		c-5.8,0.5-11.8,0.1-17.7-0.2c0.1,0.2,0.2,0.6,0.1,1.1c-0.4,3.9-0.7,7.8-1,11.8c0,0.4-0.3,1,0.3,1.3c0,0.7,0,1.4,0,2.2
		c-1.2,2.8-1.1,5.7-0.8,8.6c0.1,0.4,0.1,0.8,0,1.2c0,0,0,0,0,0.1c0,0.2-0.1,0.4-0.1,0.6c0,0.2-0.1,0.4-0.1,0.5
		c-0.1,0.5-0.2,1-0.2,1.5c-0.1,0.8-0.2,1.5-0.4,2.4c0,0,0,0-0.1,0c0,0,0,0.1,0.1,0.1c0.1,0.2,0.3,0.4,0.6,0.6
		c0.2-0.3,0.7-0.5,1.4-0.3c0,0,0,0,0,0c0.5,0,0.9,0.1,1.4,0.1c0.2,0.1,0.5,0.3,0.7,0.3c5.4,0.3,10.8,0.6,16.2,0.9
		c11.3,0.6,22.5,1.1,33.8,1.7c0.3,0,0.6,0,0.9,0.1c0,0,0.1-0.1,0.1-0.1c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.3-0.1-0.4
		c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0c0.1-0.1,0.3-0.2,0.4-0.4C224.6,58.6,224.9,57.6,224.9,56.6z"/>
	<path class="st0" d="M221.2,27.9c0,0,0,0.1,0,0.1c0.1,0,0.3,0,0.4,0c-0.3,2.5-1.1,5-1,7.6c0,1.2,0.4,2.4,0.7,3.5
		c0.1,0.4,0.2,0.7,0.3,1c0.2,0.4,0.3,0.7,0.5,1.1c0,0,0.1,0,0.1,0c0,0,0.1,0.1,0.2,0.5l0.1,0.3c0,0,0,0.1,0,0.1
		c0.1,0.3,0.2,0.5,0.2,0.8c0.5,2.7,0.2,5.5,0.6,8.3c0.1,0.8,0.4,1.6,0.7,2.3c0.1,0.9,0.6,1.8,0.9,2.7c0,0.1,0,0.2,0.1,0.3
		c0,1-0.2,2-0.2,3c-0.1,0.1-0.2,0.3-0.4,0.4c0,0,0,0,0,0c0,0.1,0,0.1,0,0.2c0,0.1,0.1,0.3,0.1,0.4c0,0.1,0.1,0.2,0.1,0.3
		c0,0.1,0,0.1,0,0.1c0.2,0.1,0.4,0.4,0.2,0.9h0c-1.2,1.3-1.3,2.4-0.7,3.4c0.3,0.6,0.9,1.2,1.5,1.8c0.5,0.7,0.4,1.4,0.4,2.2
		c0,3.9-0.2,7.8,0.1,11.8c0.1,1.6-0.1,3.2-0.4,4.7c0,0.2,0.1,0.5,0.2,0.7c0.2-0.1,0.5-0.2,0.8-0.3c0.3,0.5,0.9,0.4,2.4,0.3
		c0.2-0.1,0.5-0.2,0.7-0.2c0.4,0,0.8,0,1.3,0c0.5,0,1,0,1.4-0.1c0.2,0,0.4,0,0.7,0c10.6-0.3,21.2-0.6,31.8-0.8c0.5,0,0.8-0.1,1-0.3
		c0.2-0.2,0.2-0.5,0.1-1.1c-0.1-0.7-0.1-1.4-0.1-2c-0.3-0.2-0.7-0.3-0.4-0.8c-0.7,0.1-1-0.2-1.2-0.8c-0.7,0.1-1.2-0.4-1.6-0.8
		c-0.4-0.2-1.1-0.4-1.2-0.7c-0.5-2.1-2.3-2.6-3.8-3.5c-0.5-1.1-1.9-0.7-2.5-1.6c-0.5,0.2-0.7-0.1-0.9-0.5l0,0
		c-0.9-2.2-0.4-4.4-0.3-6.6c0-0.9-0.1-1.7-0.1-2.5c-0.7,0.1-1.3-0.4-1.1-1c0.4-0.9-0.1-2.1,0.7-2.8l0,0c0.1-0.4,0.5-0.4,0.8-0.4
		c0.1-0.4,0.5-0.4,0.8-0.4c0.2-0.4,0.5-0.4,0.8-0.4c0.3-0.3,0.5-0.5,0.8-0.8c0-1.7,0-3.4,0-5.2c0-0.9,0.2-1.6,0.9-2.2
		c0.1-0.1,0.1-0.1,0.2-0.2c0.2-0.1,0.4-0.1,0.6-0.1c0.2,0,0.4,0,0.6,0.1c1.1-1,2.2-2.1,3.2-3.1c3.6-3.5,7-6.8,11.6-8.5
		c0.6-0.2,1.2-0.6,1.7-1c0.2-0.2,0.4-0.3,0.7-0.5c0.2-0.2,0.4-0.4,0.4-0.7c0-0.3-0.1-0.5-0.4-0.7c-0.3-0.2-0.7-0.3-1.1-0.3
		c-0.6,0-1,0.3-1.4,0.5c-0.1,0-0.1,0.1-0.2,0.1c-1.1-1-2.3-1.1-3.4-1.1c-0.2,0-0.5,0-0.7,0c-0.2,0-0.4,0-0.6,0c-0.2,0-0.4,0-0.6,0
		c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0-0.5,0c-0.1,0-0.2,0-0.3,0c-0.4-0.7-0.9-1-1.5-1c-0.5,0-0.9,0.3-1.3,0.5c-0.1,0-0.2,0.1-0.2,0.1
		l0,0c-1.3,0.8-2.2,1.2-2.7,1.2c-0.6,0-1.4-0.6-3-1.8l-0.4-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.3-0.2-0.6-0.6-1.1-0.6
		c-0.4,0-0.8,0.2-1.1,0.6c-0.1,0.2-0.2,0.2-0.3,0.3c-0.1-0.1-0.2-0.3-0.4-0.6c-1.1-1.9-3.1-3.1-5.3-3.1c-1,0-2,0.2-2.8,0.7
		c-0.4,0.2-0.7,0.3-1,0.3c-0.1,0-0.2,0-0.2,0c-1.7-0.8-3.4-1.1-5.1-1.4c-0.3,0-0.6-0.1-0.9-0.1c-0.3-0.1-0.7-0.3-0.8-0.4
		c0,0,0-0.1,0-0.1c0.4-1.1,0.1-2-0.1-2.8c-0.1-0.4-0.2-0.8-0.2-1.1c-0.1-1.4-0.9-2.3-2.2-2.3c-0.1,0-0.2,0-0.3,0
		c-0.6,0.1-1,0.3-1.3,0.7c-0.4,0.6-0.3,1.3-0.2,1.8c0,0.1,0,0.2,0.1,0.3c0.1,0.7,0,0.9-0.1,0.9c0,0-0.2,0.2-0.8,0.2
		c-0.1,0-0.2,0-0.3,0c-0.8,0-1.6-0.1-2.7-0.1c-0.6,0-1.2,0-1.8,0c-0.6,0-1.2,0-1.8,0c-0.4,0-0.8,0-1.3,0c-0.4,0-0.8,0-1.1,0
		c-0.8,0-1.5,0-2.3,0l-0.6,0c-0.1,0-0.2,0-0.2,0C221.5,27.3,221.3,27.6,221.2,27.9z"/>
	<path class="st0" d="M278.3,143.2c0,0-0.1-0.1-0.1-0.1c0,0.1-0.1,0.1-0.1,0.2c0,0,0.1,0,0.1,0.1
		C278.2,143.3,278.2,143.3,278.3,143.2z"/>
	<path class="st0" d="M298.2,174.9c-0.1,0.1-0.2,0.1-0.3,0.2c0,0,0.1,0.1,0.1,0.1c0.2,0.2,0.3,0.4,0.4,0.6c-0.2,0.3-0.3,0.7-0.3,1.2
		c0,4.6,0,9.2,0,13.9c0.1,1,0.1,2.1,0.1,3.1c0,1,0,2.1-0.2,3.1l0,0l0,0c-0.2,4.8-0.6,9.6,0.1,14.5c0.3,2,0.6,4,0.9,5.9c0,0,0,0,0,0
		c0.1,0,0.2,0,0.2,0c3.7-0.5,7.4-1.2,11.2-1.3c1.3,0,2.6,0,3.9-0.1c0.9-0.1,1.9-0.2,2.8-0.3c0.9-0.1,1.9-0.2,2.8-0.3
		c0.6-0.1,1.1-0.2,1.7-0.2c0,0,0,0,0,0c2.4-0.3,4.8-0.5,7.2-0.8c0.1,0,0.2,0,0.3,0c0.1,0,0.3-0.2,0.4-0.4c-0.5-0.3-0.7-0.8-0.8-1.3
		c0,0,0,0,0,0c-1-1.3,0.4-2.8-0.4-4.1c-0.4-0.1-0.4-0.5-0.4-0.9l0,0l0,0c0,0,0,0,0,0c-0.9-1.9-0.1-3.6,0.4-5.4c0,0,0,0,0,0l0,0l0,0
		l0,0l0,0c0-0.1,0-0.3,0.1-0.4c-0.1-0.6-0.2-1.2-0.3-1.9l0,0c0,0,0,0,0,0c0.4-0.7-0.8-0.8-0.6-1.4c-1.2-0.7-1.1-1.8-1.2-2.9
		c0,0,0,0,0,0c-1.8-3.6-2.4-7.5-3.7-11.2c-1.1-3.2-2-6.4-2.9-9.6c-0.1-0.5-0.3-0.8-0.5-1c0-0.2,0.1-0.5,0.2-0.7c0,0,0.1-0.1,0.1-0.1
		c-0.1-0.1-0.3-0.1-0.4-0.2C312.3,173.7,305.3,174.3,298.2,174.9z"/>
	<path class="st0" d="M362.2,213.8c-0.5-0.3-1.3-0.3-2.2-0.2c-0.3,0-0.7,0-0.8-0.4c-0.5-0.3-1-0.4-1.5,0c-0.4,1.2,0.5,2.4,0.3,3.6
		c0,0.3,0.1,0.7,0,1c-0.1,0.1-0.3,0.2-0.5,0.3c-0.5,0.1-1-0.2-1.2-0.8l0,0l0,0l0,0c0,0,0,0,0,0c-0.8-0.8-1.6-1.1-2.9-1
		c-6.7,0.6-13.5,1-20.2,1.4c-0.8,0-1.8,0.4-2.2-0.8c-0.7-0.1-0.3-1-0.8-1.3c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.2-0.4-0.5-0.6-0.8-0.7
		c0-0.1,0-0.2,0-0.2c-0.1-0.1-0.3-0.2-0.3-0.3l0,0c0,0,0,0,0,0c-2.4,0.3-4.8,0.5-7.2,0.8c0,0,0,0,0,0c-0.6,0-1.1,0.1-1.7,0.2
		c-0.9,0.1-1.9,0.2-2.8,0.3c-0.9,0.1-1.9,0.2-2.8,0.3c-1.3,0.1-2.6,0.1-3.9,0.1c-3.7,0.1-7.5,0.8-11.2,1.3c0,0.2,0,0.3,0.1,0.5
		c-0.1,0-0.2,0-0.3,0c0.2,1.7,0.4,3.3,0.6,5c0,0.4,0.2,0.6,0.3,0.8c0,0.1,0,0.3,0,0.4c0,0,0,0,0,0.1c0,0,0,0,0,0.1l0,0.4
		c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0.2,0.1,0.4,0.2,0.6,0.2c0.4,0,1.1-0.2,1.1-1.4
		c0-0.1,0-0.1,0-0.2c0.1-0.3,0.2-0.6,0.3-0.9c0-0.1,0.1-0.3,0.1-0.4c0,0.1,0.1,0.3,0.1,0.4c0.2,1.1,0.5,2.6,2,3.2
		c0.3,0.1,0.7,0.2,1,0.2c0.8,0,1.4-0.4,1.8-1c0,0-0.1-0.1-0.1-0.1c-0.2-0.3-0.3-0.7,0.3-1.2c0,0,0.1-0.1,0.1-0.1
		c0.2-0.2,0.4-0.2,0.6-0.2c0.2,0,0.3,0,0.4,0.1c0,0.2-0.4,0.5-0.4,0.7c0.1,0.1,0.2,0.2,0.2,0.2c0.3,0,0.6-0.1,0.8-0.3
		c0.1,0.3,0,0.6-0.2,0.8c-0.1,0.1-0.2,0.2-0.3,0.3c1.3-0.2,1.7-1.4,1.9-1.8c0.2-0.5,0.7-0.5,0.7-0.5c0,0,0,0,0,0
		c0.4,0.6,1,0.9,1.6,0.9c0.4,0,0.8-0.1,1.1-0.3c0.2-0.1,0.4-0.1,0.4-0.1c0.1,0,0.2,0,0.3,0c0.6,0,1.1-0.3,1.6-0.5
		c0.3-0.1,0.6-0.3,0.8-0.3h0c0,0,0.2,0.1,0.4,0.7c0.1,0.3,0.4,0.5,0.8,0.5c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0c0.5,0,1,0.3,1.6,0.6
		c0.7,0.4,1.5,0.8,2.4,0.8c0.5,0,1-0.1,1.5-0.4c0.2,0.1,0.6,0.3,0.7,0.4c0,1.4,0.9,2,1.5,2.3c0.2,0.1,0.3,0.2,0.5,0.3
		c0.1,0.1,0.1,0.1,0.2,0.2c0.1,0,0.1,0.1,0.2,0.1c0,0.5,0,1.1,0.4,1.6c5.8,0.3,10.9,8.6,17.6,2.8c0.6,0,1.3-0.1,2-0.1
		c0.7-0.1,1.4-0.1,2.2-0.2c0.6,0.2,1.3,0.4,1.9,0.5c0,0,0,0.1,0.1,0.1c0.1,0.1,0.1,0.2,0.2,0.2c2.3,2.7,2.8,5.4,1.5,8.2
		c-0.6,1.3-0.3,2.4-0.1,3.4c0.1,0.4,0.2,0.8,0.2,1.2c0,0.9,0.9,1.7,1.8,1.7c0.2,0,0.4,0,0.6-0.1c0.5-0.2,0.7-0.6,0.8-0.8
		c0.2-0.5-0.2-1-0.3-1.2c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0.3,0.3,0.6,0.3,0.8,0.3c0.1,0,0.3,0,0.4-0.1c-0.1,0.3-0.3,0.7-0.4,1
		c-0.2,0.7-0.4,1.3-0.8,1.6c-0.6,0.5-0.7,1-0.6,1.3c0,0.4,0.3,0.8,0.7,1c0.9,0.6,1.3,1.5,1.8,2.4c0.2,0.4,0.4,0.9,0.7,1.3
		c0.2,0.3,1.2,1.8,2.5,1.8c0.3,0,0.6-0.1,0.9-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0,0.1,0,0.2,0.1,0.3c0,0.1,0,0.2,0.1,0.4
		c0,0.1,0.1,0.3,0.1,0.5c0.1,0.6,0.1,1.5,1,2c1.5,0.9,2,2.3,2.6,4l0.2,0.5c0.2,0.5,0.7,1.8,2.2,1.8c1.6,0,2.6,1,3.5,2.5
		c0.7,1,1.5,2,2.9,2.4c0,0,0,0,0,0c0,0.1-0.1,0.2-0.1,0.3c0.1-0.2,0.3-0.4,0.5-0.5c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0.1
		c0,0.2-0.2,0.5-0.3,0.8l0,0c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3l0,0l0,0c0.3,0,0.6,0,0.8-0.1c0,0.1,0,0.1,0,0.2
		c0,0.3-0.2,0.5-0.5,0.6l-0.1,0.1c1.6-0.1,2.9-0.7,4.2-1.4c0.3-0.1,0.5-0.3,0.8-0.4c0.9-0.4,1.4-1,1.6-1.6c0.2-0.7,0.1-1.4-0.4-2.2
		c-0.3-0.6-0.6-1.4,0.1-2c1.9-1.6,1.1-3.4,0.7-4.2c-0.1-0.3-0.2-0.6-0.1-1c0.6-4.3-0.4-7.9-3-10.8c-0.7-0.8-1.2-1.7-1.7-2.9
		c-0.1-0.1-0.1-0.3-0.2-0.4c-0.4-1.1-0.8-2.3-1.8-3.1c-1.2-1-1.4-2.5-1.2-3.5c0.6-3.2-1.4-5-2.9-6.4l-0.1-0.1c-1-1-2-2.1-2.9-3.2
		c-0.6-0.8-1.3-1.6-2-2.4c-1-1.1-1.3-2.5-1.6-4c-0.3-1.4-0.6-2.9-1.5-4.2c-0.1-0.2-0.2-0.3-0.4-0.4c-0.3-0.3-0.5-0.6-0.5-0.8
		c0.2-1.2,0.1-2.1-0.5-2.7c-0.2-0.2-0.3-0.3-0.5-0.5c-0.1,0.1-0.1,0.2-0.2,0.3C362.5,213.6,362.4,213.7,362.2,213.8z"/>
	<path class="st0" d="M80.3,13.4c-4.4-1.6-8.6-3.1-13.2-4.1c-5.4-1.1-10.6-2.6-15.5-5.1c-1.1-0.3-2.3-0.6-3.4-0.9
		c-2.2-0.6-4.4-1.2-6.7-1.8c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0.1-0.5,0.2c-0.2,0.2-0.3,0.5-0.3,0.7c0,0.2,0,0.5,0,0.8
		c-0.1,0.6-0.2,1.8,1,2.3c0.4,0.2,0.4,0.3,0.4,0.3c0,0.1-0.1,0.3-0.3,0.4c-1.7,1.2-1.2,2.6-0.8,3.6c0.1,0.1,0.1,0.3,0.2,0.4
		c0.1,0.3,0.2,0.7,0.4,1c0.4,1.1,0.7,1.7,0.4,2.3c-0.4,0.7-0.8,1.4-1.3,2.1c-0.5,0.7-1.1,1.5-1.5,2.4c0-0.1,0-0.2,0-0.2
		c0.2-1,0.4-2,0.9-2.9c0.5-0.9,0.6-2.1,0.3-3c-0.3-0.7-0.8-1.3-1.5-1.5c-3.6-1.3-6.7-3.2-9.6-5.1c-0.1-0.1-0.3-0.2-0.4-0.4
		c-0.4-0.4-1-0.9-1.7-0.9c-0.3,0-0.6,0.1-0.9,0.3c-1,0.7-1.1,2.1-1.1,3.2c0,0.9,0.2,1.6,0.4,2.3l0.1,0.2c0.3,1,0.6,1.9,0.4,2.8
		c-0.3,1-0.2,1.9-0.1,2.8c0.1,0.9,0.2,1.8-0.2,2.5c-0.2,0.4-0.2,0.8-0.1,1.2c0.2,0.6,0.7,0.8,1.1,0.9c0,0,0.1,0,0.1,0l-0.1,0
		c-0.8,0.3-1.3,0.4-1.5,1c-0.2,0.6,0.2,1,0.7,1.6l0,0c0.2,0.3,0.3,0.8,0.1,1.3c-0.1,0.3-0.3,0.7-0.6,0.7c0,0-0.1,0-0.1,0
		c-0.3,0-1,0.1-1.3,0.9c-0.3,1.1,0.5,1.6,0.9,1.8c0,0,0.1,0,0.1,0c0.4,0.2,0.8,0.4,1.1,0.6c0.4,0.1,0.8,0.2,1.3,0.5
		c0.9,0.5,1.5,1.5,2.7,1.4c0.3,0.5,0.7,0.5,1.2,0.4c-0.1,0.8,0.2,1.7,0.1,2.5c-0.1,1-0.5,2.3,0.3,3.2c0,0.3,0.2,0.4,0.4,0.4
		c0.4,0.6,0.9,0.9,1.7,0.8l0,0c0,0,0,0,0,0c3.1,0.7,6.4,0.4,9.5,1.3c0.5,0.5,1.2,0.1,1.8,0.1c0.1,0,0.1,0,0.2,0
		c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0.1,0.1,0.1c0.4,0,0.9,0,1.3,0c0.2,0.4,0.4,0.7,0.9,0.8l0,0c0,0,0,0,0,0c0,0,0,0,0,0
		c1.3,0.5,2.6,1.1,3.7-0.4c1.4,0.1,2.8,0.4,4.2,0c0.4,0.7,1.1,0.3,1.7,0.4c0.3,0.5,0.9,0.6,1.2,0.4c1.5-1,2.9-0.2,4.3,0.1
		c3.8,0.9,7.6,2.1,11.5,2.7c0,0,0,0,0,0.1c0.1,0,0.3-0.1,0.4-0.2c0-0.5,0-0.9,0-1.4c0.6-0.5,0.6-1.1,0-1.6c0-0.4,0-0.8,0-1.3
		c0.8-0.2,0.7-0.9,0.8-1.5c1.4-6.3,2.8-12.5,4.2-18.8l0,0c-0.2-0.8-0.1-1.6,0.1-2.4c0.1-0.5,0.3-0.9,0.4-1.4
		C80.5,14.4,80.3,13.9,80.3,13.4C80.3,13.4,80.3,13.4,80.3,13.4z"/>
	<path class="st0" d="M33.4,37.6L33.4,37.6C33.3,37.6,33.4,37.6,33.4,37.6z"/>
	<path class="st0" d="M425.3,70.4c-0.1,0.3-0.4,0.5-0.7,0.6c0,0,0,0,0,0c0.1-0.1,0.2-0.3,0.2-0.4c-2.5,0.2-4.9,0.2-7.3,0.7
		c-1.7,0.4-3.4,0.8-5.1,1.2c-0.2,0-0.4,0.1-0.6,0.1c-0.1,0-0.2-0.1-0.3-0.1c0,0.1-0.1,0.1-0.1,0.2c-1.8,0.3-3.9,0.3-4.7,1.3
		c-0.3,0-0.6-0.1-0.8-0.2c0,0,0,0,0,0.1c0.1,0.7,0.1,1.4,0.1,2.1c-0.1,1.9,0,3.7,0.3,5.5c0.1,0,0.2,0,0.3,0c0,0,0,0,0,0c0,0,0,0,0,0
		c0.1-0.4,0.3-0.6,0.5-0.9c1.4-0.2,2.7-1,4.2-0.9c0,0.1,0,0.2,0,0.2c-0.1,0.1-0.2,0.2-0.3,0.3c1-0.3,1.9-0.7,2.9-1
		c1.6-0.5,3.3-0.9,5-1.2c0.1,0,0.1,0,0.2,0.1c0,0,0.1-0.1,0.1-0.1c0.2,0,0.3-0.1,0.5-0.1c0.9-0.5,1.9-0.6,2.5-1.7
		c0.4-0.7,0.9-1.5,1.5-2.1c0.1-0.1,0.1-0.2,0.2-0.2c0-0.1,0-0.3,0-0.4c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0.1c0,0,0,0,0.1,0
		c0.1,0,0.1,0,0.2,0l0-0.1c0.1-0.5,0.3-1.1,0.5-1.4c0.2-0.2,0.4-0.5,0.5-0.8c0.1-0.3,0.1-0.6-0.1-0.8c0-0.1-0.1-0.1-0.1-0.1
		C425.4,70,425.4,70.2,425.3,70.4z"/>
	<path class="st0" d="M424.2,73.3c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1c0,0.2,0,0.3,0,0.4c-0.1,0.1-0.2,0.2-0.2,0.2
		c-0.6,0.6-1.1,1.4-1.5,2.1c-0.6,1.1-1.6,1.2-2.5,1.7c-0.2,0-0.4,0.1-0.5,0.1c0,0-0.1,0.1-0.1,0.1c0.2,0.1,0.5,0.3,0.6,0.6
		c-0.2,0.7,0.2,1.6,0.4,2.5c0.4,1.3,0.7,2.7,1,3.9c-0.1,0.3-0.2,0.5-0.3,0.8c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3,0
		c1.7,0,2.3-1,2.5-2c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.7-0.6,1-0.9
		c0.7-0.7,1.3-1.3,1.9-1.7c0.3-0.2,0.4-0.5,0.6-0.8c0,0,0-0.1,0.1-0.1c0,0.1,0.1,0.2,0.1,0.3c0.2,0.4,0.5,0.7,1,0.7
		c0.5,0,0.9-0.4,1.2-0.7c0.5-0.5,1-0.8,1.5-0.9c1.2-0.2,1.9-0.7,2.2-1.5c0.3-0.7,0.1-1.6-0.6-2.6c-0.2-0.2-0.4-0.4-0.7-0.4
		c0,0,0,0-0.1,0c-0.3,0-0.6,0.2-0.7,0.5c-0.5,1-1.2,1.6-1.8,1.6c-0.6,0-1.3-0.5-1.9-1.4c-0.1-0.1-0.2-0.3-0.3-0.4
		c-0.7-1-1.5-2.2-3.1-2.2c-0.2,0-0.4,0-0.6,0.1C424.4,73.3,424.4,73.3,424.2,73.3C424.3,73.3,424.2,73.3,424.2,73.3z"/>
	<path class="st0" d="M399.3,52c0,0.7,0.4,1.6,1,2.1c0,1.4,0.9,2.6,0.6,4c-0.5,1.8,0,3.3,1.1,4.7c0,0.9-0.3,2.1,1.2,2.1
		c0,0.4,0,0.7,0.4,0.8c0.5,1.8-0.2,3.8,1.2,5.4c-0.1,0.5-0.1,1,0.4,1.3c0.2,0.4,0.3,0.8,0.3,1.2c0,0,0,0,0.1,0
		c0.3,0.1,0.6,0.2,0.8,0.2c0.8-1,2.9-1,4.7-1.3c0-0.1,0.1-0.1,0.1-0.2c-0.3-0.1-0.5-0.3-0.6-0.6c0.1-0.3,0-0.7,0-1.1
		c-0.1-0.8-0.1-1.5-0.2-2.3c-0.1-1.3-0.3-2.5-0.5-3.8c-0.2-0.9,0-1.9,0.3-2.8c0.1-0.7,0.2-1.4,0.4-2.1c0.1-0.4,0.2-0.8,0.3-1.2
		c0-0.1,0-0.2,0-0.3c-0.1-0.8-0.6-1.8-0.4-2.5c0.1-0.3,0.3-0.6,0.5-0.8c0-0.2,0.1-0.2,0.3-0.3c0,0,0.1-0.1,0.1-0.1
		c0-0.2,0.2-0.3,0.4-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0.1-0.3,0.3-0.5,0.5-0.5c0.1-0.2,0.3-0.3,0.4-0.5
		c0.1-0.5,0.3-0.9,0.4-1.3c0-0.4,0-0.9-0.1-1.3c-0.1-0.2-0.1-0.5-0.1-0.7c-0.4-0.4-0.2-0.9-0.2-1.4c0-0.3-0.1-0.7-0.2-1
		c0,0,0-0.1-0.1-0.1c-0.1,0-0.1,0-0.2,0c0-0.3,0-0.6,0-0.8c0,0,0,0,0,0c-0.9,0.2-1.8,0.4-2.7,0.6c-2,0.5-4,1-6.1,1.4
		c-2.2,0.6-3.4,0.9-4,1.7C399.4,50.7,399.3,51.3,399.3,52z"/>
	<path class="st0" d="M423.7,68c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-0.2-0.4-0.4-0.8-0.5-1.2c-0.6-2.4-1.2-4.9-2.3-7.1
		c0-0.1,0-0.1,0-0.2c-1.8-5-3.5-10-5.2-15c-0.2-0.5-0.4-0.9-0.7-1c-0.1-0.3-0.1-0.6,0-0.9c-0.1,0-0.2,0-0.3,0c-0.2,0-0.4,0-0.6,0.1
		c-1,0.3-1.5,1-1.4,2.3c0,0.5,0,1,0,1.6c0,0.3,0,0.6,0,0.8c0.1,0,0.1,0,0.2,0c0,0,0,0.1,0.1,0.1c0.1,0.3,0.2,0.7,0.2,1
		c0,0.5-0.2,1,0.2,1.4c0,0.2,0.1,0.5,0.1,0.7c0.1,0.5,0.2,0.9,0.1,1.3c-0.1,0.4-0.3,0.9-0.4,1.3c-0.1,0.2-0.2,0.4-0.4,0.5
		c-0.3,0-0.4,0.2-0.5,0.5c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c-0.2,0-0.3,0.1-0.4,0.3c0,0-0.1,0.1-0.1,0.1c-0.2,0-0.3,0.1-0.3,0.3
		c-0.2,0.2-0.4,0.5-0.5,0.8c-0.3,0.8,0.3,1.8,0.4,2.5c0,0.1,0,0.2,0,0.3c-0.1,0.4-0.1,0.8-0.3,1.2c-0.2,0.7-0.3,1.4-0.4,2.1
		c-0.3,0.9-0.4,1.8-0.3,2.8c0.3,1.3,0.4,2.5,0.5,3.8c0.1,0.8,0.1,1.6,0.2,2.3c0,0.4,0.1,0.8,0,1.1c0.2,0.2,0.4,0.4,0.6,0.6
		c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.6-0.1c1.7-0.4,3.4-0.8,5.1-1.2c2.4-0.5,4.9-0.5,7.3-0.7c-0.1,0.1-0.1,0.3-0.2,0.4
		c0,0,0,0,0,0c0.3,0,0.6-0.2,0.7-0.6c0.1-0.2,0.1-0.3,0-0.5c0-0.2-0.1-0.3-0.3-0.4c-0.1-0.1-0.2-0.3-0.2-0.4
		c-0.1-0.3-0.3-0.6-0.4-0.9c-0.1-0.2-0.2-0.3-0.2-0.4C424.1,67.9,423.9,68,423.7,68z"/>
	<path class="st0" d="M445.6,38.8C445.6,38.8,445.6,38.8,445.6,38.8c0.4-0.9,0.4-1.8,0-2.5c-0.4-0.6-1-0.9-1.7-0.9
		c-0.3,0-0.6,0-0.8,0.1c-0.3,0.1-0.5,0.1-0.6,0.1h0c-0.2,0-0.4,0-0.6-1.1c-0.2-1.7-1.3-2.8-3-3.1c-0.7-0.1-0.9-0.5-1.1-1.4l0-0.2
		c-0.5-1.8-1-3.7-1.5-5.5c-0.4-1.3-0.7-2.6-1.1-3.8c-0.8-2.9-2.6-4.5-5-4.5c-1.1,0-2.3,0.4-3.6,1.2c-0.2,0.1-0.3,0.2-0.4,0.3
		c-0.4,0.2-0.7,0.5-1,0.6c-0.3,0.1-0.5,0.3-0.7,0.5c0,0,0,0,0,0c-0.4-0.3-0.3-0.5-0.2-0.6l0-0.1c0.1-0.3,0.3-0.7,0.1-1.2
		c-0.1-0.2-0.3-0.5-0.9-0.6c-0.1,0-0.2,0-0.3,0c-0.5,0-0.9,0.2-1.2,0.4c-0.7,0.4-0.9,1.1-1.1,1.7c0,0.1,0,0.1-0.1,0.2
		c-0.5,1.7-1.1,3.5-1.6,5.2l-0.5,1.4c-0.4,1.2-0.9,2.7,0.5,4.2c0,0,0,0.1,0,0.2c0,0.1-0.1,0.3-0.1,0.3c-1.4,1.1-1.1,2.4-0.9,3.2
		c0,0.1,0.1,0.3,0.1,0.4c0.1,0.6,0.1,1.3,0.1,1.9c0,0.4,0,0.7,0,1.1c0,0.4-0.2,0.8-0.6,1.3c-0.5,0.7-1.1,1.6-0.6,2.9
		c0.1,0.3,0.1,0.5,0,0.7c-0.1,0.2-0.4,0.4-0.7,0.4c-0.6,0-1.3,0.1-1.6,0.7c-0.1,0.1-0.1,0.2-0.2,0.4c-0.1,0.3,0,0.6,0,0.9
		c0.3,0.1,0.5,0.5,0.7,1c1.7,5,3.5,10,5.2,15c0,0.1,0,0.1,0,0.2c1.1,2.2,1.6,4.7,2.3,7.1c0.1,0.4,0.3,0.8,0.5,1.2c0,0,0.1,0,0.1,0
		c0,0,0.1,0,0.1,0c0.2,0,0.4-0.1,0.5-0.3c0.1-0.1,0.2-0.3,0.2-0.5c0-0.1,0-0.2,0-0.3c0-0.1,0-0.3,0-0.4c0.1-1.5,0.6-2.8,1.2-4.3
		c0.3-0.7,0.6-1.5,0.8-2.2c0-0.1,0.1-0.2,0.1-0.3c0.2-0.4,0.5-1,0.2-1.7c-0.1-0.2-0.2-0.4-0.1-0.6c0.1-0.2,0.3-0.4,0.7-0.5
		c1.5-0.5,2.6-1.1,3.3-1.8c0.3-0.2,0.6-0.5,1-0.7c1-0.6,2.4-1.5,2.4-3.6c0-0.6,0.1-1.5,0.9-1.6c1.4-0.2,2.2-0.8,2.7-2
		c0.2-0.5,0.7-0.8,0.9-0.9c0.3,0.1,0.6,0.1,0.9,0.1h0c1.6,0,2.4-1.1,3.1-1.9c0.4-0.4,0.7-0.8,1.1-1.1c0.5-0.3,0.8-0.8,1.1-1.2
		c0.1-0.2,0.3-0.4,0.4-0.5c0.9-0.2,1.9-0.5,2-1.3C447,39.7,446.4,39.3,445.6,38.8z"/>
	<path class="st0" d="M257.8,50.8c-0.1,0.1-0.1,0.1-0.2,0.2c-0.7,0.6-0.9,1.3-0.9,2.2c0,1.7,0,3.4,0,5.2c-0.3,0.3-0.5,0.5-0.8,0.8
		c-0.3,0-0.7,0-0.8,0.4c-0.3,0-0.7,0-0.8,0.4c-0.3,0-0.7,0-0.8,0.4l0,0c-0.8,0.8-0.3,1.9-0.7,2.8c-0.2,0.5,0.4,1,1.1,1
		c0,0.8,0.1,1.7,0.1,2.5c0,2.2-0.6,4.5,0.3,6.6l0,0c0.2,0.4,0.4,0.7,0.9,0.5c0.5,1,2,0.6,2.5,1.6c1.5,0.9,3.3,1.4,3.8,3.5
		c0.1,0.3,0.8,0.4,1.2,0.7c0.5,0.4,0.9,1,1.6,0.8c0.2,0.6,0.6,0.9,1.2,0.8c-0.3,0.5,0.2,0.6,0.4,0.8c0,0.7,0,1.4,0.1,2
		c0.1,0.5,0.1,0.9-0.1,1.1c0,0.3,0.1,0.5,0.1,0.8c0.4,0.3,0.4,0.8,0.8,1.1c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.2,0.4,0.4,0.5,0.8,0.4
		c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0,0.3,0,0.5,0,0.8l0,0c-1.7,1.8-0.5,5.1,2.1,5.9c0,0,0,0,0,0l0,0c0,0,0,0,0,0
		c0.3,0.4,0.7,0.5,1.3,0.4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0.5,0.2,1,0.4,1.4c0.4,0.3,0.9,0.4,1.5,0.5
		c0.2-0.2,0.4-0.3,0.8-0.3c6.3-0.4,12.7-0.8,19-1.1c0.2,0,1.6,0,1.8,0c0.1-0.1-0.3-4.2-0.5-4.7c-0.1-0.1-0.1-0.3-0.2-0.4
		c-0.1-0.2-0.1-0.4-0.2-0.6c-0.5-1.5-1.1-3.1-0.5-4.1c1-1.6,0.8-3.3,0.7-4.8c-0.1-1.7-0.2-3,1-4.1c0.2-0.2,0.3-0.4,0.3-0.7
		c-0.2-1.4,0.3-2.7,0.8-4.1c0.4-1,0.8-2.1,0.9-3.2c0.1-0.1,0.1-0.2,0.2-0.2c0.6-0.8,1.2-1.8,1-3.2c0-0.2-0.2-0.4-0.3-0.6
		c-0.1-0.1-0.3-0.2-0.5-0.2c0,0-0.1,0-0.1,0c-1.9,0.3-1.9,1.8-2,2.5c0,0.2,0,0.5-0.1,0.6l-4.3,4.3c0.2-1.3,0.7-2.3,1.6-3.1
		c0.1-0.1,0.1-0.1,0.2-0.2c0.3-0.3,0.8-0.7,0.8-1.3c0-0.1,0-0.1,0-0.2c-0.3,0.3-0.6,0.3-0.9,0.3c0.1-0.2,0-0.5-0.3-0.8l0,0l0,0l0,0
		c0,0,0,0,0,0c-0.4-0.4-0.4-1.1-0.6-1.7c0,0,0-0.1,0-0.1c0,0-0.1,0-0.1,0c-0.2-0.3-0.5-0.6-1.2-0.6c-0.2,0,0-1,0.1-1.5
		c0.3-1.2-0.5-1.6-1.1-2.5c-1.8-2.6-4.5-1.4-6.6-2.3c0,0,0,0,0,0l0,0l0,0c-0.4-0.2-0.6-0.4-0.5-0.8c-0.3,0.1-0.4-0.2-0.5-0.4
		c-1.3-0.2-2.6-0.4-3.9-0.6c-1.1-0.2-2.3-0.4-3.4-0.6c-0.8-0.1-1.5-0.3-1.3-1.3c-0.5-0.1-0.5-0.5-0.4-0.8c-0.6,0.1-1.3,0-1.8-0.3
		c0,0,0,0,0,0c-0.1-0.2-0.1-0.4-0.1-0.6c0-0.1,0.1-0.2,0.1-0.3c-0.8-0.5-1.5-0.7-2.2-0.7c-0.3,0-0.7,0-1,0.1
		c0.1-0.3,0.2-0.5,0.3-0.8c0,0,0.1-0.1,0.1-0.1c0.7-0.9,0.3-1.6-0.1-1.9c-0.3-0.3-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.3
		c-0.6,0.3-1.2,0.6-1.8,0.8c-0.4,0.2-0.8,0.4-1.2,0.5c-0.4,0.2-0.7,0.4-1,0.6c-0.6,0.4-1.2,0.7-1.8,0.7c-0.1,0-0.3,0-0.4-0.1
		c-0.1,0-0.3-0.1-0.4-0.1c-0.2,0-0.4-0.1-0.6-0.1C258.2,50.7,257.9,50.8,257.8,50.8z M270.9,94.5C270.9,94.5,270.8,94.4,270.9,94.5
		L270.9,94.5L270.9,94.5L270.9,94.5L270.9,94.5z"/>
	<path class="st0" d="M397.9,143.9c-0.5-0.2-1-0.2-1.7,0c-9.5,2.2-18.9,4.4-28.6,5.6c-5.7,0.7-11.4,2-17.2,2.1
		c-0.7,0-1.1,0.2-1.3,0.6c-0.3,0.1-0.6,0.1-1,0.1c0.1,0.1,0.2,0.2,0.2,0.4c0.2,0.8,0.3,1.8-0.8,2.2c-0.1,0.1-0.2,0.3-0.3,0.4
		c-0.4,0.1-0.4,0.5-0.4,0.8c-0.4,0.2-0.4,0.5-0.4,0.9c-0.5,0.7-1.6,0.1-2.1,0.8c-0.2,0-0.5,0-0.4,0.4c-0.4-0.2-0.6,0.1-0.8,0.5
		c-0.9,0.7-2.5,0.1-2.9,1.6c-0.4-0.1-0.7,0-0.8,0.4l0,0l0,0c0,0,0,0,0,0c-0.4,0.5-0.9,0.9-0.8,1.6c-0.7-0.1-1.3,0.1-1.6,0.8
		c-0.4-0.1-0.7,0.1-0.8,0.4l0,0l0,0l0,0c0,0,0,0,0,0c-0.1,0.1-0.3,0.3-0.4,0.4c-1,0.3-2,0.6-2.9,1c-0.9,0.4-2.1,0.6-2.1,1.9
		c-0.7,0.4-0.2,0.9-0.2,1.3c0,0.1,0,0.3-0.1,0.4c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0.1c-0.1,0-0.1,0.1-0.1,0.1
		c0,0,0,0-0.1,0c0,0,0,0,0,0c-0.3,0.2-0.6,0.6-1,0.8c-0.2,0.4-0.4,0.8-0.7,1.1c0.1,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.1,0.2,0.2,0.2
		c0.2,0.2,0.5,0.4,0.9,0.5c3.5-0.5,6.9-0.9,10.4-1.4c0.4-0.1,0.6,0,0.9,0.1c0,0,0.1,0,0.1,0c0.1-0.1,0.1-0.2,0.2-0.3
		c0.1-0.2,0.3-0.4,0.4-0.7c0.5-0.1,1-0.1,1.6-0.2c0.6-0.3,1.3-0.5,1.9-0.8l0,0c0.1-0.5,0.3-0.7,0.8-0.5c0.1-0.7,0.6-0.9,1.3-0.8
		c0,0,0,0,0,0c2.3-0.9,4.8-1.1,7.3-0.8c0.6-0.1,1.2-0.3,1.9-0.4c0.6-0.1,1.2-0.3,1.8-0.4c0.4,0.1,0.8,0.1,1.2,0.2
		c0.2,0,0.4,0,0.6,0.1c0.3,0.2,0.7,0.5,1,1c0.4-0.2,0.7,0,0.9,0.4c0,0,0,0,0,0c0.3,0.5,0.6,0.9,0.9,1.1c0,0,0,0,0,0c0,0,0,0,0,0
		c0,0,0,0,0.1,0c0.6,0.3,1.3,0.3,2.1,0c0.5-0.2,1-0.4,1.6,0c0.5,0.1,1,0.1,1.4-0.1c0.1,0,0.3-0.1,0.4-0.2c0.2-0.1,0.4-0.2,0.7-0.3
		c0.4-0.2,0.7-0.3,1.1-0.4l0,0c0.9-0.1,1.9-1.1,2.5,0.4c0.7-0.1,1.1,0.2,1.2,0.8c0.4-0.1,0.7,0,0.8,0.4c0.4,0.1,0.9,0.2,0.8,0.8
		c0.7-0.1,1.1,0.2,1.2,0.8c0.4-0.1,0.7,0,0.8,0.4c0.4,0.1,0.9,0.2,0.8,0.8c0.7-0.1,1.1,0.2,1.2,0.8c0.4-0.1,0.7,0,0.8,0.4
		c0.4,0.1,0.9,0.2,0.8,0.8c0.7-0.1,1.1,0.2,1.2,0.8c0.3,0.1,0.6,0.1,0.9,0.1c0.1,0.2,0.1,0.5,0,0.8c0,0,0,0,0,0c1,0,1.9-0.2,2.7-0.4
		c0.3-0.1,0.6-0.1,0.9-0.2c1.2-0.2,2-1.1,2-2.2c0-2.4,1.4-3.9,3-5.7c0.2-0.2,0.4-0.4,0.5-0.6c1.7-1.9,3.1-3.3,5.5-3.6
		c1.5-0.2,2.4-1.4,2.5-3.3c0-0.3-0.1-0.5-0.3-0.7c-0.1-0.1-0.3-0.2-0.5-0.2c-0.1,0-0.2,0-0.3,0.1c-0.4,0.2-0.8,0.3-1.2,0.5
		c-0.3,0.1-0.5,0.2-0.8,0.3c0.5-0.8,0.7-2.1,0.6-2.7c-0.1-0.4-0.4-0.5-0.5-0.6c-0.5-0.2-0.6-0.3-0.4-0.7c0.6,0.4,1.2,0.4,1.8,0.4
		c1.5,0,3-1,3.9-2.6c0.9-1.5,1.1-3.1,0.5-4.3c-0.4-0.8-0.9-1-1.3-1c-0.4,0-0.9,0.2-1.4,1.1c0,0.1-0.1,0.1-0.1,0.2
		c-0.2-0.5-0.6-1.3-1.6-1.3c-0.5,0-0.9,0.2-1.3,0.4c0,0-0.7,0.3-0.9,0.4c0.3-0.2,0.6-0.5,0.8-0.8c0.8-0.8,1.5-1.4,2.6-1.4l0.2,0
		c0.6,0,1.2-0.4,1.3-1c0.2-0.6-0.1-1.2-0.6-1.6c-0.3-0.2-0.6-0.4-0.9-0.6c-0.3-0.2-0.6-0.5-0.9-0.7c-0.3,0.2-0.7,0.2-1,0.3
		C398.1,143.9,398,143.9,397.9,143.9z"/>
	<path class="st0" d="M300.1,223.7c-0.2-0.1-0.3-0.4-0.3-0.8c-0.2-1.7-0.4-3.3-0.6-5c0.1,0,0.2,0,0.3,0c0-0.2,0-0.3-0.1-0.5
		c-0.1,0-0.2,0-0.2,0c0,0,0,0,0,0c-0.3-2-0.6-4-0.9-5.9c-0.7-4.8-0.3-9.6-0.1-14.5l0,0l0,0c0.1-1,0.2-2.1,0.2-3.1c0-1,0-2.1-0.1-3.1
		c0-4.6,0-9.2,0-13.9c0-0.5,0-0.9,0.3-1.2c-0.1-0.2-0.2-0.4-0.4-0.6c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.2
		c-4.1,0.3-8.2,0.6-12.4,0.9c-1.4,0.1-3.1,0.5-4.1-0.1c-0.3,0.1-0.7,0.1-1,0.2c-0.3,0.1-0.5,0.2-0.8,0.3c-0.5,0.7-1,1.4-1.5,2
		c-1.3,1-0.6,2.5-0.8,3.8c-0.3,0.3-0.5,0.5-0.8,0.8c-1.7,0.3-1.8,1.7-2.1,3l0,0c-0.1,0.9-0.9,1.6-1.1,2.5c-0.1,0.2-0.1,0.4-0.1,0.6
		c0,0.3,0.1,0.5,0.3,0.8l0,0c-0.2,0.2-0.3,0.4-0.4,0.6c-0.9,0.8-2.4,1.4-0.7,3c0.1,0.6,0,1.4,0.8,1.7c0,0.3,0,0.7,0,1
		c-0.1,0.9-0.3,1.5-0.8,1.9c0,0.3,0.1,0.6,0.1,0.9c0,0.1,0,0.2,0.1,0.3c1,0.9,1.1,2.8,1.5,4.3c0,0.1,0.2,0.2,0.4,0.3
		c-0.1,0.4-0.1,0.8,0.4,0.8c0,0.7,0.4,1.5-0.4,2c-1.5,0.5-1.1,1.8-1.3,2.9c-0.9,0.4-1.2,1.2-1.3,2.1l0,0l0,0l0,0l0,0c0,0,0,0,0,0
		c-1.4,2.3-1.9,4.8-2,7.4c0,0,0,0.1,0,0.1c0.1,0.3,0.3,0.6,0.6,0.8c1.9-0.1,3.9,0.3,5.6-0.8l3.3,0c0.6,0.8,1.4,0.3,2,0.3
		c1.8,0,3.6-0.2,5.4-0.3c0,0.3,0.3,0.2,0.4,0.2c-0.2,0.4-0.9,0.7-0.8,1.1c0,0.1,0,0.1,0.1,0.2c0.2,0.4,0.3,0.8,0.3,1.2
		c0,0.1,0,0.1,0,0.2c0,0.2,0,0.4,0,0.7c0,0.2,0,0.3,0,0.5c0,0.1,0,0.1,0,0.2c0,0.8,0.3,1.5,1.6,1.9c0.1,0,0.2,0.4,0.2,0.7
		c0,0.2,0,0.4,0.1,0.6l0,0c0.3,0.2,0.5,0.4,0.7,0.5c-0.1,0.3-0.4,0.5-0.6,0.6c0.3,0.2,0.7,0.3,1.1,0.3c0.3,0,0.5-0.1,0.8-0.2
		c0.3-0.1,0.6-0.3,0.9-0.5c0.1-0.1,0.2-0.1,0.3-0.2c1.8-1.3,3.7-1.9,5.7-1.9c0.5,0,1,0,1.4,0.1l-0.2-0.2c-0.2-0.2-0.2-0.4-0.2-0.7
		c0.3,0,0.5,0.1,0.8,0.1c0.1-0.1,0.2-0.2,0.3-0.2c0-0.3-0.1-0.5-0.1-0.8c0,0,0.1,0,0.1,0c0.1,0,0.3,0,0.4,0.1
		c0.3,0.1,0.4,0.4,0.4,0.7c0,0,0,0,0-0.1C300.1,224,300.1,223.8,300.1,223.7z"/>
	<path class="st0" d="M390.2,127.5c-0.1,0-0.2,0-0.4,0c-0.2,0-0.5,0-0.7,0c-0.9,0-1.9-0.1-2.9-0.9c0,0-0.1,0.1-0.1,0.1
		c0,0,0,0.1,0,0.1c-0.2-0.1-0.5-0.2-0.7-0.4l0,0l0,0c0,0,0,0,0,0c-1.5,0.7-1.6,0.6-1.7-0.7c0-0.8-0.1-1.7,0.8-2.2
		c-0.1-0.4,0-0.7,0.4-0.8c-0.1-0.4,0-0.7,0.4-0.8c0-0.3,0-0.5,0-0.8c-0.3-0.4-0.6-0.6-1-0.9c-1.1-0.6-2.5-0.8-3.5-1.5
		c-0.6-0.3-0.2-0.9-0.4-1.4c-0.4-0.1-0.7,0-0.9,0.1c-0.3,0.2-0.4,0.6-0.5,1c-0.2,0.8-0.6,1.3-1.5,0.5c-0.4,0.1-0.7,0-0.8-0.4
		c-0.2,0-0.5-0.1-0.4-0.4c-0.4,0.1-0.7,0-0.8-0.4c-0.2,0-0.5-0.1-0.4-0.4c-0.4,0.1-0.8-0.2-1.1-0.3c-0.4,1.3-0.9,2.6-0.9,4.1
		c0,0.2,0,0.4-0.1,0.5c-0.2,0.5-0.6,0.8-1,1.1c-0.1,0.3-0.1,0.7-0.5,0.8c-0.1,1.8-1.3,0.8-2.1,0.8c-0.3,1.3-0.6,2.6-1,3.8
		c-0.5,1.2-1.2,1.3-1.9,0.3c-0.5,0.3-0.7-0.1-0.9-0.4c-0.1-0.1-0.3-0.2-0.4-0.2c-1.1,1.4-1,3.2-1.6,4.9c-0.2,0.7-0.2,1.5-0.8,2
		c0,0.2-0.1,0.5-0.4,0.4c0.1,0.7-0.3,1.2-0.8,1.6c-0.3,0.8,0.7,1.7,0,2.5c0.1,0.4-0.1,0.7-0.4,0.9l0,0c-0.1,0.1-0.3,0.3-0.4,0.4
		c0,0.1-0.1,0.2-0.1,0.2c-1.4,0.7-3.1,0.8-4.1,2.4c0,0.1-0.1,0.1-0.1,0.2c-0.4,0.4-1.1,0.5-1.7,0.5c-0.7,0.7-1-0.1-1.4-0.4
		c-0.3,0.3-0.6,0.6-0.9,0.8l0,0c-0.2,0.4-0.4,0.6-0.9,0.4c-0.5,0.7-1.1,0.5-1.6,0c-0.2-0.1-0.6,0-0.5-0.4c-0.5,0.2-0.7-0.1-1-0.4
		c-0.2-0.2-0.4-0.5-0.7-0.7c-0.3,0-0.5-0.1-0.8-0.1c0,0,0-0.1,0-0.1c0-0.2,0-0.3,0-0.4c0,0-0.1,0-0.3,0c-0.1,0-0.2,0-0.3-0.1
		c-0.1,0.3-0.3,0.6-0.5,0.8c-0.5,0.4-0.9,0.9-1.4,1.3c-0.2,0-0.3,0.2-0.4,0.3c0,0-0.1,0.1-0.1,0.1c-0.2,0.2-0.4,0.4-0.6,0.5
		c0,0,0,0,0,0c-1.2,1-2.3,2-2.8,3.5c0,0,0,0,0,0c-0.6,0.7-1.3,1.3-2.1,1.8c-0.6,0.4-1.2,0.8-1.7,1.4c-0.1,0.1-0.3,0.1-0.4,0.2
		c0,0.1,0,0.3,0.1,0.4c0.1,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.2,0.3,0.3c3.2-0.5,6.5-1,9.8-1.2c0.5,0,1.1-0.5,1.5-0.1
		c0.3,0,0.6-0.1,1-0.1c0.2-0.4,0.7-0.6,1.3-0.6c5.8-0.1,11.5-1.4,17.2-2.1c9.7-1.2,19.1-3.4,28.6-5.6c0.7-0.2,1.2-0.1,1.7,0
		c0.1,0,0.2,0,0.3,0c0.3,0,0.7-0.1,1-0.3c0.2-0.1,0.5-0.3,0.7-0.6c0.3-0.4,0.3-0.9,0.1-1.5l-0.1-0.3c-0.2-0.9-0.6-2.4-2.5-2.4
		c-0.1,0-0.2,0-0.4,0c-0.1,0-0.2,0-0.3,0c-0.5,0-1.1,0.1-1.6,0.4c0.3-0.2,0.6-0.5,0.6-0.9c0-0.4-0.1-0.7-0.3-1
		c-0.3-0.3-0.8-0.5-1.3-0.5c-0.1,0-0.1,0-0.2,0c0.2-0.3,0.2-0.5,0.3-0.7c0,0,0-0.1,0-0.1l0.1,0c1,0,1.3-0.7,1.4-1
		c0.1-0.3,0-0.6-0.2-0.8c-1.1-1.2-1.1-1.2-1-3.6c0-0.7-0.2-1.2-0.8-1.6c-0.3-0.2-0.7-0.4-1-0.5c-0.4-0.1-0.8-0.3-1.2-0.4
		C391,127.8,390.6,127.6,390.2,127.5z M394.6,139.5C394.6,139.6,394.6,139.6,394.6,139.5c-0.1,0.1-0.1,0-0.1,0c0,0,0.2-0.1,0.3-0.2
		C394.8,139.4,394.7,139.5,394.6,139.5z"/>
	<path class="st0" d="M393,109.7c-0.3,0.2-0.6,0.1-1,0.2c-2.5,0.5-5,0.4-7.4,1.2c-1.7,0.3-3.3,0.7-5,1c-1.2,0.2-2.4,0.5-3.6,0.8
		c-0.6,0.1-1.2,0.3-1.8,0.4c-3,0.7-6,1.3-9.1,1.6c-0.4,0.1-0.8,0.1-1.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c0.3,0.2,0.5,0.4,0.6,0.7
		c-0.4,1.3,0,2.9,1.1,3.7c0.3-0.3,0.6-0.5,1-0.4c0.9-0.9,1.8-1.6,2.5-2.6c0.1-0.1,0.2-0.2,0.3-0.4c0.7-0.7,1.4-0.7,2.4-0.2h0
		c-0.1-0.3,0.1-0.5,0.4-0.5c0-0.3,0.2-0.4,0.4-0.4l0,0c1.1-1.1,2.6-1.2,4.1-1.3c1,0,1.1,0.5,1,1.2c0.4-0.1,0.7,0,0.8,0.5
		c0.3,0.3,0.6,0.7,0.4,1.2c0.2,0,0.5,0,0.8,0c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2-0.1,0.3c0.2-0.2,0.5-0.2,0.9-0.1c0,0,0,0,0,0l0,0
		c0,0,0,0,0,0c0.2,0.5-0.2,1.1,0.4,1.4c1.1,0.7,2.4,0.9,3.5,1.5c0.4,0.2,0.7,0.5,1,0.9c0,0.3,0,0.5,0,0.8c0,0,0,0,0,0l0,0
		c0,0,0,0,0,0c0,0,0,0,0,0c-0.4,0.1-0.5,0.4-0.4,0.8c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.5,0.1-0.5,0.4-0.4,0.8c0,0,0,0,0,0l0,0
		c0,0,0,0,0,0c0,0,0,0,0,0c-0.9,0.5-0.8,1.4-0.8,2.2c0,1.3,0.1,1.3,1.7,0.7c0,0,0,0,0,0l0,0l0,0c0.2,0.1,0.5,0.3,0.7,0.4
		c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1c0.9,0.7,2,0.9,2.9,0.9c0.2,0,0.5,0,0.7,0c0.1,0,0.2,0,0.4,0c0.4,0.1,0.8,0.3,1.2,0.5
		c0.3,0.2,0.8,0.4,1.2,0.4c0.2,0,0.4,0,0.6,0c0.3-0.1,0.5-0.4,0.5-0.7c0.2-0.4-0.4-1.3-0.7-1.5c0,0,0,0-0.1,0
		c-0.2-0.3-0.4-0.6-0.6-0.9c-0.2-0.3-0.4-0.6-0.5-0.8c-1.7-1.1-0.6-2.2,0.4-3.2c0,1,0,2.1,0.2,3.1c0.1,0.2,0.2,0.3,0.3,0.5
		c0.4,0.6,1.2,1.1,1.8,1.1c0.2,0,0.4-0.1,0.6-0.1c0.4-0.2,0.7-0.3,0.8-0.3c0,0,0.1,0,0.1,0c0.2,0.1,0.2,0.9,0.3,1.2l0,0.1
		c0.2,1.7,0.9,2,1.6,2c0.1,0,0.2,0,0.4,0c-0.1-0.2-0.2-0.5-0.2-0.8c0.2,0,0.5-0.2,0.8-0.4c0.2-0.5,0.5-0.8,1.1-0.8c0,0,0,0,0,0
		c0.3-0.1,0.6-0.2,0.8-0.4c0.2,0.2,0.3,0.5,0.4,0.7c1.5-0.9,1.7-2.4,1.9-3.7c0.1-0.6,0.2-1.2,0.4-1.7c0.1-0.3,0.1-0.6-0.1-0.8
		c-0.2-0.2-0.4-0.3-0.6-0.3c-0.1,0-0.1,0-0.2,0c-0.5,0.1-0.9,0.2-1.3,0.2c-0.9,0.2-1.7,0.3-2.5,0.6c-0.4,0.1-0.7,0.2-0.9,0.2
		c-0.2,0-0.5,0-0.8-1.2c-0.4-1.9-1-3.8-1.7-5.8c-0.3-0.9-0.6-1.7-0.8-2.7c0-0.1-0.1-0.2-0.2-0.3c0-0.1,0-0.2,0-0.3
		c0-0.6-0.2-1-0.4-1.3C393.5,109.9,393.3,109.8,393,109.7z M385.4,121.9L385.4,121.9L385.4,121.9L385.4,121.9z M385,122.7L385,122.7
		L385,122.7L385,122.7z M384.6,123.5L384.6,123.5L384.6,123.5L384.6,123.5z"/>
	<path class="st0" d="M419.9,81c-0.2-0.9-0.6-1.8-0.4-2.5c-0.2-0.3-0.4-0.5-0.6-0.6c-0.1,0-0.1-0.1-0.2-0.1c-1.7,0.3-3.4,0.7-5,1.2
		c-1,0.3-1.9,0.7-2.9,1c0.1-0.1,0.2-0.2,0.3-0.3c0-0.1,0-0.1,0-0.2c-1.5-0.1-2.8,0.7-4.2,0.9c-0.3,0.2-0.4,0.5-0.5,0.9
		c-0.1,0.3-0.1,0.7-0.2,1.1c0.2,1.5,0.6,3.3,0.8,4.4c0.2,0.9,0.5,1.8,0.6,2.7c0,0,0,0,0,0c0,0.2,0,0.4,0,0.6c-0.1,0.5-0.3,1-0.8,1.5
		c0,0,0.2,0.2,0.2,0.3c-0.1,0.3-0.2,0.6-0.3,0.8c0.1,0,0.2,0,0.3,0c0,0,0,0,0,0c0.2,0,0.4,0,0.6-0.1c0.7-0.1,1.2-0.4,1.7-0.9
		c2.1-2.3,4.8-3.5,8.2-4.7c1.6-0.5,2.6-1,3.1-1.6c0.2-0.2,0.3-0.5,0.3-0.8C420.5,83.8,420.2,82.4,419.9,81z"/>
	<path class="st0" d="M399.8,126.9C399.8,126.9,399.8,126.9,399.8,126.9c-0.6,0-0.9,0.3-1.1,0.8c0,0,0,0,0,0c0,0,0,0,0,0l0,0
		c0,0,0,0,0,0c-0.3,0.2-0.6,0.3-0.8,0.4c0,0.3,0.1,0.6,0.2,0.8c0,0,0,0,0,0c0.2,0.5,0.1,0.6,0,0.7c-1.1,1.2-1.1,2.6-1,4
		c0,0.5,0,1,0,1.5c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0,0.3,0c0.3,0,0.5-0.1,0.7-0.3c1.3-1.8,2-3.4,2.1-5.1c0-0.3,0.1-0.6,0.2-0.9
		c0.2-0.7,0.5-1.6,0.1-2.5c-0.1-0.2-0.2-0.5-0.4-0.7C400.3,126.6,400.1,126.8,399.8,126.9z"/>
	<path class="st0" d="M12.1,70.9c1.2,0.2,2.4,0.7,3.6,1c8.4,2.4,16.8,4.7,25.2,6.9c0.2,0.1,0.3,0.3,0.5,0.5c0.2-0.1,0.3-0.2,0.5-0.2
		c6.8,1.8,23,5.7,23,5.7c0-0.1,0.9-8.9,1.8-12.1c0.6-2.2,0.6-4.5,1.6-6.6c0.1-0.3,0.2-0.6,0.4-0.9c0.1-0.2,0.3-0.3,0.5-0.4
		c0.2-0.1,0.3-0.2,0.4-0.4c-0.1-0.7-0.2-1.4,0.4-1.9c0,0.1,0,0.2,0,0.3c0.1-0.1,0.1-0.2,0.2-0.3c0,0-0.1,0-0.1-0.1
		c-0.1-0.3-0.2-0.6-0.3-0.9c0,0-0.1,0-0.1-0.1c-0.3-0.1-0.8-0.2-1-0.5c-0.1-0.2-0.2-0.4-0.2-0.7c-0.2-0.5,0-0.8,0.3-1.2
		c0-0.1,0.1-0.3,0.1-0.4c0.3-0.9,0.6-1.9,1.2-2.7c0.3-0.4,0.6-0.8,1.1-1.1c0.8-0.6,1.3-1.1,1.8-2c0.4-0.8,0.8-1.6,1.4-2.3
		c0.5-0.6,1-1.1,1.4-1.7c0,0,0,0,0,0c0.1-0.2,0.1-0.4,0.3-0.4c0-0.1,0.1-0.1,0.1-0.2c0-0.3,0.2-0.4,0.4-0.6c0,0,0,0,0,0
		c0.1-0.1,0.2-0.2,0.2-0.4c-0.1,0.1-0.1,0.2-0.2,0.2c0-0.5,0-1,0-1.5c-0.3-0.3-0.7-0.5-1.1-0.8c0,0-0.1-0.1-0.1-0.1
		c-0.5-0.2-0.7-0.6-0.8-1.2c-0.1-0.3-0.3-0.6-0.4-0.9c0,0,0,0,0-0.1c-3.9-0.7-7.6-1.9-11.5-2.7c-1.4-0.3-2.8-1.1-4.3-0.1
		c-0.3,0.2-0.9,0.2-1.2-0.4c-0.6-0.1-1.2,0.3-1.7-0.4c-1.4,0.4-2.8,0.1-4.2,0c-1.1,1.5-2.4,0.9-3.7,0.4c0,0,0,0,0,0c0,0,0,0,0,0l0,0
		c-0.4-0.2-0.7-0.4-0.9-0.8c-0.4,0-0.9,0-1.3,0c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.1c0,0-0.1,0-0.2,0
		c-0.6,0-1.3,0.4-1.8-0.1c-3.1-0.9-6.4-0.6-9.5-1.3c0,0,0,0,0,0l0,0l0,0l0,0l0,0c-0.8,0.1-1.3-0.2-1.7-0.8c-0.3,0-0.4-0.2-0.4-0.4
		c-0.9-1-0.4-2.2-0.3-3.2c0.1-0.9-0.2-1.7-0.1-2.5c-0.5,0.1-0.9,0.1-1.2-0.4c-1.2,0.1-1.8-0.9-2.7-1.4c-0.5-0.3-0.9-0.5-1.3-0.5
		c-0.4-0.2-0.8-0.4-1.1-0.6c0,0-0.1,0-0.1,0c-0.5,0.2-1,0.7-1.3,1.7c-0.9,3.2-2.1,6.3-3.3,9.4c-0.9,2.4-1.9,4.8-2.7,7.3
		c-1,3.3-2.8,6.2-4.6,9.1c-0.7,1.2-1.5,2.5-2.2,3.8l0,0.1c-1,1.8-1.7,3.2-1.1,5.3c0,0.1-0.1,0.3-0.2,0.5c-0.1,0.2-0.3,0.5-0.4,0.8
		l-0.1,0.4c-0.4,1.6-0.8,3,0,4.2c0.1,0.2,0.3,0.4,0.5,0.6c0.2-0.2,0.6-0.3,0.9-0.4C10.5,70.5,11.2,70.7,12.1,70.9z"/>
	<path class="st0" d="M33.3,37.6L33.3,37.6C33.4,37.6,33.3,37.6,33.3,37.6z"/>
	<path class="st0" d="M164,25.9c-14.2-0.4-29-2.6-42.9-5.3c-3.8-0.8-7.5-1.9-11.3-2.6c0.1,0-6-0.8-2.9-0.5c-1.3-0.1-2.5-0.2-3.8-0.3
		c-5.2-0.4-10.8-0.5-16.1-1.6c0,0,0,0,0,0c-0.3,3.1-1.4,6.2-1,9.3c0.3,0.7,0.6,1.5,0.8,2.2c0.7,0.5,0.6,1,0,1.5
		c-0.1,0.7-0.2,1.4,0.2,2.1c0,0,0,0,0,0.1c0.2,0.2,0.4,0.4,0.5,0.7c0.2,0.2,0.4,0.4,0.7,0.6c0.9,0.8,1.6,1.5,2,2.7
		c0.4,1,0.6,2.1,1.3,3c0.2,0.2,0.4,0.4,0.8,0.7c0.6,0.4,1.1,0.8,1.5,1.2c0.1,0,0.1,0.1,0.2,0.1c0.2,0.1,0.3,0.2,0.5,0.3
		c0.2,0.4,0.2,0.9,0.2,1.4c-0.1,0.1-0.3,0.2-0.4,0.3c0.1-0.4,0.1-0.7,0-0.9c0,0.2,0,0.3,0,0.5c0,0.2,0,0.4-0.1,0.5
		c0.1,0.3,0.1,0.5-0.2,0.6c-0.3,1.1-0.8,2.1-1,3.1c-0.1,0.6-0.2,1.2-0.3,1.9c0,0.1,0.1,0.2,0.1,0.3c0-0.1-0.1-0.1-0.1-0.2
		c0,0,0,0,0,0.1c0,0.2-0.1,0.5-0.3,0.6c-0.3,0.2-0.9,0.6-1.2,1c0,0.3,0,0.7,0,1c0,0.1,0.1,0.1,0.1,0.1c0.7,0.6,1.5,0.4,2.3,0.1
		c0.4-0.1,0.8-0.2,1.2-0.2c0.1-0.1,0.2-0.2,0.3-0.3c0.2,0.1,0.4,0.1,0.5,0.2c0.1,0.1,0,0.3-0.1,0.3c0,0,0.1,0,0.1,0.1
		c1.6,1.3,1.2,3.9,1.2,5.7c0,2,0.5,3.9,1.2,5.7c0.4,1,0.9,2.1,1.8,2.8c0.6,0.5,1.1,0.5,1.7,0.5c1.3-1.1,2.8,0,4.1-0.3
		c0,0-0.1,0-0.1,0.1c0.1,0,0.3,0,0.4,0c0,0,0,0,0.1,0c0,0-0.1-0.1-0.1-0.1c0.9,0.1,1.9-0.4,2.7,0.3c1,0.2,2.1,0.3,2.8-0.6
		c0.2-0.3,0.4-0.4,0.6-0.5c0.2-0.2,0.4-0.3,0.5-0.3c0.1,0,0.2,0,0.3,0.1c0.2,0.1,0.3,0.4,0.4,0.8c0.4,0.4,0.8,1,1.1,1.4
		c0,0.1,0.1,0.1,0.1,0.2c0.6-0.9,0.5-2,0.6-3.1c0.1-1.2,0.6-1.7,1.9-1.5c6.2,0.8,12.5,1.5,18.7,2.2c6.4,0.8,12.9,1.6,19.3,2.3
		c3.9,0.5,7.8,0.8,11.7,1.3c0.4,0.1,0.8,0.1,1,0c0,0,0.1,0,0.1,0.1c0,0,0-0.1,0-0.1c0.2-0.2,0.4-0.5,0.4-1.1c0-0.8,0.2-1.6,0.3-2.3
		c0.1-0.7,0.2-1.3,0.2-2c0-0.4,0-0.7,0.1-1.1c0,0,0,0,0,0c0.1-1,0.3-1.8,0.4-2.6c0-0.2,0-0.4,0-0.6c0-0.1,0.1-0.1,0.2-0.2
		c0,0,0-0.1-0.1-0.1c0,0,0,0,0.1,0c0.1-0.8,0.2-1.6,0.4-2.4c0-0.5,0.1-1,0.2-1.5c0-0.2,0.1-0.4,0.1-0.5c0-0.2,0.1-0.4,0.1-0.6
		c0,0,0,0,0-0.1c0.1-0.4,0.1-0.8,0-1.2c-0.2-2.9-0.3-5.8,0.8-8.6c0-0.7,0-1.4,0-2.2c-0.5-0.3-0.3-0.9-0.3-1.3
		c0.3-3.9,0.5-7.9,1-11.8c0.1-0.5,0-0.8-0.1-1.1C169.1,26.1,166.5,26,164,25.9z"/>
	<path class="st2" d="M70.3,169.7c-0.1-0.1-0.2-0.2-0.3-0.3c-0.3-0.1-0.4-0.3-0.4-0.7c-0.3-1.1-1-1.7-1.1-2.9c0-0.2,0-0.4,0-0.5
		c-0.2-1.1-0.2-2.1-0.4-3.2c-0.1-0.3-0.1-0.5-0.2-0.8c-0.4,0.1-0.4-0.2-0.4-0.5c-0.1-0.3-0.2-0.6-0.4-0.9c-0.2-0.5-0.6-0.9-1-1.3
		c0,0,0,0,0,0c-0.3-0.1-0.7-0.2-0.7-0.7c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2
		c-0.5-0.3-0.7-0.7-0.8-1.2c-0.4-0.2-0.5-0.4-0.4-0.8c-0.6-0.2-0.9-0.6-0.8-1.2c-0.7-0.2-0.9-0.6-0.8-1.2c-0.7-0.1-0.9-0.6-0.8-1.2
		c-0.4,0.1-0.4-0.2-0.4-0.5c-0.1-0.4-0.3-0.8-0.5-1.2c-0.2-0.4-0.5-0.7-0.8-1h0c-0.3-0.1-0.7-0.2-0.7-0.7c-0.5-0.3-0.7-0.7-0.8-1.2
		c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.4-0.2-0.5-0.4-0.4-0.8c-0.6-0.2-0.9-0.6-0.8-1.2
		c-0.7-0.2-0.9-0.6-0.8-1.2c-0.7-0.1-0.9-0.6-0.8-1.2c-0.4,0.1-0.4-0.2-0.4-0.5c-0.2-0.3-0.4-0.6-0.5-0.9h0
		c-0.3-0.1-0.7-0.2-0.7-0.6c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2
		c-0.5-0.3-0.8-0.7-0.8-1.2c-0.4-0.2-0.5-0.4-0.4-0.8c-0.6-0.2-0.9-0.6-0.8-1.2c-0.7-0.2-0.9-0.6-0.8-1.2c-0.7-0.1-0.9-0.6-0.8-1.2
		c-0.4,0.1-0.4-0.2-0.4-0.5c-0.1-0.2-0.1-0.4-0.2-0.6c-0.3-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.1-0.7-0.2-0.7-0.7
		c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.7-0.7-0.8-1.2c-0.5-0.3-0.8-0.7-0.8-1.2c-0.4-0.2-0.5-0.4-0.4-0.8
		c-0.6-0.2-0.9-0.6-0.8-1.2c-1.3-0.6-1.3-1.6-1-2.9c2.4-9.3,4.6-18.7,7-28c0.2-0.7,0.2-1.1,0.1-1.5c0.1-0.3,0.3-0.5,0.6-0.7
		c-0.1-0.2-0.3-0.3-0.5-0.5c-8.4-2.2-16.8-4.5-25.2-6.9c-1.2-0.3-2.4-0.8-3.6-1c-0.9-0.2-1.6-0.4-2.1-0.7c-0.4,0-0.7,0.1-0.9,0.4
		c0,0-0.1,0.1-0.1,0.1c-0.6,0.6-0.6,1.6-0.5,3.6l0,0.2c0.1,3-1.2,5.6-4,8.4c-1.7,1.7-2.2,3.7-1.6,6.3c0.2,0.8,0.5,1.4,0.9,2
		c0,0.1,0.1,0.2,0.1,0.2c0.1,1.7,0.4,3.3,0.8,5c-0.4,1.1-0.6,2.3-0.7,3.4c-0.1,0.6-0.1,1.1-0.3,1.7c-0.6,3,0.6,5.1,2,6.6
		c0.3,0.4,0.6,0.7,0.8,1.1c0.2,1,0.3,1.9,0.5,2.9c0,0.1-0.1,0.3-0.1,0.4c-0.5,1.5,0,2.5,0.7,3.2c0,0.2,0.1,0.4,0.1,0.6
		c0.2,1.7,0.6,3.3,0.9,5c-0.3,1.5,0.1,3.1,0.9,4.4c0.1,0.9,0.3,1.7,0.3,2.6c0.1,1.4,0.3,2.9,0.6,4.3c-0.4,1.1-0.1,2.3,0.7,3.5
		c0.5,2.1,1.2,4.2,1.9,6.3c1.4,3.7,2.1,7.3,3.6,10.5c-0.1,0.3-0.2,0.5-0.3,0.8c-0.4,1.1-0.4,1.9,0.7,2.7c0.9,0.7,1.9,1.1,2.8,1.5
		c0.7,0.7,1.4,1.4,2.3,2.1c1.7,1.2,3.5,2.1,5.3,3c0.8,1.1,1.9,1.7,3.4,2c0.2,0.2,0.5,0.3,0.7,0.5c0.4,0.3,0.7,0.6,1.1,0.9
		c0.3,1.4,1.3,2.1,2.2,2.7c0.3,0.2,0.6,0.4,0.8,0.7c3.9,3.4,5.6,7.5,5,12.2c-0.1,0.6-0.1,1.3,0.3,1.8c0.4,0.5,1.1,0.7,1.8,0.7
		c2.2,0.2,4.3,0.4,6.5,0.7c4.1,0.4,8.2,0.9,12.4,1.2c0.1-0.3,0.3-0.6,0.5-0.7c0,0,0.1,0,0.1-0.1c0.5,0,1,0.1,1.5,0.1
		c0.5-0.2,0.9-0.7,0.9-1.4c0.1-0.8,0.1-1.6,0-2.4c-0.1-0.6-0.2-1.2-0.1-1.8c0.1-0.7,0.3-1.3,0.7-1.8l0,0c0,0,0,0,0,0
		c0.3-0.4,0.5-0.8,0.8-1.3c0.5-1.1,0.6-2.4,1.3-3.5c0.2-0.3,0.5-0.6,0.8-0.9c0,0,0-0.1,0.1-0.1c0.2-0.2,0.4-0.3,0.6-0.4
		c0-0.1,0.2-0.2,0.3-0.2c0,0,0,0,0,0c0.3-0.7,1.2-0.9,1.6-1.5C70.6,170.3,70.6,170,70.3,169.7z"/>
	<path class="st0" d="M234.3,122.3c-0.2,0-0.4-0.2-0.4-0.4c-0.4-0.2-0.5-0.4-0.4-0.8c-0.9-0.4-0.6-1.5-1.2-2.1
		c-0.3-0.1-0.5-0.3-0.6-0.5c-0.1-0.1-0.1-0.3-0.2-0.4c0,0,0-0.1-0.1-0.1c-0.1-0.2-0.1-0.4-0.2-0.6c-0.4-0.5-0.6-1.1-0.5-1.7
		c-0.4-1.4-0.7-2.9-0.9-4.4c-0.6,0-0.4-0.6-0.2-0.9c0,0,0-0.1,0-0.1c-0.2-1-0.5-2.1-0.8-3.1c-0.1-0.1-0.2-0.2-0.2-0.3
		c-0.4-0.4-0.4-0.8-0.4-1.2c-0.3-0.8-0.6-1.5-0.9-2.3c-0.6-0.8-1-1.7-1-2.7c-0.5-1.5-0.9-3-1.2-4.6c0-0.1-0.1-0.4-0.1-0.4
		s0-0.4,0-0.4c0-0.1-0.3,0-0.3,0s-1.7,0-2.6-0.1c-0.6-0.5-1.4-0.8-2.1-0.9c-0.5-0.4-1-0.4-1.6,0c0,0-0.1,0-0.1,0
		c-0.2,0-0.3,0.1-0.5,0.1c-0.1,0-0.2,0-0.2,0.1c-0.5,0.2-1.1,0.4-1.6,0.4c-0.1,0-0.2,0-0.2,0c-0.3-0.1-0.5-0.4-0.7-0.6
		c-0.2-0.4-0.3-0.8-0.7-1.1c-0.4-0.3-0.8-0.3-1.3-0.2c-0.4-0.1-0.9,0.1-1.3,0.3c-0.3,0-0.5-0.1-0.6-0.5c-0.1-0.3-0.2-0.6-0.4-0.9
		c-0.3-0.5-1-0.5-1.5-0.5c-1.1-0.1-2.2-0.3-3.3-0.5l-3.2-0.2c-1.2,0-2.5,0.1-3.7,0c-2.3,0-4.6-0.3-6.9-0.3c0,0-0.1,0-0.1,0
		c-2.9-0.2-5.9-0.3-8.8-0.5l0,0c-1.4-0.1-2.8-0.2-4.3-0.3c-0.3-0.1-0.6-0.1-0.9-0.1c-3.1-0.2-6.2-0.4-9.3-0.4c-0.6,0-1-0.1-1.2-0.3
		c0,0.1,0,0.1,0,0.2c0,0.2,0,0.5-0.1,0.7c-0.3,0.2-0.4,0.6-0.5,1.3c-0.4,6.1-0.9,12.1-1.5,18.2c0,0.2,0,0.5,0,0.6
		c-0.1,0.1-0.1,0.2-0.2,0.3c0.1,0,0.2,0,0.3,0c0.2,0.3,0.5,0.4,1.2,0.5c4.3,0.3,8.5,0.8,12.8,1c1.5,0.1,1.7,0.7,1.6,1.9
		c-0.2,2.3-0.2,4.6-0.4,6.8c-0.1,0.6,0,1.1,0.2,1.4c0,0.1,0,0.1,0,0.2c0,0,0.1,0,0.1,0c0.3,0.2,0.6,0.3,1.2,0.3
		c16.7,0.5,33.3,1,50,1.6c0.7,0,1.4,0.1,1.8-0.3C234.4,123.4,234.4,123,234.3,122.3z"/>
	<path class="st0" d="M114.5,66.1c-0.3-0.4-0.7-1-1.1-1.4c-0.1-0.4-0.2-0.6-0.4-0.8c-0.1,0-0.2-0.1-0.3-0.1c-0.2,0-0.3,0.1-0.5,0.3
		c-0.2,0.1-0.4,0.2-0.6,0.5c-0.7,1-1.8,0.8-2.8,0.6c-0.8-0.7-1.8-0.2-2.7-0.3c0,0,0.1,0.1,0.1,0.1c0,0,0,0-0.1,0c-0.1,0-0.3,0-0.4,0
		c0,0,0.1,0,0.1-0.1c-1.2,0.3-2.7-0.9-4.1,0.3c-0.6,0.1-1.2,0-1.7-0.5c-0.9-0.7-1.4-1.8-1.8-2.8c-0.7-1.8-1.2-3.8-1.2-5.7
		c0-1.8,0.3-4.4-1.2-5.7c0,0-0.1,0-0.1-0.1c0.1,0,0.2-0.2,0.1-0.3c-0.1-0.1-0.3-0.2-0.5-0.2c-0.1,0.1-0.2,0.2-0.3,0.3
		c-0.4,0-0.8,0.1-1.2,0.2c-0.8,0.2-1.6,0.4-2.3-0.1c-0.1,0-0.1-0.1-0.1-0.1c0-0.3,0-0.7,0-1c0.3-0.5,0.9-0.9,1.2-1
		c0.2-0.1,0.3-0.3,0.3-0.6c0,0,0,0,0-0.1c0,0.1,0.1,0.1,0.1,0.2c0-0.1-0.1-0.2-0.1-0.3c0-0.6,0.1-1.3,0.3-1.9c0.2-1.1,0.7-2.1,1-3.1
		c0.2-0.1,0.2-0.4,0.2-0.6c0-0.2,0.1-0.4,0.1-0.5c0-0.2,0-0.3,0-0.5c0.1,0.2,0.1,0.5,0,0.9c0.2-0.1,0.3-0.2,0.4-0.3
		c0-0.5,0-0.9-0.2-1.4c-0.1-0.1-0.3-0.2-0.5-0.3c-0.1,0-0.1-0.1-0.2-0.1c-0.4-0.5-0.9-0.8-1.5-1.2c-0.4-0.3-0.7-0.5-0.8-0.7
		c-0.7-0.8-0.9-2-1.3-3c-0.4-1.1-1.1-1.9-2-2.7c-0.2-0.2-0.5-0.4-0.7-0.6c-0.1-0.3-0.3-0.5-0.5-0.7c0,0,0,0,0-0.1
		c-0.4-0.7-0.3-1.4-0.2-2.1c0.5-0.5,0.6-1,0-1.5c-0.2-0.8-0.5-1.5-0.8-2.2c-0.4-3.1,0.7-6.2,1-9.3c0,0,0,0,0,0
		c-1.7-0.3-3.3-0.8-4.9-1.3c-0.6-0.2-1.2-0.4-1.8-0.7c0,0,0,0-0.1,0.1c0,0.5,0.2,1-0.4,1.2c-0.1,0.5-0.3,0.9-0.4,1.4
		c-0.2,0.8-0.3,1.6-0.1,2.4l0,0c-1.4,6.3-2.8,12.5-4.2,18.8c-0.1,0.6,0,1.3-0.8,1.5c0,0.4,0,0.8,0,1.3c0.6,0.5,0.6,1.1,0,1.6
		c0,0.5,0,0.9,0,1.4c-0.1,0.1-0.2,0.2-0.4,0.2c0.1,0.3,0.3,0.6,0.4,0.9c0.1,0.6,0.3,1,0.8,1.2c0,0,0.1,0.1,0.1,0.1
		c0.4,0.3,0.8,0.5,1.1,0.8c0,0.5,0,1,0,1.5c0.1-0.1,0.1-0.2,0.2-0.2c-0.1,0.1-0.1,0.2-0.2,0.4c0,0,0,0,0,0c-0.3,0.1-0.5,0.3-0.4,0.6
		c0,0.1-0.1,0.1-0.1,0.2c-0.2,0-0.2,0.2-0.3,0.4c0,0,0,0,0,0c-0.4,0.6-1,1.1-1.4,1.7c-0.5,0.7-0.9,1.5-1.4,2.3c-0.5,0.9-1,1.4-1.8,2
		c-0.4,0.3-0.8,0.6-1.1,1.1c-0.5,0.8-0.9,1.8-1.2,2.7c0,0.1-0.1,0.2-0.1,0.4c-0.3,0.3-0.5,0.7-0.3,1.2c0,0.3,0,0.5,0.2,0.7
		c0.2,0.3,0.7,0.4,1,0.5c0.1,0,0.1,0,0.1,0.1c0.1,0.3,0.2,0.6,0.3,0.9c0,0,0.1,0,0.1,0.1c0,0.1-0.1,0.2-0.2,0.3c0-0.1,0-0.2,0-0.3
		c-0.6,0.6-0.4,1.3-0.4,1.9c-0.1,0.1-0.2,0.3-0.4,0.4c-0.2,0.1-0.3,0.2-0.5,0.4c-0.2,0.3-0.3,0.6-0.4,0.9c-1,2.1-1,4.4-1.6,6.6
		c-0.9,3.3-1.5,6.6-2.1,9.9c-0.1,0.6,0.4,2.2,0.4,2.2s0.7,0,1.5,0.1c7,1.3,14,2.7,21,4c0,0,0.1,0.1,0.1,0.2c0.1,0,0.1-0.1,0.2-0.1
		c4.4,0.9,8.8,1.7,13.2,2.6c1.7,0.4,3.7,0.2,5.2,1.4l0,0l0,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0.9,0.1,1.7,0.6,2.6,0.2l0,0
		c0.6,0.2,1.1,0.2,1.4,0.1c0,0,0.1,0.1,0.1,0.1c0-0.1,0-0.1,0-0.2c0.4-0.3,0.7-0.9,0.8-1.8c1-7.8,2.1-15.7,3.2-23.5
		c0-0.4,0-0.7-0.1-1.1C114.4,66.6,114.5,66.3,114.5,66.1z"/>
	<path class="st0" d="M280.2,174.8c0.1-0.8,0.1-1.7,0-2.5c-0.1-0.5-0.1-1,0.2-1.4c0.4-0.5,0.9-0.7,1.2-1.3c0.2-0.4,0.4-0.8,0.6-1.3
		c0.4-0.8,0.8-1.5,0.9-2.3c-0.1-0.2-0.2-0.3-0.3-0.4c0-0.1,0-0.1,0-0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.3-0.1-0.6-0.1-1,0
		c-1,0.2-2,0.2-3,0.3c-0.3-0.1-0.7-0.3-1-0.6c-0.1-0.1-0.2-0.2-0.2-0.3c0.1-0.3,0.3-0.4,0.7-0.3c-0.2-0.4,0.1-0.5,0.4-0.4
		c0.1-0.7,0.7-0.9,1.2-1.2c0.2-0.7-0.2-1.4-0.4-2c-0.3-0.1-0.6-0.4-0.9-0.4c-4.7,0.1-9.4,0-14.1,0.5c-3.4,0.3-6.9,0.1-10.3,0.2
		c-4.2,0.2-8.4,0-12.7,0c0,0.2,0,0.4,0,0.5c-0.2-0.1-0.4-0.2-0.5-0.4c0,0-0.1-0.1-0.1-0.1c0,0.7,0.1,1.4,0.2,2.1c0,0,0,0,0,0
		c0,0,0,0,0,0.1c0,0.2,0.1,0.5,0.1,0.7c0.1,1.2,0.2,2.3,0.4,3.5c0.2,1.3,0.6,2.5,0.8,3.8l0,0c0.2,4.4,0.2,8.8-0.2,13.2
		c0,0.3,0,0.5,0,0.8c0,0.1,0,0.2,0,0.3c0,0.3,0,0.5,0,0.8c0,1.4,0,2.9,0,4.3c0,0.4-0.1,0.6-0.3,0.7c0,0-0.1,0-0.1,0
		c0,0.1,0,0.1,0,0.2l0,0.1c0,0.2,0.1,0.4,0.2,0.5c0.1,0,0.1,0,0.2,0c0.1,0,0.2-0.1,0.3-0.1c1.5,0.1,3,0.3,4.1,1.3
		c0.1,0.3,0.2,0.6,0.1,0.9c-0.1,0.6,0,1.2,0,1.9c0,0.7,0,2.1,0,2.8c0.2,0.3,0.9,0.1,0.9,0.1l0.1-0.1c0,0,0.5-0.1,0.8-0.1
		c1.6,0.1,3.3,0,4.9,0c0.4,0,0.9,0,1.3,0c0.7-0.1,1.6-0.1,2.5-0.1c0.8,0,1.6,0,2.5,0.1c0.1,0,0.3,0,0.4,0c0.5,0,0.9-0.1,1.4-0.2
		c2-0.1,4-0.2,6-0.2c1.6,0,3.4-0.5,4.6,0.1c0.1,0,0.1-0.1,0.2-0.1c-0.1-0.3-0.1-0.6-0.1-0.9c0.4-0.4,0.7-1,0.8-1.9c0-0.3,0-0.7,0-1
		c-0.8-0.3-0.7-1-0.8-1.7c-1.7-1.6-0.1-2.2,0.7-3c0.1-0.2,0.3-0.4,0.4-0.6l0,0c-0.2-0.3-0.2-0.6-0.3-0.8c0-0.2,0-0.4,0.1-0.6
		c0.2-0.9,1-1.6,1.1-2.5l0,0c0.3-1.3,0.4-2.7,2.1-3c0.3-0.3,0.5-0.5,0.8-0.8c0.2-1.3-0.5-2.7,0.8-3.8c0.5-0.7,1-1.3,1.5-2
        c0.3-0.1,0.5-0.2,0.8-0.3c-0.1-0.2-0.2-0.4-0.3-0.6C280,175.2,280.1,175,280.2,174.8z"/>
        <g>
            <path class="st1" data-info="<div>Honolulu</div>" d="M251.6,218.7c-0.1-0.2-0.1-0.5-0.2-0.7c0-0.1,0-0.3-0.1-0.4c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.2-0.1-0.3-0.2-0.5
                c0.1-0.4,0.1-0.8-0.4-1c0,0.1,0,0.1,0,0.2c0-0.1-0.1-0.2-0.1-0.3c0,0,0,0,0.1,0c0.1-0.4,0-0.7-0.4-0.8c0,0,0,0,0,0c0,0,0,0,0,0
                c0,0,0,0,0,0c0,0,0,0-0.1-0.1c-0.3-0.7-0.6-1.4-0.8-2.1c-0.4-1.4-1.1-2.6-1.4-4c-0.2-0.8-0.3-1.6-0.4-2.4c-0.1-2-0.6-5.2-0.7-7.2
                c0-0.7,0.5,0.3,0.9,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.4-0.2-0.6-0.4-0.8-0.8c0-0.7,0-1.3,0-2c0-0.6-0.1-1.3,0-1.9
                c0.1-0.3,0-0.6-0.1-0.9c-1.1-1-2.7-1.2-4.1-1.3c-0.1,0.1-0.1,0.1-0.3,0.1c-0.1,0-0.1,0-0.2,0c-0.3,0-0.5-0.2-0.6-0.4
                c-0.4-0.2-0.8-0.4-1.2-0.7c0,0,0,0,0,0c-0.5-0.2-1-0.4-1.5-0.7c-0.4-0.2-0.9-0.3-1.3-0.4c-0.1,0-0.1-0.1-0.2-0.2
                c-0.7-0.2-1.5-0.2-2.3,0.3c-0.1,0.1-0.3,0.1-0.6,0.1c-1,0.1-2,0.1-3.1,0.2c-0.1,0-0.2,0-0.3,0c-0.3,0.1-0.6,0.1-0.8,0.1
                c-0.8,0.1-1.6,0.3-2.3,0.5c-0.3,0.2-0.6,0.4-1.1,0.3c0,0,0,0,0,0c-0.4,0.1-0.8,0-1.2-0.1c-0.4-0.1-0.8-0.3-1.2-0.5
                c-0.5-0.1-0.9-0.1-1.5-0.1c-0.1,0-0.1,0-0.2,0c-0.2,0.1-0.4,0-0.6-0.1c-0.1,0-0.2-0.1-0.2-0.1c-0.4-0.2-1-0.4-1.4-0.3
                c-0.1,0.2-0.2,0.3-0.4,0.4c0-0.1,0-0.1,0-0.2c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0.1c0,0,0.1,0,0.1,0c0,0.3,0,0.6-0.2,0.8
                c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1c0-0.1,0-0.3,0-0.5
                c-0.3-0.5-0.6-0.9-1.3-1c-0.4,0-0.7-0.1-1-0.3c-0.8-0.4-1.4-0.6-2,0.2c-0.2,0.2-0.4,0.3-0.6,0.5c-0.2,0.1-0.4,0.2-0.7,0.2
                c-0.8-0.1-1-0.6-1.2-1.1c-0.2-0.3-0.5-0.6-0.8-0.8c-0.1,0-0.1-0.1-0.2-0.2c-0.2-0.1-0.4-0.3-0.6-0.4c-2.4-1.2-5.3-1.6-7.9-2.3
                c-2.2-0.6-4.8-1.1-6.7-2.4c-0.7-0.5-1.1-1-1.4-1.6c-0.3-0.3-0.3-0.6-0.3-0.9c-0.1-0.8-0.1-1.6,0.1-2.5c0,0,0,0,0,0
                c0.1-3.9,0.2-7.9,0.4-11.8c0-0.4,0-0.7,0-1.1c0.6-3.7,0.6-3.7-3-4c-6.2-0.5-12.5-0.9-19-1.3c-0.8,0-1.6-0.1-2.4-0.1
                c-0.1,0.1-0.2,0.1-0.3,0.2c0,0,0,0-0.1,0c0,0,0,0.1,0,0.1c-0.7,0.9-0.1,2.3-0.6,3.2c-0.1,1-0.1,1.9-0.2,2.9
                c-0.1,1.2-0.2,2.3-0.2,3.5v0c-0.6,2.6-0.1,5.2-0.8,7.8c0,0.7-0.1,1.3-0.1,2c-0.4,5.7-0.7,11.4-1.5,17.1c0,0.7,0,1.5,0,2.2
                c-0.2,2.5-0.6,5-0.6,7.4c0,0.3,0,0.5-0.1,0.7c-0.3,0.4-0.7,0.7-1.3,0.9c-0.2,0-0.4,0-0.6,0c-8.3-0.8-16.6-1.6-25-2.4
                c-1.4-0.1-2.8-0.1-4.3-0.1c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.4,0.2c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.2,0,0.4,0.2,0.6
                c-0.1,0.3-0.2,0.5-0.5,0.7c0.1,0.1,0.2,0.2,0.4,0.2c0.7,0.2,1,0.8,1.5,1.7c0.3,0.5,0.6,1,1,1.5c1,1,1.9,2.2,2.8,3.2
                c2.1,2.5,4.3,5.1,7.1,7c1,0.7,1.3,1.8,1.7,3c0.3,0.9,0.5,1.8,1,2.6c0,0.1,0,0.1-0.1,0.2l0,0.1c-0.7,2.1,0,4.2,2,5.9
                c3.6,3,6.7,5.2,9.8,6.9c0.6,0.3,1.2,0.5,1.7,0.5c0.8,0,1.6-0.4,2.4-1.1c1.1-1,1.5-2.2,2-3.4c0.2-0.5,0.4-0.9,0.6-1.4
                c0.1-0.2,0.2-0.4,0.3-0.7c0.1-0.4,0.2-0.6,0.3-0.7c0.3-0.1,0.6-0.2,0.9-0.2c0.3,0,0.6-0.1,0.8-0.1c6.7-0.7,12.5,5.8,15.8,11.2
                c0.8,1.3,1.6,2.4,2.6,3.4c1.4,2.5,3,4.9,4.7,7.2l0.5,0.6c0.2,0.3,0.4,0.6,0.7,0.8c0.2,0.6,0.4,1.1,0.6,1.7c0.4,0.9,0.9,1.7,1.4,2.5
                c0.8,3.3,2.2,6.1,3.4,8.2l0.1,0.1c0.2,0.4,0.5,0.9,1.2,1.2c1.3,0.5,2.5,1.1,3.8,1.7c2,1,4,2.1,6.4,2.5c1.7,0.2,3,0.5,4.1,1.5
                c0.4,0.4,0.8,0.5,1.2,0.5c0.8,0,1.2-0.6,1.4-1c0.1-0.1,0.1-0.2,0.2-0.3c0.7-0.2,1-0.6,1-0.9c0.2-0.7-0.4-1.2-0.7-1.5
                c-0.8-1.2-1.1-2.5-1.4-4c-0.2-0.8-0.3-1.7-0.6-2.5c0.2-0.5,0.3-1,0.3-1.5c0.3-3.4,2.5-7.4,3.8-10.5c1.6-3.8,5.8-4.3,8.4-6.9
                c0.1,0,0.1-0.1,0.2-0.1c2.7-0.9,5.4-1.8,7.4-3.9c0.3-0.3,0.8-0.7,1.2-1c1.6-1.3,3.7-3,2.5-6.2c0-0.1,0-0.1,0-0.2
                c0.1-0.1,0.5-0.3,0.7-0.3c0.1,0,0.2-0.1,0.2-0.1c0.2,1.8,1.5,1.9,1.9,1.9c0.7,0,1.5-0.4,1.9-0.6c1.2-0.6,2.5-1.1,4.3-1.4
                c0.1,0,0.2-0.1,0.3-0.1c0.1-0.1,0.1-0.8,0.1-0.8c0.5-1,1.1-2,1.4-3c0.5-1.5,0.3-3.3,0.4-4.9c0-1.2,0.7-2.2,0.9-3.3
                C252.3,221.3,252.3,219.9,251.6,218.7z"/>
                <text x="40%" y="82%" title="TA" class="map_text">Texas</text>
        </g>
	<path class="st0" d="M328.4,154.9c-5.1,0.5-10.2,0.9-15.2,1.4l0,0c-2.1,0.2-4.1,0.3-6.2,0.5l0,0c-2.3,0.6-4.7,0.5-7.1,0.8
		c-0.3-0.2-0.7-0.2-0.9-0.2c-0.9,0.1-1.5,0.8-2.3,1.2h0c-0.6,1.1-1.7,0.6-2.6,0.7c-2.6,0.4-5.3,0.2-7.9,0.9
		c-0.1-0.1-0.2-0.1-0.3-0.2c0,0.1,0,0.2,0,0.3c-0.3,0.1-0.5,0.2-0.8,0.3c0,0.3-0.1,0.7-0.4,0.8c-0.2,0.9-0.3,1.9-0.5,2.8
		c0,0.1,0,0.2-0.1,0.3c-0.3,0.4-0.6,0.7-1.1,1c0,0.1,0,0.1,0,0.2c0.1,0.1,0.2,0.2,0.3,0.4c-0.2,0.8-0.5,1.5-0.9,2.3
		c-0.2,0.4-0.4,0.8-0.6,1.3c-0.3,0.6-0.8,0.8-1.2,1.3c-0.4,0.4-0.3,0.9-0.2,1.4c0.1,0.9,0.1,1.7,0,2.5c-0.1,0.2-0.2,0.4-0.3,0.6
		c0.1,0.2,0.2,0.4,0.3,0.6c0.3-0.1,0.7-0.2,1-0.2c1.1,0.5,2.7,0.2,4.1,0.1c4.1-0.3,8.2-0.6,12.4-0.9c0.1,0.1,0.2,0.1,0.3,0.2
		c0.1-0.1,0.2-0.1,0.3-0.2c7-0.6,14.1-1.2,21.1-2c0.1,0.1,0.3,0.1,0.4,0.2c0.1-0.1,0.2-0.2,0.3-0.3c2-0.2,4-0.5,6.1-0.7
		c0.6-0.1,1.1-0.3,1.4-0.5c0.2,0,0.5-0.1,0.7-0.1c-0.1-0.1-0.2-0.3-0.2-0.4c0.3-0.3,0.5-0.7,0.7-1.1c0.4-0.2,0.6-0.5,1-0.8
		c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1-0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.3-0.1c0-0.1,0-0.3,0.1-0.4
		c-0.1-0.5-0.5-1,0.2-1.3c0.1-1.3,1.2-1.5,2.1-1.9c0.9-0.4,1.9-0.7,2.9-1c0.1-0.1,0.3-0.3,0.4-0.4c0,0,0,0,0,0l0,0l0,0l0,0
		c0.2-0.3,0.4-0.6,0.8-0.4c0.3-0.7,0.9-0.9,1.6-0.8c-0.1-0.7,0.4-1.2,0.8-1.6c0,0,0,0,0,0l0,0l0,0c0.1-0.5,0.5-0.5,0.8-0.4
		c0.4-1.6,2-0.9,2.9-1.6c0.2-0.4,0.4-0.6,0.8-0.5c-0.1-0.4,0.2-0.3,0.4-0.4c0.5-0.7,1.5-0.1,2.1-0.8c0-0.3,0-0.7,0.4-0.9
		c0-0.3,0-0.7,0.4-0.8c0.1-0.2,0.2-0.4,0.3-0.4c1.2-0.4,1.1-1.4,0.8-2.2c-0.1-0.2-0.1-0.3-0.2-0.4c-0.4-0.3-1,0.1-1.5,0.1
		c-3.3,0.2-6.5,0.6-9.8,1.2c-0.1-0.1-0.2-0.2-0.3-0.3c-0.5,0.2-1,0.4-1.6,0.6C332.8,154.3,330.6,154.7,328.4,154.9z"/>
	<path class="st0" d="M109.5,102.6C109.5,102.6,109.5,102.6,109.5,102.6c0,0.4,0.1,0.8,0.6,1c0.4,0.2,0.8,0.3,1.3,0.4
		c0.7,0.1,1.5,0.1,2.2,0.3c0.4,0.1,0.7,0.1,1.1,0.2c3.1,0.5,6.1,1,9.2,1.4c0.2,0,0.4,0.1,0.6,0.1c0.1,0.1,0.2,0.2,0.3,0.3
		c0.1-0.1,0.2-0.2,0.3-0.2c0,0,0,0,0,0c0.8,0.1,1.5,0.2,2.3,0.3c0.8,0,1.5,0.1,2.2,0.2c4,0.5,7.9,0.9,11.9,1.4l0.5,0.1
		c2.2,0.4,4.4,0.7,6.6,0.9c0.3,0,0.6,0,0.9,0.1c0,0,0,0,0,0c0.8,0.1,1.5,0.2,2.3,0.3c0,0,0-0.1-0.1-0.1c2.4,0.2,4.9,0.4,7.3,0.7
		c1.6,0.1,3.2,0.3,4.8,0.4c0.1,0,0.2-0.1,0.3-0.1c0.4,0,0.7,0.1,1.1,0.1c0.1-0.1,0.1-0.2,0.2-0.3c0-0.2,0-0.4,0-0.6
		c0.6-6.1,1.1-12.1,1.5-18.2c0-0.7,0.2-1.1,0.5-1.3c0-0.2,0-0.5,0.1-0.7c0-0.1,0-0.1,0-0.2c-0.3-0.3-0.4-0.7-0.3-1.5
		c0.6-6.1,1-12.1,1.5-18.2c0-0.2,0-0.5,0.1-0.7c-0.2-0.4-0.4-0.6-0.8-0.8c0,0-0.1,0-0.1-0.1c-0.2,0.1-0.6,0.1-1,0
		c-3.9-0.5-7.8-0.9-11.7-1.3c-6.4-0.8-12.9-1.5-19.3-2.3c-6.2-0.7-12.5-1.5-18.7-2.2c-1.3-0.2-1.8,0.3-1.9,1.5c-0.1,1,0,2.1-0.6,3.1
		c0-0.1-0.1-0.1-0.1-0.2c0,0.3-0.1,0.5-0.1,0.8c0.1,0.4,0.2,0.8,0.1,1.1c-1.1,7.8-2.2,15.7-3.2,23.5c-0.1,0.9-0.3,1.5-0.8,1.8
        c0,0.1,0,0.1,0,0.2c0.3,0.4,0.5,0.9,0.6,1.4C110.5,97.4,109.9,100,109.5,102.6z"/>
        <g> 
            <path class="st1" d="M173,155.3c0.3,0.1,0.7,0,1,0c1.5,0,2.9,0.1,4.4,0.1c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.3-0.3-0.5
                c0.3-0.2,0.3-0.6,0.3-1.1c0-1.1,0.1-2.2,0.2-3.3c-0.1-0.7,0.1-1.4,0.1-2.2c0.1-0.6,0.1-1.3,0.1-1.9c-0.1-0.3,0.1-0.7,0.1-1.1
                c0.4-7.5,0.9-14.9,1.3-22.4c0.2-0.4,0.5-0.7,0.9-0.8c0-0.1,0-0.1,0-0.2c-0.2-0.3-0.3-0.7-0.2-1.4c0.2-2.3,0.2-4.6,0.4-6.8
                c0.1-1.2-0.1-1.8-1.6-1.9c-4.3-0.2-8.5-0.7-12.8-1c-0.6,0-1-0.2-1.2-0.5c-0.1,0-0.2,0-0.3,0c-0.4,0-0.7-0.1-1.1-0.1
                c-0.1,0-0.2,0.1-0.3,0.1c-1.6-0.1-3.2-0.3-4.8-0.4c-2.4-0.3-4.8-0.5-7.3-0.7c0,0,0,0.1,0.1,0.1c-0.8-0.1-1.5-0.2-2.3-0.3
                c0,0,0,0,0,0c-0.3,0-0.6,0-0.9-0.1c-2.2-0.2-4.4-0.5-6.6-0.9l-0.5-0.1c-4-0.5-7.9-0.9-11.9-1.4c-0.7-0.1-1.5-0.2-2.2-0.2
                c-0.8-0.1-1.5-0.2-2.3-0.3c0,0,0,0,0,0c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0,0,0c0.2,0.2,0.3,0.5,0.4,0.8c-0.2,0.3-0.4,0.8-0.4,1.4
                c-1.7,13-3.4,26-5.2,39c-0.1,0.6,0,1.7-0.2,1.9c0,0,0,0,0,0c0.1,0.1,1,0,1.5,0.1c3.9,0.5,7.9,0.9,11.9,1.3c0.4-0.1,2.5,0.4,3.3,0.5
                c4.6,0.5,9.2,1.1,13.8,1.6c5.3,0.6,10.5,1.1,15.8,1.7c0.5-0.1,2.1,0.5,2.5,0.4c0.9-0.1,1.3,0.1,1.5,0.5c0.3,0,0.6,0,0.9,0
                c0.1,0,0.1,0,0.2,0C171.1,155,171.8,154.8,173,155.3z"/>
            <text x="28.5%" y="50%" title="NM" class="map_text">New Maxico</text>
        </g>
	<path class="st0" d="M109.1,103.1c0,0-0.1,0.1-0.1,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0,0,0,0,0.1,0.1c0,0.1,0.1,0.1,0.1,0.2
		c0,0,0,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0.1,0c0.1,0.1,0.1,0.1,0.2,0.1c0,0,0,0,0,0c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0.1,0
		c0.1,0,0.1,0,0.2,0.1c0,0,0,0,0.1,0c0.1,0,0.1,0,0.2,0.1c0,0,0,0,0,0c0.1,0,0.2,0,0.3,0c-0.5-0.1-1.2-0.3-1.5-0.7
		C109.3,103.4,109.2,103.3,109.1,103.1z"/>
	<path class="st1" d="M119.5,147.6c1.8-13,3.5-26,5.2-39c0.1-0.6,0.2-1.1,0.4-1.4c-0.1-0.3-0.2-0.6-0.4-0.8c0,0,0,0,0,0
		c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2,0-0.4-0.1-0.6-0.1c-3.1-0.5-6.1-1-9.2-1.4c-0.4-0.1-0.7-0.2-1.1-0.2c-0.7-0.1-1.5-0.1-2.2-0.3
		c-0.4-0.1-0.9-0.2-1.3-0.4c-0.5-0.2-0.6-0.6-0.6-1c0,0,0,0,0-0.1c0.3-2.6,1-5.1,1.5-7.7c-0.1-0.5-0.2-1-0.6-1.4
		c0,0-0.1-0.1-0.1-0.1c-0.3,0.1-0.8,0.1-1.4-0.1v0c-0.9,0.4-1.7-0.1-2.6-0.2c0,0-0.1,0-0.1,0c0,0,0,0,0,0l0,0h0
		c-1.5-1.2-3.5-1.1-5.2-1.4c-4.4-0.9-8.8-1.8-13.2-2.6c-0.1,0-0.1,0.1-0.2,0.1c-0.3,0.2-0.5,0.4-0.6,0.6c0.1,0.3,0.1,0.7,0,1.2
		c-2.5,12.5-4.8,25-7.3,37.5c-0.9,4.5-2.1,14.4-2.1,14.4c0.1,0.1,0.3,0.2,0.4,0.3c0.5-0.2,1.3,0,2.7,0.2c11.8,1.9,23.6,3.7,35.4,5.5
		c1.2,0.2,3,0.7,3.1,0.7c0,0,0,0,0.1,0c0,0,0,0,0,0C119.5,149.3,119.4,148.2,119.5,147.6z M110.9,104.4c-0.1,0-0.2,0-0.3,0
		c0,0,0,0,0,0c-0.1,0-0.1,0-0.2-0.1c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2-0.1c0,0,0,0-0.1,0c-0.1,0-0.1-0.1-0.2-0.1c0,0,0,0,0,0
		c-0.1,0-0.1-0.1-0.2-0.1c0,0,0,0-0.1,0c-0.1,0-0.1-0.1-0.1-0.1c0,0,0,0-0.1-0.1c0,0-0.1-0.1-0.1-0.2c0,0,0,0-0.1-0.1
		c-0.1-0.1-0.1-0.2-0.2-0.3c0,0,0.1-0.1,0.1-0.1c0,0.2,0.1,0.4,0.3,0.6C109.8,104.1,110.4,104.2,110.9,104.4z"/>
	<path class="st2" d="M111.2,208.7c-0.1-0.2-0.1-0.6-0.1-1.1c1.6-11.2,3.2-22.4,4.7-33.7c0-0.1,0-0.2,0-0.3c0.2-1.4,0.3-2.9,0.5-4.3
		c0-0.1,0-0.3,0.1-0.4c0,0,0,0,0.1,0c0.2-1.8,0.5-3.6,0.7-5.4c0,0,0-0.1,0-0.1c0.3-1.8,0.7-3.5,0.8-5.3c0.1-1.7,0.7-3.4,0.7-5.1
		c0.2-0.7,0.1-1.4,0.3-2.1c0.1-0.4,0.3-1.3,0.2-1.4c-0.1,0.1-1.9-0.5-3.1-0.7c-11.8-1.8-23.6-3.7-35.4-5.5c-1.4-0.2-2.2-0.4-2.7-0.2
		c-0.1-0.1-0.3-0.2-0.4-0.3c-0.1,0.3-0.2,0.5-0.2,0.8c-0.2,0.4-0.4,1-0.7,1.9c0,0.1,0,0.2-0.1,0.3c-0.6,0.7-0.8,1.5-1,2.3
		c0,0.2-0.1,0.4-0.1,0.6c-0.1,0.4-0.2,0.8-0.3,1.2c-0.1,0.5-0.3,0.9-0.5,1.4c-0.4,0.8-0.6,1.1-1,0.5c-0.2-0.4-0.4-0.6-0.7-0.8
		c-0.2-0.1-0.3-0.2-0.5-0.3c-0.3-0.1-0.5-0.1-0.8-0.1c-0.8,0-1.5,0.2-2.3,0.2c0.8,1.9,0,3.8,0.2,5.6c0,0.3,0.1,0.6,0.1,0.9
		c-0.1,0.3-0.1,0.5,0,0.7c-0.1,1.3-0.4,2.6-0.7,3.9c-0.2,0.1-0.4,0.2-0.7,0.2c0,0,0,0,0,0c-0.1,0-0.1,0-0.2,0.1
		c0.2,1,0.2,2.1,0.4,3.2c0,0.2,0,0.4,0,0.5c0.1,1.2,0.8,1.8,1.1,2.9c0,0.4,0.1,0.6,0.4,0.7c0.1,0.1,0.2,0.2,0.3,0.3
		c0.3,0.3,0.4,0.6,0.3,0.8c-0.4,0.6-1.3,0.8-1.6,1.5c0,0,0,0,0,0c-0.1,0-0.3,0.1-0.3,0.2c-0.2,0.1-0.4,0.3-0.6,0.4
		c-0.1,0-0.1,0.1-0.1,0.1c-0.3,0.2-0.5,0.5-0.8,0.9c-0.7,1-0.7,2.4-1.3,3.5c-0.3,0.5-0.5,0.9-0.8,1.3c0,0,0,0,0,0l0,0
		c-0.3,0.5-0.6,1.1-0.7,1.8c-0.1,0.6,0.1,1.2,0.1,1.8c0.1,0.8,0.1,1.6,0,2.4c-0.1,0.8-0.4,1.2-0.9,1.4c-0.5,0-1-0.1-1.5-0.1
		c0,0-0.1,0-0.1,0.1c-0.3,0.2-0.4,0.4-0.5,0.7c-0.1,0.2-0.1,0.4-0.1,0.7c-0.1,1.8,1.3,2.3,2,2.6c0.2,0.1,0.4,0.2,0.6,0.3
		c5.4,3.2,10.8,6.4,16.1,9.5c3.6,2.1,7.2,4.2,10.8,6.4c1.2,0.7,2.4,1.2,3.8,1.4c1.5,0.2,3,0.5,4.6,0.7c3.2,0.5,6.5,1,9.7,1.6
		c0.3,0.1,0.6,0.1,0.8,0.1c0.4,0,0.7-0.1,1-0.3C111,209.2,111.1,209,111.2,208.7z"/>
	<path class="st2" d="M87.6,89.1c0-0.1-0.1-0.1-0.1-0.2c-7-1.4-14-2.7-21-4c-0.8-0.1-1.2-0.4-1.4-0.8c-0.3-0.1-0.6-0.1-0.9-0.2
		c-0.1,0-0.1,0-0.2,0c-0.4,0.3-0.9,0.3-1.6,0.1c-6.8-1.6-13.7-3.2-20.5-5c-0.2,0.1-0.4,0.1-0.5,0.2c-0.3,0.2-0.5,0.4-0.6,0.7
		c0.1,0.4,0.1,0.8-0.1,1.5c-2.4,9.3-4.6,18.7-7,28c-0.2,0.7-0.3,1.4,0,1.9c0,0,0,0.1,0,0.1c2.7,7.8,8.5,15.4,13.2,22.1
		c2.7,3.9,6,7.3,8.9,11c2.6,3.4,4.5,7.1,7.2,10.4c0,0,0,0,0.1,0.1c0.1,0.2,0.3,0.4,0.6,0.6c0.1,0.5,0.3,1,0.8,1.2
		c0.1,0.5,0.3,1,0.8,1.2c0,0.5,0.4,0.5,0.7,0.7c0,0,0,0,0,0c0.4,0.4,0.7,0.8,1,1.3c0.1,0.3,0.3,0.6,0.4,0.9c0,0.3,0,0.6,0.4,0.5
		c0.1,0.3,0.1,0.5,0.2,0.8c0.1,0,0.1,0,0.2-0.1c0,0,0,0,0,0c0.2-0.1,0.5-0.1,0.7-0.2c0.3-1.3,0.6-2.6,0.7-3.9c0-0.2,0-0.5,0-0.7
		c0-0.3,0-0.6-0.1-0.9c-0.2-1.8,0.6-3.8-0.2-5.6c0.8,0,1.5-0.2,2.3-0.2c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.3,0.2,0.5,0.3
		c0.2,0.2,0.5,0.5,0.7,0.8c0.4,0.7,0.7,0.3,1-0.5c0.2-0.4,0.4-0.9,0.5-1.4c0.1-0.4,0.2-0.8,0.3-1.2c0-0.2,0.1-0.4,0.1-0.6
		c0.2-0.8,0.5-1.6,1-2.3c0.1-0.1,0.1-0.2,0.1-0.3c0.3-0.9,0.4-1.6,0.7-1.9c0.1-0.3,0.2-0.5,0.2-0.8c-0.1-0.1,0.1,0.2,0,0
		c1.2-4.4,1.2-9.9,2.1-14.4c2.5-12.5,4.9-25,7.3-37.5c0.1-0.5,0.1-0.9,0-1.2C87.1,89.5,87.3,89.3,87.6,89.1z"/>
	<path class="st0" d="M321.1,128.7C321.1,128.7,321.1,128.7,321.1,128.7c0.1-0.1,0-0.4-0.1-0.5c0-0.3-0.1-0.5-0.1-0.8
		c-0.6-1.9-0.9-3.8-0.9-5.8c0-0.8,0-1.6,0-2.5l0,0c-0.3-3-0.7-6.1-1-9.1c0.1,0,0.2,0,0.3,0c-0.1-0.9-0.1-1.8-0.2-2.6
		c-0.1-1.2-0.3-2.4-0.5-3.6c0,0-0.1,0.1-0.1,0.1c-0.4-1-0.4-2-0.4-3c0-0.1,0.1-0.2,0.1-0.3c-0.1,0-10.5,0-15.1,1.3
		c-0.2,0-0.3-0.2-0.5-0.3c-0.1-0.1-0.1-0.2-0.1-0.4c-1.1,0.3-2.1,0.8-3.1,1.3c-0.2,0.1-0.4,0.2-0.6,0.2c0,0,0,0,0,0
		c-0.2,0-0.5-0.1-0.6-0.1c-0.4,0-0.8,0.1-1,0.3c0.1,0.3,0.2,0.6,0.3,0.9c-0.2,0.3-0.1,0.8-0.1,1.3c0.5,6,0.8,12,1.4,18
		c0.3,2.9,0.1,5.7,0.3,8.6c0.6,1.1,1.1,2.1,0.7,3.3c0,0,0,0,0,0c-0.2,1.2-0.9,2.7-1.6,3.7c-0.5,0.7-1,1-1.4,1.8c0,1-0.4,2.4-0.1,3.4
		c0.1,0.3,4.3-1.3,6.6,0.3c1.2,0.1,0.9-1,1.2-1.5c0.6-0.9,1.4-1.7,2.1,0c1.7,0.9,2-0.6,2.4-1.5c0.5-1,0.8-1.4,1.7-0.4
		c1.1,1.2,2.3,0.7,2.7-0.6c0.6-1.8,2.1-3,3.1-4.5c0.3-0.4,0.8-0.8,0.8-1.4c0-0.2,0-0.3,0-0.5c0-0.3,0.1-0.4,0.3-0.6c0,0,0,0,0.1,0
		c0,0,0,0,0,0c0.4-0.2,0.9-0.1,1.4,0c0,0,0,0,0,0c0.4-0.3,0.8-0.7,1.1-1l0,0c0,0,0,0,0,0c0.2-0.6,0.8-0.5,1.2-0.5
		C321.3,130.8,321.2,129.8,321.1,128.7z"/>
	<path class="st0" d="M278.1,143.1c0,0,0.1,0.1,0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1-0.1C278.1,143.2,278.1,143.2,278.1,143.1
		z"/>
	<polygon class="st0" points="272.1,106.9 272.1,106.9 272.1,106.9 	"/>
	<path class="st0" d="M328.9,212.8L328.9,212.8L328.9,212.8C329,212.8,329,212.8,328.9,212.8z"/>
	<polygon class="st0" points="328.5,202.4 328.5,202.4 328.5,202.4 	"/>
	<path class="st0" d="M365.4,199.1c-0.2-0.2-0.9,0.2-1.1-0.4c0,0-0.1,0-0.1,0c-0.4-0.2-0.7-0.4-1.1-0.6c0,0,0,0,0,0l0,0
		c-0.4-0.9-0.6-1.7-0.6-2.7c-0.5-0.3-0.5-0.7-0.4-1.2c-2.1,0.1-2.5-1.2-2.5-2.9c-1.6-0.1-1.7-1.6-2.5-2.5c-0.7,0.1-1.2-0.2-1.3-0.9
		c-0.4-0.3-0.7-0.7-1-1.1c-0.5-0.7-0.8-1.4-1.4-2.1c-0.6-0.2-1.5,0-1.7-0.9c-0.3,0-0.5-0.1-0.4-0.4c-0.4,0.2-0.7-0.1-0.8-0.4
		c0,0,0,0,0,0c-0.1-0.1-0.3-0.3-0.4-0.4c-0.5-0.1-0.8-0.4-0.9-0.8c-1.3-1.2-2.8-2-3.2-4c0-0.1-0.1-0.2-0.2-0.3
		c-0.3-0.3-0.8-0.5-1.1-0.7l0,0c-0.9-0.3-1.9-0.6-2.6-1.3c-0.4,0-0.7,0-0.9-0.4c-0.3,0-0.7,0-0.8-0.4c-0.5-0.1-0.8-0.3-0.8-0.8
		c-0.6-0.3-0.4-0.5,0-0.8c0-0.3,0-0.7,0.4-0.8c0.1-0.4,0.4-0.6,0.8-0.4c0-0.4-0.2-0.7-0.4-0.8c0,0,0,0,0,0c0,0-0.1,0-0.1,0
		c-0.2-0.1-0.5-0.1-0.9-0.1c-3.5,0.5-6.9,1-10.4,1.4c-0.3-0.1-0.6-0.2-0.9-0.5c-0.1-0.1-0.1-0.1-0.2-0.2c-0.2,0-0.5,0.1-0.7,0.1
		c-0.4,0.3-0.8,0.4-1.4,0.5c-2,0.3-4,0.5-6.1,0.7c-0.1,0.1-0.2,0.2-0.3,0.3c0,0-0.1,0.1-0.1,0.1c-0.1,0.2-0.2,0.5-0.2,0.7
		c0.2,0.2,0.4,0.5,0.5,1c0.9,3.2,1.8,6.5,2.9,9.6c1.3,3.7,1.9,7.7,3.7,11.2c0,0,0,0,0,0c0.2,1.1,0.1,2.3,1.2,2.9
		c-0.2,0.6,1,0.7,0.6,1.4c0,0,0,0,0,0l0,0c0.1,0.6,0.2,1.2,0.3,1.9c0,0.1,0,0.3-0.1,0.4l0,0l0,0l0,0l0,0c0,0,0,0,0,0
		c-0.5,1.8-1.4,3.5-0.4,5.4c0,0,0,0,0,0l0,0l0,0c0,0.4,0,0.7,0.4,0.9c0.8,1.3-0.6,2.8,0.4,4.1c0,0,0,0,0,0c0.2,0.5,0.3,1,0.8,1.3
		c-0.1,0.1-0.2,0.4-0.4,0.4c-0.1,0-0.2,0-0.3,0c0,0,0,0,0,0l0,0c0.1,0.1,0.2,0.2,0.3,0.3c0,0.1,0,0.1,0,0.2c0.3,0.1,0.6,0.3,0.8,0.7
		c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.5,0.3,0.1,1.1,0.8,1.3c0.4,1.2,1.4,0.8,2.2,0.8c6.7-0.4,13.5-0.8,20.2-1.4c1.3-0.1,2.1,0.2,2.9,1
		c0,0,0,0,0,0l0,0l0,0l0,0c0.2,0.6,0.7,0.9,1.2,0.8c0.2-0.1,0.4-0.2,0.5-0.3c0.1-0.3-0.1-0.7,0-1c0.2-1.2-0.7-2.4-0.3-3.6
		c0.5-0.4,1-0.3,1.5,0c0.1,0.4,0.5,0.4,0.8,0.4c0.9-0.1,1.6-0.1,2.2,0.2c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.1-0.2,0.2-0.3
		c0.3-0.6,0.2-1.4,0.1-2c-0.7-3.5,0.7-6.4,2.2-9.5c0.3-0.7,0.7-1.5,1-2.2c0.1-0.2,0.1-0.5,0-0.7c-0.2,0.2-0.5,0.5-0.8,0.6
		C365.3,199.2,365.4,199.2,365.4,199.1z M328.5,202.4L328.5,202.4L328.5,202.4L328.5,202.4z M328.9,212.8
		C329,212.8,329,212.8,328.9,212.8L328.9,212.8L328.9,212.8z"/>
	<polygon class="st0" points="351.4,183.3 351.4,183.3 351.4,183.3 351.4,183.3 	"/>
	<path class="st0" d="M362.2,194.1C362.2,194.1,362.2,194.1,362.2,194.1L362.2,194.1L362.2,194.1z"/>
	<polygon class="st0" points="339.8,173.8 339.8,173.8 339.8,173.8 	"/>
	<path class="st0" d="M357.2,188.7L357.2,188.7C357.2,188.7,357.2,188.7,357.2,188.7C357.2,188.7,357.2,188.7,357.2,188.7
		C357.2,188.7,357.2,188.7,357.2,188.7z"/>
	<path class="st0" d="M359.7,191.2C359.7,191.2,359.7,191.2,359.7,191.2C359.7,191.2,359.7,191.2,359.7,191.2
		C359.7,191.2,359.7,191.2,359.7,191.2C359.7,191.2,359.7,191.2,359.7,191.2z"/>
	<polygon class="st0" points="357.2,188.7 357.2,188.7 357.2,188.7 	"/>
	<path class="st0" d="M339.7,173.7C339.7,173.7,339.7,173.7,339.7,173.7C339.8,173.8,339.8,173.8,339.7,173.7L339.7,173.7z"/>
	<path class="st0" d="M340.6,174.6C340.6,174.6,340.6,174.6,340.6,174.6C340.6,174.6,340.6,174.6,340.6,174.6L340.6,174.6z"/>
	<path class="st0" d="M351.8,183.7C351.8,183.7,351.8,183.7,351.8,183.7C351.8,183.7,351.8,183.7,351.8,183.7L351.8,183.7z"/>
	<path class="st0" d="M341.4,175C341.4,175,341.4,175,341.4,175C341.4,175,341.4,175,341.4,175L341.4,175z"/>
	<path class="st0" d="M362.2,194.1C362.2,194.1,362.2,194.1,362.2,194.1C362.2,194.1,362.2,194.1,362.2,194.1
		C362.2,194.1,362.2,194.1,362.2,194.1z"/>
	<path class="st0" d="M362.6,195.3C362.6,195.3,362.6,195.3,362.6,195.3C362.6,195.3,362.6,195.4,362.6,195.3L362.6,195.3z"/>
	<path class="st0" d="M339.8,172.9C339.8,172.9,339.8,172.9,339.8,172.9C339.7,172.9,339.7,172.9,339.8,172.9L339.8,172.9z"/>
	<path class="st0" d="M341,171.7C341,171.7,341,171.7,341,171.7L341,171.7L341,171.7z"/>
	<path class="st0" d="M350.1,182.5L350.1,182.5C350.1,182.5,350.1,182.5,350.1,182.5C350.2,182.5,350.2,182.5,350.1,182.5
		L350.1,182.5z"/>
	<path class="st0" d="M341,171.7C341,171.7,341,171.7,341,171.7C341,171.7,341,171.7,341,171.7C341,171.7,341,171.7,341,171.7z"/>
	<path class="st0" d="M351.4,183.3C351.4,183.3,351.4,183.3,351.4,183.3C351.4,183.3,351.4,183.3,351.4,183.3
		C351.4,183.3,351.4,183.3,351.4,183.3z"/>
	<path class="st0" d="M342.2,175.4C342.2,175.4,342.2,175.4,342.2,175.4C342.3,175.4,342.3,175.4,342.2,175.4L342.2,175.4z"/>
	<path class="st0" d="M340.2,172.1C340.2,172.1,340.2,172.1,340.2,172.1C340.2,172.1,340.2,172.1,340.2,172.1L340.2,172.1z"/>
	<path class="st3" d="M275.9,100.1c-0.2-0.7-0.6-1.4-1.3-2.1c-1.2-1.3-2.5-2.8-4-3.8c-1-0.7-2.1-1.3-2.8-2.4c-0.6-1-0.2-2.2,0-3.3
		c0.3-0.5,0.2-1.1,0-1.6c-0.2-0.7-0.9-1.3-1.5-1.8c-0.3-0.2-0.6-0.1-0.8,0.1c-0.2,0.1-0.4,0.1-0.7,0.1c-10.6,0.2-21.2,0.5-31.8,0.8
		c-0.2,0-0.4,0-0.7,0c-0.4,0.1-0.9,0.1-1.4,0.1c-0.4,0-0.8,0-1.3,0c-0.2,0.1-0.5,0.1-0.7,0.2c-1.5,0.1-2.1,0.2-2.4-0.3
		c-0.1,0-0.1,0-0.2,0c-0.1,0-0.5,0.2-0.6,0.2l-0.9,8.9c0,0.1,0,0.2,0,0.3c0,0.7,0,1.3,0,1.9c0,0.2,0,0.4,0,0.7
		c0,0.7,0.1,1.4,0.3,2.1c0.1,0.2,0.2,0.4,0.2,0.6c-0.2,1.1,0.2,2,0.9,2.9c0.1,0.2,0.3,0.4,0.4,0.5c0.4,0.5,0.7,1,1,1.6
		c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.5,0.3,1,0.5,1.5c0.1,0.2,0.1,0.3,0.2,0.5c-0.8,2.5,1.3,3.6,1,5.8c0,0.2,0,0.4,0,0.5
		c0.1,1.8,1.9,3.7,1.9,3.7c0.2,0,2.3-0.4,2.5-0.4c3-0.1,6-0.2,8.9-0.4c5-0.2,9.9-0.2,14.8-0.7l0,0c0.7,0,1.3,0,2,0
		c0.7,0,1.3,0,2-0.1c1.5-0.1,2.9,0.2,3.7,1.6c0.3,0.3,0.4,0.6,0.5,0.9c0,0,0,0,0,0c0.3,0,0.7-0.1,0.9-0.4c0-0.1,0.1-0.2,0.1-0.3
		c0.3-0.6,0-1-0.4-1.4c2-1,3.5-3.1,3.6-5.3c0-0.3-0.2-0.6-0.4-0.8c-0.1-0.1-0.1-0.2-0.3-0.4c-1.1-1.7,0.7-2.5,1.9-3.3
		c1.3-0.8,2.6-1.2,3.5-2.5c0.8-1.4,1.3-2.7,1.2-3.9C276.2,100.8,276.1,100.4,275.9,100.1z"/>
	<path class="st0" d="M380,173.8C380,173.8,380,173.8,380,173.8C380,173.8,380,173.8,380,173.8C380,173.8,380,173.7,380,173.8
		L380,173.8z"/>
	<polygon class="st0" points="380.8,174.6 380.8,174.6 380.8,174.6 	"/>
	<path class="st0" d="M379.2,173.4C379.2,173.4,379.2,173.3,379.2,173.4C379.2,173.3,379.2,173.3,379.2,173.4L379.2,173.4z"/>
	<path class="st0" d="M377.9,172.5C377.9,172.5,377.9,172.5,377.9,172.5C377.9,172.5,377.9,172.5,377.9,172.5L377.9,172.5z"/>
	<path class="st0" d="M346.8,167.5L346.8,167.5L346.8,167.5C346.8,167.6,346.8,167.5,346.8,167.5z"/>
	<path class="st0" d="M382.1,175.4C382.1,175.4,382.1,175.4,382.1,175.4C382.1,175.4,382.1,175.4,382.1,175.4L382.1,175.4z"/>
	<path class="st0" d="M375,170.5C375,170.4,375,170.4,375,170.5C375,170.4,375,170.4,375,170.5L375,170.5z"/>
	<polygon class="st0" points="379.2,173.3 379.2,173.3 379.2,173.3 	"/>
	<polygon class="st0" points="375,170.4 375,170.4 375,170.4 	"/>
	<path class="st0" d="M374.2,169.6C374.2,169.6,374.2,169.6,374.2,169.6C374.2,169.6,374.2,169.6,374.2,169.6
		C374.2,169.6,374.2,169.6,374.2,169.6L374.2,169.6z"/>
	<polygon class="st0" points="372.1,168.4 372.1,168.4 372.1,168.4 	"/>
	<polygon class="st0" points="376.3,171.3 376.3,171.3 376.3,171.3 	"/>
	<path class="st0" d="M377.1,171.7C377.1,171.7,377.1,171.7,377.1,171.7C377.1,171.7,377.1,171.7,377.1,171.7L377.1,171.7z"/>
	<path class="st0" d="M376.3,171.3L376.3,171.3C376.3,171.3,376.3,171.3,376.3,171.3C376.3,171.3,376.3,171.3,376.3,171.3
		C376.3,171.3,376.3,171.3,376.3,171.3z"/>
	<polygon class="st0" points="377.9,172.5 377.9,172.5 377.9,172.5 	"/>
	<path class="st0" d="M380.9,174.6C380.9,174.6,380.9,174.6,380.9,174.6C380.8,174.6,380.8,174.6,380.9,174.6L380.9,174.6z"/>
	<path class="st0" d="M360.5,167.1C360.5,167.1,360.5,167.1,360.5,167.1C360.5,167.1,360.5,167.1,360.5,167.1L360.5,167.1z"/>
	<polygon class="st0" points="361.3,167.5 361.4,167.6 361.3,167.5 	"/>
	<polygon class="st0" points="360.5,167.1 360.5,167.1 360.5,167.1 	"/>
	<path class="st0" d="M372.1,168.4C372.1,168.4,372.1,168.4,372.1,168.4C372.1,168.4,372.1,168.4,372.1,168.4L372.1,168.4z"/>
	<path class="st0" d="M373.4,169.2C373.4,169.2,373.4,169.2,373.4,169.2C373.4,169.2,373.4,169.2,373.4,169.2L373.4,169.2z"/>
	<path class="st0" d="M345.6,168.4C345.6,168.4,345.6,168.4,345.6,168.4C345.6,168.4,345.6,168.4,345.6,168.4L345.6,168.4z"/>
	<path class="st0" d="M346.2,142c-0.1-0.1-0.1-0.1-0.2-0.2l0,0c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c-0.3-0.2-0.6-0.3-0.9-0.5
		c-0.2-0.1-0.4-0.2-0.5-0.3c-0.2-0.1-0.4-0.2-0.5-0.3c-0.3-0.1-0.5-0.3-0.6-0.5c-1.7-1.6-2.8-4.1-2.5-6.3c0-0.1-0.1-0.2-0.1-0.3
		c0.1-0.2,0.1-0.3,0.2-0.5c-0.1,0.1-0.3,0.1-0.5,0.1l0,0c-0.5-0.4-1.1-0.8-1.6-1.2c-0.2-0.1-0.3-0.3-0.5-0.5c-0.9-1-1.4-0.9-2.6-0.3
		c-1.8,0.9-3.9,1.8-6,0.4c-1.2-0.8-3.1-0.5-3.8-2.2l0,0c-0.2-0.4-0.4-0.6-0.8-0.5c0.1-0.4-0.1-0.4-0.4-0.4c0-0.3-0.2-0.4-0.4-0.4
		c0-0.2-0.1-0.3-0.3-0.3c-0.1,0-0.1,0.2-0.1,0.3c-0.2,0-0.3,0.1-0.5,0.1c-0.6,0.1-1.1,0-1.5-0.3c-0.3,0.2-0.5,0.3-0.6,0.6
		c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0,0,0c0.1,1,0.3,2,0.4,3.1c-0.5,0-1-0.1-1.2,0.5c0,0,0,0,0,0l0,0c-0.4,0.3-0.8,0.7-1.1,1
		c0,0,0,0,0,0c-0.5-0.1-1-0.2-1.4,0c0,0,0,0,0,0c0,0,0,0-0.1,0c-0.1,0.1-0.2,0.3-0.3,0.6c0,0.1,0,0.3,0,0.5c0,0.6-0.5,1-0.8,1.4
		c-1,1.5-2.5,2.7-3.1,4.5c-0.4,1.2-1.6,1.8-2.7,0.6c-0.9-1-1.3-0.6-1.7,0.4c-0.5,0.9-0.7,2.4-2.4,1.5c-0.7-1.6-1.4-0.9-2.1,0
		c-0.4,0.5-0.1,1.6-1.2,1.5c-2.2-1.6-5.8-0.9-6.6-0.3c-0.1,0-0.1,0.1-0.2,0.1c-0.2,0.1-0.3,0.4-0.3,0.6c0,0,0,0,0,0
		c0,0.3,0,0.6,0,0.8c-0.5,0.1-0.5,0.4-0.4,0.8c-0.6,0.3-0.6,0.6,0,0.8c0.1,0.7-0.4,1.1-1,1.2c-1.9,0.2-2.6,1-1.7,2.8
		c0.4,0.8-0.1,1.3-0.5,1.8H292c-0.2-0.4-0.5-0.5-0.8-0.4c-0.1-0.5-0.5-0.5-0.9-0.4c-1.3-1.2-2.3-1.1-3,0.6c-0.1,0.4-0.3,0.6-0.5,0.8
		c0,0.3,0.1,0.6,0.1,0.9c0,0,0,0.1,0,0.1c0.3-0.1,0.6-0.1,0.8,0.1c-0.1,1.6,0.2,3.3-1.7,4.2l0,0c-0.4,0-0.6,0.1-0.8,0.2
		c0.1,0.4,0.2,0.7,0.4,0.9c0.1,0.1,0.2,0.2,0.3,0.2c2.6-0.7,5.3-0.5,7.9-0.9c0.9-0.1,2,0.4,2.6-0.7h0c0.8-0.4,1.4-1.1,2.3-1.2
		c0.3,0,0.6,0,0.9,0.2c2.4-0.3,4.8-0.2,7.1-0.8l0,0c2.1-0.2,4.1-0.3,6.2-0.5l0,0c5.1-0.5,10.2-0.9,15.2-1.4c2.2-0.2,4.4-0.5,6.5-0.9
		c0.5-0.2,1.1-0.4,1.6-0.6c-0.1-0.1-0.2-0.2-0.2-0.4c-0.1-0.1-0.1-0.3-0.1-0.4c0.1-0.1,0.3-0.1,0.4-0.2c0.5-0.6,1.1-1,1.7-1.4
		c0.8-0.5,1.4-1.2,2.1-1.8c0,0,0,0,0,0c0.5-1.5,1.6-2.5,2.8-3.5c0,0,0,0,0,0c0.2-0.2,0.4-0.4,0.6-0.5c0,0,0.1-0.1,0.1-0.1
		c0.1-0.2,0.2-0.3,0.4-0.3c0.5-0.5,0.9-0.9,1.4-1.3c0.3-0.2,0.5-0.5,0.5-0.8C346.3,142.3,346.3,142.2,346.2,142z"/>
	<polygon class="st0" points="385,122.7 385,122.7 385,122.7 	"/>
	<path class="st3" d="M287,154.6C287,154.5,287,154.5,287,154.6c-0.1-0.1-0.2,0-0.3,0c0,0-0.1,0-0.1,0c-0.2,0-0.5-0.1-0.6-0.2
		c-0.1-0.1-0.1-0.2-0.1-0.4c-0.1,0-0.2-0.1-0.2-0.2c-0.5-0.1-0.6-0.5-0.7-1.1c-0.4-1-0.4-2.4-0.5-3.6c-0.4-0.6-0.6-1.3-0.6-2
		c-0.1-0.1-0.2-0.2-0.3-0.3c-0.3,0-0.4-0.1-0.6-0.4c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c-0.4-0.1-0.8-0.2-1-0.5
		c-0.8-0.3-1.6-0.6-2.3-1c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0-0.1,0-0.2-0.1c-0.3-0.3-0.6-0.6-0.8-1c-0.6-1.5-0.2-3.2-0.2-4.8
		c0-1-0.1-2.2-0.6-3.2c-0.1-0.3-0.4-0.6-0.6-0.9c-0.4-0.2-0.8-0.3-1.1-0.7c-0.2,0-0.4-0.1-0.5-0.1c-0.3,0.2-0.5,0.4-0.8,0.3
		c0,0,0-0.1,0.1-0.1c-0.1,0-0.3,0.1-0.4,0.1c0.1,0,0.2,0,0.3,0c0,0.1-0.1,0.2-0.1,0.3c-0.1,0-0.2,0-0.3,0c-0.3,0-0.6-0.1-0.8-0.2
		c0,0,0,0,0-0.1c-0.4-1-0.8-1.9-1.1-2.9c-0.1-0.2-0.2-0.4-0.3-0.6c-0.4-0.6-0.8-1.1-1.3-1.6c-0.3-0.1-0.5-0.2-0.6-0.5l0,0
		c-0.2-0.1-0.3-0.3-0.5-0.4c0,0,0,0,0,0c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2,0-0.4-0.1-0.4-0.3c-0.8-0.6-1.5-1.3-2-2.2
		c-0.6-0.9-0.8-1.9-0.8-2.8c-0.2-0.7,0-1.5,0-2.3c0,0,0-0.1,0-0.1c0-0.3,0-0.6-0.1-0.9c-0.1-0.3-0.2-0.6-0.5-0.9
		c-0.8-1.4-2.2-1.7-3.7-1.6c-0.7,0-1.3,0.1-2,0.1c-0.7,0-1.3,0-2,0l0,0c-4.9,0.5-9.9,0.5-14.8,0.7c-3.2,0.1-6.4,0.3-9.5,0.4
		c-0.5,0-1.2-0.2-1.4,0.2l-0.4,0.2c0,0-0.1,0-0.1,0c0.1,0.1,0.1,0.2,0.3,0.3c0.1,0.1,0.1,0.2,0.2,0.4c0.1,0.1,0.1,0.2,0.2,0.3
		c0.8,1.8,0.8,3.9,2.8,5.2c0.2,0.1,0.4,0.2,0.5,0.3c0.2,0.1,0.3,0.3,0.4,0.4c0.6,1.1,0.9,2.6,1.4,4.1c0.1,0.2,0.1,0.4,0.2,0.6
		c0.5,1.6,2.6,2.6,3.3,5.4c0,0.2,0,0.4,0,0.7c0,6.3,0,12.5,0,18.8c0,0.7-0.1,1.1-0.5,1.2c0,0.2,0,0.5,0,0.7c0.4,0.2,0.5,0.6,0.5,1.2
		c-0.1,1.1,0,2.2,0,3.3c0,0,0.1,0.1,0.1,0.1c0.2,0.2,0.3,0.3,0.5,0.4c0-0.2,0-0.4,0-0.5c4.3,0,8.5,0.1,12.7,0
		c3.4-0.1,6.8,0.1,10.3-0.2c4.7-0.5,9.4-0.4,14.1-0.5c0.3,0,0.6,0.2,0.9,0.4c0.2,0.7,0.6,1.3,0.4,2c-0.5,0.3-1.1,0.5-1.2,1.2
		c-0.3-0.1-0.6,0-0.4,0.4c-0.5-0.1-0.6,0-0.7,0.3c0.1,0.1,0.1,0.3,0.2,0.3c0.3,0.2,0.6,0.4,1,0.6c1-0.1,2-0.1,3-0.3
		c0.4-0.1,0.8-0.1,1,0c0.1,0,0.1-0.1,0.2-0.1c0.4-0.3,0.8-0.6,1.1-1c0-0.1,0-0.2,0.1-0.3c0.2-0.9,0.3-1.9,0.5-2.8
		c0.4-0.2,0.4-0.5,0.4-0.8c0.3-0.1,0.5-0.2,0.8-0.3c0-0.1,0-0.2,0-0.3c-0.2-0.2-0.3-0.5-0.4-0.9c0.2-0.1,0.4-0.2,0.8-0.2l0,0
		c1.9-0.9,1.6-2.6,1.7-4.2C287.6,154.5,287.3,154.5,287,154.6z"/>
	<polygon class="st0" points="384.6,123.5 384.6,123.5 384.6,123.5 	"/>
	<path class="st0" d="M385.4,121.9L385.4,121.9C385.4,121.8,385.4,121.8,385.4,121.9C385.4,121.9,385.4,121.9,385.4,121.9
		C385.4,121.9,385.4,121.9,385.4,121.9z"/>
	<polygon class="st0" points="385.4,121.9 385.4,121.9 385.4,121.9 	"/>
	<path class="st0" d="M380.4,117.3C380.4,117.3,380.4,117.3,380.4,117.3C380.4,117.3,380.5,117.3,380.4,117.3L380.4,117.3z"/>
	<path class="st0" d="M384.6,123.5L384.6,123.5C384.6,123.5,384.6,123.5,384.6,123.5C384.6,123.5,384.6,123.5,384.6,123.5
		C384.6,123.5,384.6,123.5,384.6,123.5z"/>
	<path class="st0" d="M385,122.7C385,122.7,385,122.7,385,122.7C385,122.7,385,122.7,385,122.7L385,122.7z"/>
	<path class="st0" d="M353,143.4C353,143.4,353,143.5,353,143.4C353.1,143.5,353.1,143.5,353,143.4L353,143.4z"/>
	<path class="st0" d="M371.3,123.5C371.3,123.5,371.3,123.5,371.3,123.5C371.3,123.5,371.3,123.5,371.3,123.5L371.3,123.5z"/>
	<path class="st0" d="M369.2,124.4C369.2,124.4,369.2,124.4,369.2,124.4C369.2,124.4,369.2,124.3,369.2,124.4L369.2,124.4z"/>
	<path class="st0" d="M360.5,140.5C360.5,140.5,360.5,140.6,360.5,140.5L360.5,140.5C360.5,140.5,360.5,140.5,360.5,140.5z"/>
	<path class="st0" d="M366.3,128.5C366.3,128.5,366.3,128.5,366.3,128.5C366.3,128.5,366.3,128.5,366.3,128.5L366.3,128.5z"/>
	<path class="st0" d="M376.7,118.5C376.7,118.5,376.7,118.5,376.7,118.5C376.7,118.6,376.7,118.6,376.7,118.5L376.7,118.5z"/>
	<path class="st0" d="M375.4,117.7C375.4,117.7,375.4,117.7,375.4,117.7C375.5,117.7,375.5,117.7,375.4,117.7L375.4,117.7z"/>
	<path class="st0" d="M376.3,118.1C376.3,118.1,376.3,118.1,376.3,118.1C376.3,118.1,376.3,118.1,376.3,118.1L376.3,118.1z"/>
	<path class="st0" d="M375,117.3C375,117.3,375,117.3,375,117.3C375,117.3,375,117.3,375,117.3C375,117.3,375,117.3,375,117.3z"/>
	<path class="st0" d="M362.6,134.7C362.6,134.7,362.6,134.7,362.6,134.7C362.6,134.7,362.6,134.7,362.6,134.7L362.6,134.7z"/>
	<path class="st0" d="M349.7,144.7C349.7,144.7,349.7,144.7,349.7,144.7C349.7,144.7,349.7,144.7,349.7,144.7L349.7,144.7z"/>
	<path class="st0" d="M349.3,144.3C349.3,144.3,349.3,144.3,349.3,144.3C349.3,144.3,349.3,144.3,349.3,144.3L349.3,144.3z"/>
	<path class="st0" d="M351.4,144.7C351.4,144.7,351.4,144.7,351.4,144.7C351.4,144.7,351.4,144.7,351.4,144.7L351.4,144.7z"/>
	<path class="st0" d="M361.3,139.3C361.3,139.3,361.3,139.3,361.3,139.3C361.4,139.3,361.4,139.3,361.3,139.3L361.3,139.3z"/>
	<path class="st0" d="M362.2,135.2C362.2,135.2,362.2,135.2,362.2,135.2C362.2,135.2,362.2,135.1,362.2,135.2L362.2,135.2z"/>
	<path class="st0" d="M361.3,136.8C361.3,136.8,361.3,136.8,361.3,136.8C361.3,136.8,361.3,136.8,361.3,136.8L361.3,136.8z"/>
	<path class="st0" d="M377.5,118.9C377.5,119,377.5,119,377.5,118.9C377.5,119,377.5,119,377.5,118.9L377.5,118.9z"/>
	<path class="st0" d="M378.4,115.6C378.4,115.6,378.4,115.6,378.4,115.6C378.4,115.6,378.4,115.6,378.4,115.6L378.4,115.6z"/>
	<path class="st0" d="M378.8,116.9C378.8,116.9,378.8,116.9,378.8,116.9C378.8,116.8,378.8,116.8,378.8,116.9L378.8,116.9z"/>
	<path class="st0" d="M372.1,115.6C372.1,115.6,372.1,115.6,372.1,115.6C372.1,115.6,372.1,115.6,372.1,115.6L372.1,115.6z"/>
	<polygon class="st0" points="377.5,115.2 377.6,115.2 377.5,115.2 	"/>
	<path class="st0" d="M365.5,119.8C365.5,119.8,365.5,119.8,365.5,119.8C365.5,119.8,365.5,119.8,365.5,119.8L365.5,119.8z"/>
	<path class="st0" d="M377.6,115.2C377.6,115.2,377.6,115.2,377.6,115.2C377.6,115.2,377.5,115.2,377.6,115.2
		C377.5,115.2,377.5,115.2,377.6,115.2z"/>
	<path class="st0" d="M398.7,127.7C398.7,127.7,398.7,127.6,398.7,127.7C398.7,127.7,398.7,127.7,398.7,127.7
		C398.7,127.7,398.7,127.7,398.7,127.7L398.7,127.7z"/>
	<path class="st0" d="M299.6,59.2c0,0.1,0.1,0.1,0.1,0.2c0.1-0.1,0.1-0.2,0.2-0.3c0,0,0,0,0,0C299.8,59.2,299.7,59.2,299.6,59.2z"/>
</g>
<path class="st0" d="M378.8,116.9C378.8,116.9,378.8,116.9,378.8,116.9L378.8,116.9C378.8,116.8,378.8,116.8,378.8,116.9
	c0.1-0.5-0.1-0.9-0.4-1.2c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.1-0.4-0.4-0.6-0.8-0.5c0,0,0,0,0,0.1l0,0l0,0c0,0,0,0,0,0c0,0,0,0,0,0
	c0.1-0.7,0-1.2-1-1.2c-1.5,0-2.9,0.2-4.1,1.3l0,0c-0.3,0-0.4,0.2-0.4,0.4c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.4,0.5h0
	c-0.9-0.5-1.7-0.5-2.4,0.2c-0.1,0.1-0.2,0.2-0.3,0.4c-0.7,1-1.7,1.8-2.5,2.6c-0.4-0.1-0.8,0.1-1,0.4c0,0,0,0,0,0l0,0c0,0,0,0,0,0
	c-1.1-0.8-1.5-2.4-1.1-3.7c-0.2-0.3-0.4-0.5-0.6-0.7c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1,0-0.1,0-0.2-0.1c-2.1,0.3-4.1,0.6-6.2,1
	c-1.3,0.3-1.7-0.2-1.9-1.4c-0.4-2.7-0.9-5.3-1.3-8c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0.1-0.5,0.2c0,0,0,0,0,0c0,0,0,0,0,0
	c0,0.5-0.1,1-0.3,1.5c0,0.1-0.1,0.3-0.2,0.4c0,0.4,0,1,0,1.6c1,0.8,0.2,2.3,0.8,3.1c-0.1,0.8-0.3,1.6-0.4,2.4c0,0.3-0.1,0.5-0.1,0.8
	c-0.2,2-2.6,4.5-4.6,4.9c-0.2,0.1-0.4,0.3-0.6,0.4v0l0,0l-0.1,0.1c-0.6,0.3-0.9,0.8-0.9,1.4c-0.7,0.6-0.9,1.3-0.7,2.3
	c0.3,1-0.3,0.9-1,0.6l0,0c-1-0.9-1.3-0.1-1.7,0.6c-0.7,1.4,0,2.9-0.4,4.3c-0.6,0.2-1,0.6-0.8,1.2c-0.5-0.1-0.9,0.1-1.3,0.3
	c-0.1,0.2-0.2,0.3-0.2,0.5c0,0,0,0,0,0c0,0,0,0.1,0,0.2c-0.4,3.6,1.7,6.4,4.3,8.6c0.9,0.7,3.3,2.6,5.1,2.8c0.4,0.2,0.7,0.2,1.1-0.1
	c0.1,0,0.2-0.1,0.3-0.1c0.4,0.1,0.6-0.1,0.7-0.5l0,0c0.3-0.3,0.6-0.6,0.9-0.8c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.4,0.4,0.6,1.2,1.4,0.4
	c0.6,0,1.3-0.1,1.7-0.5c0.1-0.1,0.1-0.1,0.1-0.2c0.7-1.1,1.7-1.6,2.8-1.9c0.5-0.1,1.1-0.2,1.5-0.5c0.4-0.3,0.6-0.6,0.7-0.9
	c0.1-0.2,0.2-0.3,0.1-0.6c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.5-0.6,0.1-1.2-0.1-1.8c0.1-0.3,0.2-0.6,0.3-0.8c0.4-0.3,0.6-0.8,0.6-1.3
	c0-0.1,0.1-0.1,0.1-0.2c0.2,0,0.3-0.2,0.3-0.4c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.6-0.5,0.6-1.3,0.8-2c0.2-0.6,0.3-1.3,0.5-2
	c0.1-0.3,0.2-0.5,0.4-0.8c0.7-1.1,1.6-0.8,2.5-1c0.5,0.4,1.1,0.2,1.4-0.8c0.1-0.3,0.2-0.5,0.3-0.8c0.2-0.5,0.4-1,0.7-1.5
	c0.6-1.3,0.9-0.6,1.9-1.2c0.8-0.4,1.2-1.7,1.5-2.7c0.1-0.1,0.2-0.3,0.3-0.4c0.1-0.2,0.1-0.3,0.1-0.5c0-0.8,0.2-1.5,0.4-2.3
	c0.3-0.7,0.7-1.2,1.4-0.8c0.8,0.5,1.7,1,2.6,1.3c0.2,0.1,0.5,0.1,0.7,0.1c0.3,0.1,0.5,0,0.7-0.2c0.3-0.2,0.5-0.5,0.6-0.9
	c0.1-0.2,0-0.4-0.1-0.5c0.1-0.1,0.2-0.2,0.3-0.3c0-0.1,0-0.2,0.1-0.3c0-0.1,0-0.2,0-0.3C379.3,116.8,379.1,116.9,378.8,116.9z"/>
<path class="st0" d="M383.2,175.4c-0.6-0.6-1.3-0.9-2-1.4c-1.3-1-2.6-2-4-2.9c-1.7-1.1-3.7-2.9-5.6-3.6c-0.1,0-0.2,0-0.3,0
	c-0.5,0-1.1,0.4-1.6,0.4c-0.4,0.1-0.7,0.2-1.1,0.4c-0.2,0.1-0.4,0.2-0.7,0.3c-0.1,0.1-0.3,0.1-0.4,0.2c-0.4,0.1-0.9,0.2-1.4,0.1
	c-0.5-0.4-1.1-0.2-1.6,0c-0.8,0.3-1.6,0.3-2.1,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c-0.4-0.2-0.7-0.6-0.9-1.1c0,0,0,0,0,0l0,0
	l0,0l0,0c-0.2-0.4-0.4-0.6-0.9-0.4c0,0,0,0,0,0l0,0l0,0l0,0l0,0c0,0,0,0,0,0c-0.3-0.5-0.6-0.8-1-1c-0.2,0-0.4,0-0.6-0.1
	c-0.4-0.1-0.8-0.1-1.2-0.2c-0.6,0.1-1.2,0.3-1.8,0.4c-0.6,0.1-1.2,0.3-1.9,0.4c-2.5-0.3-4.9-0.1-7.3,0.8c0,0,0,0,0,0
	c-0.6,0-1.2,0.1-1.3,0.8c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.5-0.2-0.8,0-0.8,0.5l0,0c-0.6,0.3-1.3,0.5-1.9,0.8c-0.5,0.1-1,0.1-1.6,0.2
	c-0.2,0.2-0.3,0.4-0.4,0.7c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0,0,0c0.2,0.1,0.4,0.4,0.4,0.8c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0
	c-0.4-0.2-0.7,0-0.8,0.4c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.4,0.1-0.4,0.5-0.4,0.8c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.4,0.3-0.6,0.5,0,0.8
	c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0,0.5,0.4,0.7,0.8,0.8c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.1,0.4,0.5,0.4,0.8,0.4c0,0,0,0,0,0l0,0
	c0,0,0,0,0,0c0.1,0.4,0.5,0.4,0.9,0.4c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0.7,0.7,1.7,1,2.6,1.3c0.3,0.2,0.8,0.5,1.1,0.7
	c0.1,0.1,0.1,0.2,0.2,0.3c0.4,1.9,1.9,2.8,3.2,4c0.1,0.5,0.4,0.7,0.9,0.8c0,0,0,0,0,0l0,0l0,0c0,0,0,0,0,0c0.1,0.1,0.3,0.3,0.4,0.4
	c0,0,0,0,0,0c0.2,0.3,0.4,0.6,0.8,0.4c0,0,0,0,0,0l0,0l0,0l0,0l0,0c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.4,0.1,0.4,0.4,0.4c0,0,0,0,0,0
	l0,0c0,0,0,0,0,0c0.2,0.9,1,0.7,1.7,0.9c0.6,0.6,0.9,1.4,1.4,2.1c0.3,0.4,0.6,0.8,1,1.1c0.1,0.7,0.6,1,1.3,0.9c0,0,0,0,0,0l0,0
	c0,0,0,0,0,0c0,0,0,0,0,0c0.8,0.8,0.9,2.4,2.5,2.5c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,1.7,0.4,3.1,2.5,2.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0l0,0c0,0,0,0,0,0c-0.1,0.5-0.1,0.9,0.4,1.2c0,0,0,0,0,0l0,0c0,0,0,0,0,0
	c-0.1,0.9,0.2,1.8,0.6,2.7l0,0c0,0,0,0,0,0c0.4,0.2,0.7,0.4,1.1,0.6c0,0,0.1,0,0.1,0c0.2,0.6,0.9,0.2,1.1,0.4c0,0.1-0.1,0.2-0.1,0.2
	c0.3-0.1,0.6-0.4,0.8-0.6c0.4-0.4,0.6-0.9,0.8-1.4c0.1-0.2,0.2-0.5,0.3-0.6c0.2-0.4,0.5-0.8,0.7-1.2c0.4-0.8,0.8-1.6,1.4-1.9
	c2.6-1.4,4.5-3.5,6.3-5.6c1-1.1,2-2.3,3.1-3.3c0.6-0.5,0.5-1.1,0.5-1.5c0-0.1,0-0.1,0-0.2c0.2-2.9,1.1-4.7,3.1-5.9
	c0.5-0.3,0.7-0.6,0.8-0.9c0,0,0-0.1,0-0.1c0,0,0,0,0,0C383.4,176.1,383.4,175.7,383.2,175.4z M346.8,167.6L346.8,167.6L346.8,167.6
	C346.8,167.5,346.8,167.6,346.8,167.6z"/>
<path class="st0" d="M403.6,115.4c-0.5,0.1-1,0-1.4-0.3c-0.1-0.2-0.3-0.4-0.6-0.6c-0.2-0.1-0.3-0.2-0.5-0.3
	c-0.5-0.3-0.9-0.3-1.3-0.1c-0.4-0.2-0.9-0.6-1.3-1c-0.6-0.9-1.2-1.8-1.9-2.6c-0.1-0.2-0.1-0.5-0.2-0.7c-0.5-1.9-3.5-1.1-3,0.8
	c0.5,2,1.4,3.7,2,5.6c0.6,1.9,0.1,4.2,0.5,6.2c0.5,2-0.4,4,0.1,6.1c0.5,2.1,0.2,4,0.5,6.1c0.2,1.2,1.8,1.4,2.6,0.7
	c4.3-4.1,7-12.9,7.1-18.7C406.3,115.2,404.5,114.4,403.6,115.4z"/>
</svg>
