$primary_color: #0059ff;
$nav_color: #333333;
$titlColor: #333333;
$textColor: #555555;
$bg_color: #f1f6fc;
$text_color_black: #000;
$text_color_white: #ffffff;
$font_16: 1rem;
$font_18: 1.125rem;
$poppins_font: "Poppins";
$oswald_font: "Oswald";
$font_light: 100;
$font_regular: 400;
$font_medium: 500;
$font_semi_bold: 600;


* {
  transition: all .1s ease-out;
  transition-delay: 0s;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}
body {
  font-family: $poppins_font;
  font-weight: $font_regular;
  font-size: $font_16;
}
.clear {
  clear: both;
  height: 1px;
  width: 100%;
}
.btn-primary {
  color: $text_color_white;
  background-color: $primary_color;
  border-color:$primary_color;
}
.container1 {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
}


.primary_title {
  color: $titlColor;
  font-family: $poppins_font;
  font-weight: $font_semi_bold;
  font-size: 50px;
  letter-spacing: -1px;
}

.blue_btn {
  color: #fff;
  background-color: $primary_color;
  padding: 15px 37px;
  border-radius: 100px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid $primary_color;
  &:hover {
    color: $primary_color;
    background-color: transparent;
    border: 1px solid $primary_color;
  }
}

@include MQ(768px) {
  p {
    font-size: 14px;
  }
}