@font-face {
    font-family: 'av-icon';
    src:  url('/fonts/av-icon.eot?4nko6y');
    src:  url('/fonts/av-icon.eot?4nko6y#iefix') format('embedded-opentype'),
      url('/fonts/av-icon.ttf?4nko6y') format('truetype'),
      url('/fonts/av-icon.woff?4nko6y') format('woff'),
      url('/fonts/av-icon.svg?4nko6y#av-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="av-"], [class*=" av-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'av-icon' !important;
    // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .av-mouose:before {
    content: "\e90c";
    color: #fff;
  }
  .av-twitter:before {
    content: "\e900";
  }
  .av-facebook:before {
    content: "\e901";
    color: #fff;
  }
  .av-d-1:before {
    content: "\e902";
    color: #ffc036;
  }
  .av-d-2:before {
    content: "\e903";
    color: #52cd52;
  }
  .av-d-3:before {
    content: "\e904";
    color: #3283e8;
  }
  .av-d-4:before {
    content: "\e905";
    color: #9a61db;
  }
  .av-fe-1:before {
    content: "\e906";
    color: #ffc036;
  }
  .av-fe-2:before {
    content: "\e907";
    color: #ee4855;
  }
  .av-fe-3:before {
    content: "\e908";
    color: #119dd9;
  }
  .av-linkedIn:before {
    content: "\e909";
  }
  .av-play-blue:before {
    content: "\e90a";
    color: #119dd9;
  }
  .av-right-arrow:before {
    content: "\e90b";
    color: #119dd9;
  }
  