.footer {
    padding-top: 150px;
    background-color: #333333;
    h5 {
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
    }
    .ft_logo {
      width: 250px;
      max-width: 90%;
      display: inline-block;
      img {
        width: 100%;
        height: auto;
      }
    }
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 77px;
      padding-left: 0;
      li {
        margin-right: 18px;
          list-style-type: none;
      }
      .web_link {
        width: 74px;
        height: 74px;
        border-radius: 7px;
        background-color: #555;
        background-image: url(/images/Layer-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    .ft_link_list_block {
      display: block;
      margin-top: 20px;
      margin-right: 20px;
      text-align: left;
      a  {
        color: #777;
        font-size: 18px;
        font-weight: 300;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .email_form_block {
      label {
          position: relative;
          width: 100%;
          margin-top: 20px;
          input {
              width: 100%;
              padding: 23px 29px;
              background-color: transparent;
              border: 1px solid #404040;
              border-radius: 5px;
              color: #fff;
          }
          button {
              position: absolute;
              right: 0;
              top: 0;
              height: 100%;
              font-size: 22px;
              background-color: $primary_color;
              font-weight: 300;
              border: 0;
              color: #fff;
              padding: 0 22px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
          }
      }
  }
  .copy_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #777;
      padding: 25px 0 20px;
      margin-top: 40px;
      p {
          color: #777;
          font-size: 18px;
      }
      ul {
        display: flex;
        align-items: center;
        margin:0;
          li {
            margin-left: 13px;
              a {
                    font-size: 20px;
                    display: inline-block;
                    color: #777;
                    &:hover {
                        color: #fff;
                    }
              }
          }
      }
  }