header {
    background-color: transparent;
    padding: 15px 36px 17px 17px;
    .navbar-brand,
    .header-nav {
      padding: 0;
      font-size: 1rem;
    }
    .navbar-brand {
      margin-right: 1.8rem;
    }
    .bottom-to-top {
      width: 2px;
      border: 2px solid;
      border-top: 0;
      border-bottom: 0;
      border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #dadada 50%, rgba(255, 255, 255, 0) 100%);
      border-image-slice: 1;
      margin: 0 auto;
      height: 70px;
      border-right: 0;
      margin-right: 0.9rem;
    }
    .header-nav ul {
      li {
        a {
          text-decoration: none;
          color: $nav_color;
          font-size: 20px;
          padding: 15px;
        }
      }
    }
    a.btn-talk {
      text-decoration: none;
      background-color: $primary_color;
      padding: 8px;
      color: $text_color_white;
      width: 180px;
      border-radius: 50px;
      font-size: 18px;
      font-weight: $font_medium;
      i {
        background-color: $text_color_white;
        color: $primary_color;
        padding: 8px;
        border-radius: 50%;
        margin-right: 15px;
      }
    }
  }


  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 0 1rem;
    }
  }
  @media (min-width: 1200px) {

  }
  @media (max-width: 1199.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 0 0.6rem;
      font-size: 14px;
    }
  }
  @media (max-width: 991.98px) {
    .header-nav {
      .navbar-collapse ul {
        margin-top: 20px;
        box-shadow: 0 6px 9px 1px #e2e2e2;
        border: 1px solid #e2e2e2;
        li a.nav-link {
          padding: 5px 8px;
          font-size: 20px;
          &:hover {
            background-color: $primary_color;
            color: $text_color_white;
          }
        }
      }
      .form-inline {
        position: absolute;
        right: 65px;
        top: -10px;
      }
    }
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
    .header-nav {
      .navbar-collapse {
        z-index: 999;
        background: rgb(255, 255, 255);
      }
    }
    .header-nav .form-inline {
      position: absolute;
      right: auto;
      top: 60px;
      width: 100%;
      text-align: center;
      a.btn-talk {
        width: 100%;
      }
    }
    .navbar-brand img {
      width: 150px;
    }
  }
  