.home {
    margin-top: 200px;
    text-align: center;
    h2 {
      margin-bottom: 50px;
    }
    p {
      font-size: $font_18;
      font-weight: $font_light;
      margin-bottom: 50px;
    }
  }

.Choose_location {
  margin:150px 0;
  position: relative;
  background-color: #f9f9f9;
  padding: 120px 0;
  .map_block {
    width: 826px;
    max-width: 90%;
    margin: 60px auto 0;
    .st0:hover {
      // fill: #610ed1;
      // stroke: #610ed1;
    }
    .st1, .st2, .st3:hover {
      cursor: pointer;
    }
    .st1 {
      &:hover {
        fill: #ff5e70;
        stroke: #ff5e70;
      }
    }
    .map_text {
      cursor: pointer;
      font-size: 8px;
    }
    .st2:hover {
      fill: #610ed1;
      stroke: #610ed1;
    }
    .st3:hover {
      fill: #5dd6d1;
      stroke: #5dd6d1;
    }
  }
}
  
  .testimonial {
    margin: 150px 0;
    .quote_block {
      .t_img_block {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 35px auto 0;
      }
      .quote_img {
        width: 31px;
        margin: 16px auto 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      .quota_para {
        color: #555;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        margin: 13px auto 37px;
        width: 626px;
        max-width: 100%;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 250px;
          max-width: 80%;
          height: 1px;
          bottom: -16px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #000;
          opacity: .1;
        }
      }
      .quote_name {
        color: $textColor;
        text-transform: uppercase;
        h6 {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 1.5px;
        }
        h4 {
          color: $titlColor;
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 2px;
        }
      }
    }
  }

  .get_in_touch {
    background: url(/images/contact-bg.png) center center no-repeat;
    background-color: #000;
    padding: 75px 0;
    color: #fff;
    h2 {
      color: #fff;
      font-weight: 300;
    }
    p {
      margin-bottom: 0;
    }
    .blue_btn:hover {
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .contact_form {
    margin: 150px 0;
    :focus{outline: none;}
    .input-effect {
      position: relative;
      margin-bottom: 33px;
    }
    .effect_hover {
      border: 1px solid #ccc; 
      padding: 14px; 
      transition: 0.4s; 
      background: transparent;
      margin-bottom: 0;
    }
    .effect_hover ~ .focus-border {
      &:after, &:before {
        content: ""; 
        position: absolute; 
        top: -1px; 
        left: 50%; 
        width: 0; 
        height: 2px; 
        background-color: #3399FF; 
        transition: 0.4s;
      }
      &:after {
        top: auto; 
        bottom: 0;
      }
      i {
        &:after, &:before {
          content: ""; 
          position: absolute; 
          top: 50%; 
          left: 0;
           width: 2px; 
           height: 0; 
           background-color: #3399FF; 
           transition: 0.6s;
        }
        &:after {
          left: auto; right: 0;
        }
      }
    }
    .effect_hover:focus ~ .focus-border:before,
    .effect_hover:focus ~ .focus-border:after,
    .has-content.effect_hover ~ .focus-border:before,
    .has-content.effect_hover ~ .focus-border:after{left: 0; width: 100%; transition: 0.4s;}
    .effect_hover:focus ~ .focus-border i:before,
    .effect_hover:focus ~ .focus-border i:after,
    .has-content.effect_hover ~ .focus-border i:before,
    .has-content.effect_hover ~ .focus-border i:after{top: -1px; height: 100%; transition: 0.6s;}
    .effect_hover ~ label{position: absolute; left: 14px; width: 100%; top: 15px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
    .effect_hover:focus ~ label, .has-content.effect_hover ~ label{top: -18px; left: 0; font-size: 12px; color: #3399FF; transition: 0.3s;}

    form {
      margin: 75px 0;
      input ,textarea {
        width: 100%;
      }
      textarea {
        height: 223px;
      }
    }
  }

  