.location_color_identification {
  position: absolute;
  right: 40px;
  bottom: 20px;
  li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    p {
      margin-bottom: 0;
    }
  }
  .colo_block {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .available_area {
    background-color: #f0ecf7;
    border: 1px solid #A989E8;
  }
  .comingsoon_area {
    background-color: #f9e9eb;
    border: 1px solid #f78da1;
  }
  .francha_area {
    background-color: #e1f4f3;
    border: 1px solid #7fe4de;
  }
}
.map_block {
  position: relative;
  height: 32rem;
}
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path, circle {
  fill:#ffffff;
  stroke:#e7e9ec;
  &:hover {
    stroke: #e7e9ec;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #e7e9ec;
    cursor: pointer;
  }
}
#CA, #NV, #AZ {
  fill:#f0ecf7;
  stroke: #A989E8;
  &:hover {
    fill:#610ed1;
    stroke: #610ed1;
  }
}
#UT, #CO, #NM, #TX, #KS {
  fill:#f9e9eb;
  stroke: #f78da1;
  &:hover {
    fill:#ff5e70;
    stroke: #ff5e70;
  }
}
#IA, #MO {
  fill:#e1f4f3;
  stroke: #7fe4de;
  &:hover {
    fill:#5dd6d1;
    stroke: #5dd6d1;
  }
}
#path67 {
  fill: none;
  stroke: #A9A9A9;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 22px;
  padding: 9px 28px;
  line-height: 1.6;
  box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.09);
  border: 1px solid #e4e4e4;
}
.map_block {
  div {
    color: #000;
    font-weight: 600;
    font-size: 13px;
    span {
      color: #a3a5bf;
      font-size: 11px;
      font-weight: 300;
    }
  }
}