@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1350px;
  }
}
@media (max-width: 1199.98px) {
  
}
@media (max-width: 991.98px) {
  
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
  
}
