.slider-nav {
  img {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    opacity: 0.7;
    &:hover {
      transition: filter 0.5s ease-in-out;
      -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(0%); /* FF 35+ */
      cursor: pointer;
      opacity: 0.7;
    }
  }
  .slick-current img {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
  }
}

@media (min-width: 992px) {
  .slick-slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .slider-nav {
    margin-top: -130px;
    position: absolute;
    left: 20%;
    overflow: hidden;
    width: 80%;
    .slick-slide {
      margin-right: 15px;
      position: relative;
      background-color: #000000;
      .slider-nav-caption {
        position: absolute;
        bottom: 15px;
        left: 5%;
        transform: translateY(-15px);
        color: white;
        h2 {
          font-family: $oswald_font;
          font-weight: $font_regular;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 45px;
        }
      }
    }
    .slick-track {
      // width: 100% !important;
      .slick-slide:last-child {
        margin-right: 0px;
      }
    }
    .slick-prev {
      left: 25px;
      z-index: 99;
    }
    .slick-next {
      right: 25px;
      z-index: 99;
    }
    .slick-next:before,
    .slick-prev:before {
      color: red;
    }
  }
  .slider-for {
    .slick-slide > div > div {
      display: block !important;
    }
    .slick-slide {
      position: relative;
      background-color: #000000;
      img {
        opacity: 0.7;
      }
      .slider-for-caption {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: white;
        h2 {
          font-family: $oswald_font;
          font-weight: $font_regular;
          text-transform: uppercase;
          font-size: 55px;
          line-height: 86px;
        }
        p {
          font-size: 25px;
          line-height: 75px;
        }
      }
    }
  }
}
