
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
  // font-size: em(16);
}
// @import "_font.scss";
@import "_mixin.scss";
@import "_resettop.scss";
@import "_common.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_home.scss";
@import "map";
@import "footer";
// @import "_resetbottom.scss";

@import "_responsive.scss";

@-webkit-keyframes a {
	0% {
		stroke-dashoffset: 194
	}
	80% {
		stroke-dashoffset: 0
	}
	to {
		stroke-dashoffset: 0
	}
}

@keyframes a {
	0% {
		stroke-dashoffset: 194
	}
	80% {
		stroke-dashoffset: 0
	}
	to {
		stroke-dashoffset: 0
	}
}

