article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

* {
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-kerning: auto;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-smooth: always; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, figure {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

a img, img {
  border: none; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.textCenter {
  text-align: center; }

html {
  position: relative;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  overflow-x: hidden;
  font-weight: 400; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 15px; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 13px; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 11px; } }

.wrap {
  width: 1170px;
  max-width: 96%;
  margin: 0 auto;
  position: relative; }

::-moz-selection {
  background-color: #004a5a !important;
  color: #ebecec; }

::selection {
  background-color: #004a5a !important;
  color: #ebecec; }

a, a:after, a:before,
button, button:after, button:before,
input[type=submit] {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

a:hover {
  text-decoration: none !important; }

.currentLink {
  cursor: default; }

abbr[title] {
  border-bottom: 1px dotted; }

blockquote {
  margin: 10px 20px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.textHide {
  font: 0/0; }

figure.anim {
  position: relative;
  overflow: hidden; }
  figure.anim img {
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: none;
    transition: none; }
  figure.anim.active img {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 15s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 15s cubic-bezier(0.19, 1, 0.22, 1); }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none; }

dd {
  margin: 0; }

* {
  transition: all .1s ease-out;
  transition-delay: 0s; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none !important; }

body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem; }

.clear {
  clear: both;
  height: 1px;
  width: 100%; }

.btn-primary {
  color: #ffffff;
  background-color: #0059ff;
  border-color: #0059ff; }

.container1 {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto; }

.primary_title {
  color: #333333;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 50px;
  letter-spacing: -1px; }

.blue_btn {
  color: #fff;
  background-color: #0059ff;
  padding: 15px 37px;
  border-radius: 100px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #0059ff; }
  .blue_btn:hover {
    color: #0059ff;
    background-color: transparent;
    border: 1px solid #0059ff; }

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px; } }

header {
  background-color: transparent;
  padding: 15px 36px 17px 17px; }
  header .navbar-brand,
  header .header-nav {
    padding: 0;
    font-size: 1rem; }
  header .navbar-brand {
    margin-right: 1.8rem; }
  header .bottom-to-top {
    width: 2px;
    border: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #dadada 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    margin: 0 auto;
    height: 70px;
    border-right: 0;
    margin-right: 0.9rem; }
  header .header-nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    padding: 15px; }
  header a.btn-talk {
    text-decoration: none;
    background-color: #0059ff;
    padding: 8px;
    color: #ffffff;
    width: 180px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500; }
    header a.btn-talk i {
      background-color: #ffffff;
      color: #0059ff;
      padding: 8px;
      border-radius: 50%;
      margin-right: 15px; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1rem; } }

@media (max-width: 1199.98px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 0.6rem;
    font-size: 14px; } }

@media (max-width: 991.98px) {
  .header-nav .navbar-collapse ul {
    margin-top: 20px;
    box-shadow: 0 6px 9px 1px #e2e2e2;
    border: 1px solid #e2e2e2; }
    .header-nav .navbar-collapse ul li a.nav-link {
      padding: 5px 8px;
      font-size: 20px; }
      .header-nav .navbar-collapse ul li a.nav-link:hover {
        background-color: #0059ff;
        color: #ffffff; }
  .header-nav .form-inline {
    position: absolute;
    right: 65px;
    top: -10px; } }

@media (max-width: 575.98px) {
  .header-nav .navbar-collapse {
    z-index: 999;
    background: white; }
  .header-nav .form-inline {
    position: absolute;
    right: auto;
    top: 60px;
    width: 100%;
    text-align: center; }
    .header-nav .form-inline a.btn-talk {
      width: 100%; }
  .navbar-brand img {
    width: 150px; } }

.slider-nav img {
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* FF 35+ */
  opacity: 0.7; }
  .slider-nav img:hover {
    transition: filter 0.5s ease-in-out;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */
    cursor: pointer;
    opacity: 0.7; }

.slider-nav .slick-current img {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */ }

@media (min-width: 992px) {
  .slick-slide img {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .slider-nav {
    margin-top: -130px;
    position: absolute;
    left: 20%;
    overflow: hidden;
    width: 80%; }
    .slider-nav .slick-slide {
      margin-right: 15px;
      position: relative;
      background-color: #000000; }
      .slider-nav .slick-slide .slider-nav-caption {
        position: absolute;
        bottom: 15px;
        left: 5%;
        transform: translateY(-15px);
        color: white; }
        .slider-nav .slick-slide .slider-nav-caption h2 {
          font-family: "Oswald";
          font-weight: 400;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 45px; }
    .slider-nav .slick-track .slick-slide:last-child {
      margin-right: 0px; }
    .slider-nav .slick-prev {
      left: 25px;
      z-index: 99; }
    .slider-nav .slick-next {
      right: 25px;
      z-index: 99; }
    .slider-nav .slick-next:before,
    .slider-nav .slick-prev:before {
      color: red; }
  .slider-for .slick-slide > div > div {
    display: block !important; }
  .slider-for .slick-slide {
    position: relative;
    background-color: #000000; }
    .slider-for .slick-slide img {
      opacity: 0.7; }
    .slider-for .slick-slide .slider-for-caption {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      color: white; }
      .slider-for .slick-slide .slider-for-caption h2 {
        font-family: "Oswald";
        font-weight: 400;
        text-transform: uppercase;
        font-size: 55px;
        line-height: 86px; }
      .slider-for .slick-slide .slider-for-caption p {
        font-size: 25px;
        line-height: 75px; } }

.home {
  margin-top: 200px;
  text-align: center; }
  .home h2 {
    margin-bottom: 50px; }
  .home p {
    font-size: 1.125rem;
    font-weight: 100;
    margin-bottom: 50px; }

.Choose_location {
  margin: 150px 0;
  position: relative;
  background-color: #f9f9f9;
  padding: 120px 0; }
  .Choose_location .map_block {
    width: 826px;
    max-width: 90%;
    margin: 60px auto 0; }
    .Choose_location .map_block .st1, .Choose_location .map_block .st2, .Choose_location .map_block .st3:hover {
      cursor: pointer; }
    .Choose_location .map_block .st1:hover {
      fill: #ff5e70;
      stroke: #ff5e70; }
    .Choose_location .map_block .map_text {
      cursor: pointer;
      font-size: 8px; }
    .Choose_location .map_block .st2:hover {
      fill: #610ed1;
      stroke: #610ed1; }
    .Choose_location .map_block .st3:hover {
      fill: #5dd6d1;
      stroke: #5dd6d1; }

.testimonial {
  margin: 150px 0; }
  .testimonial .quote_block .t_img_block {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 35px auto 0; }
  .testimonial .quote_block .quote_img {
    width: 31px;
    margin: 16px auto 0; }
    .testimonial .quote_block .quote_img img {
      width: 100%;
      height: auto; }
  .testimonial .quote_block .quota_para {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin: 13px auto 37px;
    width: 626px;
    max-width: 100%;
    position: relative; }
    .testimonial .quote_block .quota_para:after {
      content: '';
      position: absolute;
      width: 250px;
      max-width: 80%;
      height: 1px;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
      opacity: .1; }
  .testimonial .quote_block .quote_name {
    color: #555555;
    text-transform: uppercase; }
    .testimonial .quote_block .quote_name h6 {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1.5px; }
    .testimonial .quote_block .quote_name h4 {
      color: #333333;
      font-weight: 500;
      font-size: 22px;
      letter-spacing: 2px; }

.get_in_touch {
  background: url(/images/contact-bg.png) center center no-repeat;
  background-color: #000;
  padding: 75px 0;
  color: #fff; }
  .get_in_touch h2 {
    color: #fff;
    font-weight: 300; }
  .get_in_touch p {
    margin-bottom: 0; }
  .get_in_touch .blue_btn:hover {
    color: #fff;
    border: 1px solid #fff; }

.contact_form {
  margin: 150px 0; }
  .contact_form :focus {
    outline: none; }
  .contact_form .input-effect {
    position: relative;
    margin-bottom: 33px; }
  .contact_form .effect_hover {
    border: 1px solid #ccc;
    padding: 14px;
    transition: 0.4s;
    background: transparent;
    margin-bottom: 0; }
  .contact_form .effect_hover ~ .focus-border:after, .contact_form .effect_hover ~ .focus-border:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s; }
  .contact_form .effect_hover ~ .focus-border:after {
    top: auto;
    bottom: 0; }
  .contact_form .effect_hover ~ .focus-border i:after, .contact_form .effect_hover ~ .focus-border i:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #3399FF;
    transition: 0.6s; }
  .contact_form .effect_hover ~ .focus-border i:after {
    left: auto;
    right: 0; }
  .contact_form .effect_hover:focus ~ .focus-border:before,
  .contact_form .effect_hover:focus ~ .focus-border:after,
  .contact_form .has-content.effect_hover ~ .focus-border:before,
  .contact_form .has-content.effect_hover ~ .focus-border:after {
    left: 0;
    width: 100%;
    transition: 0.4s; }
  .contact_form .effect_hover:focus ~ .focus-border i:before,
  .contact_form .effect_hover:focus ~ .focus-border i:after,
  .contact_form .has-content.effect_hover ~ .focus-border i:before,
  .contact_form .has-content.effect_hover ~ .focus-border i:after {
    top: -1px;
    height: 100%;
    transition: 0.6s; }
  .contact_form .effect_hover ~ label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 15px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px; }
  .contact_form .effect_hover:focus ~ label, .contact_form .has-content.effect_hover ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #3399FF;
    transition: 0.3s; }
  .contact_form form {
    margin: 75px 0; }
    .contact_form form input, .contact_form form textarea {
      width: 100%; }
    .contact_form form textarea {
      height: 223px; }

.location_color_identification {
  position: absolute;
  right: 40px;
  bottom: 20px; }
  .location_color_identification li {
    display: flex;
    align-items: center;
    margin: 5px 0; }
    .location_color_identification li p {
      margin-bottom: 0; }
  .location_color_identification .colo_block {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px; }
  .location_color_identification .available_area {
    background-color: #f0ecf7;
    border: 1px solid #A989E8; }
  .location_color_identification .comingsoon_area {
    background-color: #f9e9eb;
    border: 1px solid #f78da1; }
  .location_color_identification .francha_area {
    background-color: #e1f4f3;
    border: 1px solid #7fe4de; }

.map_block {
  position: relative;
  height: 32rem; }

#us-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

path, circle {
  fill: #ffffff;
  stroke: #e7e9ec; }
  path:hover, circle:hover {
    stroke: #e7e9ec;
    stroke-width: 2px;
    stroke-linejoin: round;
    fill: #e7e9ec;
    cursor: pointer; }

#CA, #NV, #AZ {
  fill: #f0ecf7;
  stroke: #A989E8; }
  #CA:hover, #NV:hover, #AZ:hover {
    fill: #610ed1;
    stroke: #610ed1; }

#UT, #CO, #NM, #TX, #KS {
  fill: #f9e9eb;
  stroke: #f78da1; }
  #UT:hover, #CO:hover, #NM:hover, #TX:hover, #KS:hover {
    fill: #ff5e70;
    stroke: #ff5e70; }

#IA, #MO {
  fill: #e1f4f3;
  stroke: #7fe4de; }
  #IA:hover, #MO:hover {
    fill: #5dd6d1;
    stroke: #5dd6d1; }

#path67 {
  fill: none;
  stroke: #A9A9A9;
  cursor: default; }

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 22px;
  padding: 9px 28px;
  line-height: 1.6;
  box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.09);
  border: 1px solid #e4e4e4; }

.map_block div {
  color: #000;
  font-weight: 600;
  font-size: 13px; }
  .map_block div span {
    color: #a3a5bf;
    font-size: 11px;
    font-weight: 300; }

.footer {
  padding-top: 150px;
  background-color: #333333; }
  .footer h5 {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400; }
  .footer .ft_logo {
    width: 250px;
    max-width: 90%;
    display: inline-block; }
    .footer .ft_logo img {
      width: 100%;
      height: auto; }
  .footer ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 77px;
    padding-left: 0; }
    .footer ul li {
      margin-right: 18px;
      list-style-type: none; }
    .footer ul .web_link {
      width: 74px;
      height: 74px;
      border-radius: 7px;
      background-color: #555;
      background-image: url(/images/Layer-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .footer .ft_link_list_block {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    text-align: left; }
    .footer .ft_link_list_block a {
      color: #777;
      font-size: 18px;
      font-weight: 300; }
      .footer .ft_link_list_block a:hover {
        color: #fff; }

.email_form_block label {
  position: relative;
  width: 100%;
  margin-top: 20px; }
  .email_form_block label input {
    width: 100%;
    padding: 23px 29px;
    background-color: transparent;
    border: 1px solid #404040;
    border-radius: 5px;
    color: #fff; }
  .email_form_block label button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    background-color: #0059ff;
    font-weight: 300;
    border: 0;
    color: #fff;
    padding: 0 22px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.copy_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #777;
  padding: 25px 0 20px;
  margin-top: 40px; }
  .copy_text p {
    color: #777;
    font-size: 18px; }
  .copy_text ul {
    display: flex;
    align-items: center;
    margin: 0; }
    .copy_text ul li {
      margin-left: 13px; }
      .copy_text ul li a {
        font-size: 20px;
        display: inline-block;
        color: #777; }
        .copy_text ul li a:hover {
          color: #fff; }

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1350px; } }

@-webkit-keyframes a {
  0% {
    stroke-dashoffset: 194; }
  80% {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 0; } }

@keyframes a {
  0% {
    stroke-dashoffset: 194; }
  80% {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=maps/main.css.map */
